<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.trafficOperationControl.activeTrafficFlowControl.SdTrafficIncidentMeasureMapper">

    <resultMap type="SdTrafficIncidentMeasure" id="SdTrafficIncidentMeasureResult">
        <result property="id"    column="id"    />
        <result property="incidentId"    column="incident_id"    />
        <result property="configLevelId" column="config_level_id"/>
        <!--<result property="measureType"    column="measure_type"    />-->
        <!--<result property="controlRangeMin"    column="control_range_min"    />-->
        <!--<result property="controlRangeMax"    column="control_range_max"    />-->
        <!--<result property="controlMeasure"    column="control_measure"    />-->
        <!--<result property="limitSpeed"    column="limit_speed"    />-->
        <!--<result property="limitType"    column="limit_type"    />-->
        <!--<result property="carType"    column="car_type"    />-->
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSdTrafficIncidentMeasureVo">
        select id, incident_id,config_level_id,
         <!-- measure_type, control_range_min, control_range_max, control_measure, limit_speed, limit_type, car_type, -->
         create_time, create_by, update_time, update_by from sd_traffic_incident_measure
    </sql>

    <select id="selectSdTrafficIncidentMeasureList" parameterType="SdTrafficIncidentMeasure" resultMap="SdTrafficIncidentMeasureResult">
        <include refid="selectSdTrafficIncidentMeasureVo"/>
        <where>
            <if test="incidentId != null "> and incident_id = #{incidentId}</if>
            <if test="configLevelId != null "> and config_level_id = #{configLevelId}</if>
            <!--<if test="measureType != null  and measureType != ''"> and measure_type = #{measureType}</if>-->
            <!--<if test="controlRangeMin != null  and controlRangeMin != ''"> and control_range_min = #{controlRangeMin}</if>-->
            <!--<if test="controlRangeMax != null  and controlRangeMax != ''"> and control_range_max = #{controlRangeMax}</if>-->
            <!--<if test="controlMeasure != null  and controlMeasure != ''"> and control_measure = #{controlMeasure}</if>-->
            <!--<if test="limitSpeed != null  and limitSpeed != ''"> and limit_speed = #{limitSpeed}</if>-->
            <!--<if test="limitType != null  and limitType != ''"> and limit_type = #{limitType}</if>-->
            <!--<if test="carType != null  and carType != ''"> and car_type = #{carType}</if>-->
        </where>
    </select>

    <select id="selectSdTrafficIncidentMeasureById" parameterType="Long" resultMap="SdTrafficIncidentMeasureResult">
        <include refid="selectSdTrafficIncidentMeasureVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdTrafficIncidentMeasure" parameterType="SdTrafficIncidentMeasure" useGeneratedKeys="true" keyProperty="id">
        insert into sd_traffic_incident_measure
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="incidentId != null">incident_id,</if>
            <if test="configLevelId != null">config_level_id,</if>
            <!--<if test="measureType != null">measure_type,</if>-->
            <!--<if test="controlRangeMin != null">control_range_min,</if>-->
            <!--<if test="controlRangeMax != null">control_range_max,</if>-->
            <!--<if test="controlMeasure != null">control_measure,</if>-->
            <!--<if test="limitSpeed != null">limit_speed,</if>-->
            <!--<if test="limitType != null">limit_type,</if>-->
            <!--<if test="carType != null">car_type,</if>-->
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="incidentId != null">#{incidentId},</if>
            <if test="configLevelId != null">#{configLevelId},</if>
            <!--<if test="measureType != null">#{measureType},</if>-->
            <!--<if test="controlRangeMin != null">#{controlRangeMin},</if>-->
            <!--<if test="controlRangeMax != null">#{controlRangeMax},</if>-->
            <!--<if test="controlMeasure != null">#{controlMeasure},</if>-->
            <!--<if test="limitSpeed != null">#{limitSpeed},</if>-->
            <!--<if test="limitType != null">#{limitType},</if>-->
            <!--<if test="carType != null">#{carType},</if>-->
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSdTrafficIncidentMeasure" parameterType="SdTrafficIncidentMeasure">
        update sd_traffic_incident_measure
        <trim prefix="SET" suffixOverrides=",">
            <if test="incidentId != null">incident_id = #{incidentId},</if>
            <if test="configLevelId != null">config_level_id = #{configLevelId},</if>
            <!--<if test="measureType != null">measure_type = #{measureType},</if>-->
            <!--<if test="controlRangeMin != null">control_range_min = #{controlRangeMin},</if>-->
            <!--<if test="controlRangeMax != null">control_range_max = #{controlRangeMax},</if>-->
            <!--<if test="controlMeasure != null">control_measure = #{controlMeasure},</if>-->
            <!--<if test="limitSpeed != null">limit_speed = #{limitSpeed},</if>-->
            <!--<if test="limitType != null">limit_type = #{limitType},</if>-->
            <!--<if test="carType != null">car_type = #{carType},</if>-->
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdTrafficIncidentMeasureById" parameterType="Long">
        delete from sd_traffic_incident_measure where id = #{id}
    </delete>

    <delete id="deleteSdTrafficIncidentMeasureByIds" parameterType="String">
        delete from sd_traffic_incident_measure where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--删除事件关联的交通管控措施-->
    <delete id="delMultiIncidentMeasure">
        delete from sd_traffic_incident_measure where incident_id = #{incidentId}
    </delete>

    <select id="getIncidentMeasureByIncidentId" resultMap="SdTrafficIncidentMeasureResult">
        <include refid="selectSdTrafficIncidentMeasureVo"/>
         where incident_id = #{incidentId}
    </select>
</mapper>
