<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysElemonitorMapper">



	<select id="getExternalSystemEnergy" resultType="hashmap">
		select * from external_system where INSTR(tunnel_id, #{tunnelId}) > 0 and system_name = #{sysName}
	</select>
</mapper>
