<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.trafficBroadcasting.SdBroadcastInformationListMapper">

    <resultMap type="SdBroadcastInformationList" id="SdBroadcastInformationListResult">
        <result property="id"    column="id"    />
        <result property="broadcastName"    column="broadcast_name"    />
        <result property="broadcastLocation"    column="broadcast_location"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="tunnelName"    column="tunnel_name"    />
        <result property="manufactor"    column="manufactor"    />
        <result property="maximumVolume"    column="maximum_volume"    />
        <result property="maximumNumberOfBroadcasts"    column="maximum_number_of_broadcasts"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remake"    column="remake"    />
        <result property="remake1"    column="remake1"    />
        <result property="remake2"    column="remake2"    />
    </resultMap>

    <sql id="selectSdBroadcastInformationListVo">
        select a.id, a.broadcast_name, a.broadcast_location, a.tunnel_id, a.manufactor, a.maximum_volume,
        a.maximum_number_of_broadcasts, a.create_time, a.create_by, a.update_time, a.update_by, a.remake,
        a.remake1, a.remake2, sdt.tunnel_name from sd_broadcast_information_list a
        left join sd_tunnels sdt on a.tunnel_id = sdt.tunnel_id
    </sql>

    <select id="selectSdBroadcastInformationListList" parameterType="SdBroadcastInformationList" resultMap="SdBroadcastInformationListResult">
        <include refid="selectSdBroadcastInformationListVo"/>
        <where>
            <if test="broadcastName != null  and broadcastName != ''"> and a.broadcast_name like concat('%', #{broadcastName}, '%')</if>
            <if test="broadcastLocation != null  and broadcastLocation != ''"> and a.broadcast_location = #{broadcastLocation}</if>
            <if test="tunnelId != null  and tunnelId != ''"> and a.tunnel_id = #{tunnelId}</if>
            <if test="manufactor != null  and manufactor != ''"> and a.manufactor = #{manufactor}</if>
            <if test="maximumVolume != null  and maximumVolume != ''"> and a.maximum_volume = #{maximumVolume}</if>
            <if test="maximumNumberOfBroadcasts != null  and maximumNumberOfBroadcasts != ''"> and a.maximum_number_of_broadcasts = #{maximumNumberOfBroadcasts}</if>
            <if test="remake != null  and remake != ''"> and a.remake = #{remake}</if>
            <if test="remake1 != null  and remake1 != ''"> and a.remake1 = #{remake1}</if>
            <if test="remake2 != null  and remake2 != ''"> and a.remake2 = #{remake2}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (sdt.dept_id = #{params.deptId} OR sdt.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdBroadcastInformationListById" parameterType="Long" resultMap="SdBroadcastInformationListResult">
        <include refid="selectSdBroadcastInformationListVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertSdBroadcastInformationList" parameterType="SdBroadcastInformationList" useGeneratedKeys="true" keyProperty="id">
        insert into sd_broadcast_information_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="broadcastName != null">broadcast_name,</if>
            <if test="broadcastLocation != null">broadcast_location,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="manufactor != null">manufactor,</if>
            <if test="maximumVolume != null">maximum_volume,</if>
            <if test="maximumNumberOfBroadcasts != null">maximum_number_of_broadcasts,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remake != null">remake,</if>
            <if test="remake1 != null">remake1,</if>
            <if test="remake2 != null">remake2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="broadcastName != null">#{broadcastName},</if>
            <if test="broadcastLocation != null">#{broadcastLocation},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="manufactor != null">#{manufactor},</if>
            <if test="maximumVolume != null">#{maximumVolume},</if>
            <if test="maximumNumberOfBroadcasts != null">#{maximumNumberOfBroadcasts},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remake != null">#{remake},</if>
            <if test="remake1 != null">#{remake1},</if>
            <if test="remake2 != null">#{remake2},</if>
         </trim>
    </insert>

    <update id="updateSdBroadcastInformationList" parameterType="SdBroadcastInformationList">
        update sd_broadcast_information_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="broadcastName != null">broadcast_name = #{broadcastName},</if>
            <if test="broadcastLocation != null">broadcast_location = #{broadcastLocation},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="manufactor != null">manufactor = #{manufactor},</if>
            <if test="maximumVolume != null">maximum_volume = #{maximumVolume},</if>
            <if test="maximumNumberOfBroadcasts != null">maximum_number_of_broadcasts = #{maximumNumberOfBroadcasts},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remake != null">remake = #{remake},</if>
            <if test="remake1 != null">remake1 = #{remake1},</if>
            <if test="remake2 != null">remake2 = #{remake2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdBroadcastInformationListById" parameterType="Long">
        delete from sd_broadcast_information_list where id = #{id}
    </delete>

    <delete id="deleteSdBroadcastInformationListByIds" parameterType="String">
        delete from sd_broadcast_information_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
