<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.intelligentMonitoring.TrafficManagementUserMessageMapper">

    <resultMap type="TrafficManagementUserMessageDTO" id="TrafficManagementUserMessageResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="trafficManagementId"    column="traffic_management_id"    />
        <result property="vehicleType"    column="vehicle_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectTrafficManagementUserMessageVo">
        select id, user_id, traffic_management_id, create_time from traffic_management_user_message
    </sql>

    <select id="selectTrafficManagementUserMessageList" parameterType="TrafficManagementUserMessage" resultMap="TrafficManagementUserMessageResult">
        select
        tmum.id,
        tmum.user_id,
        tmum.traffic_management_id,
        tmum.create_time,
        tm.vehicle_type,
        tm.start_time,
        tm.end_time
        from
        traffic_management_user_message as tmum
        left join traffic_management as tm on tm.id = tmum.traffic_management_id
        where tmum.user_id = #{userId}
        <if test="params.userId != null and params.userId != ''"> and tmum.user_id = #{params.userId}</if>
        <if test="params.trafficManagementId != null and params.trafficManagementId != ''"> and tmum.traffic_management_id = #{params.trafficManagementId}</if>
    </select>

    <select id="selectTrafficManagementUserMessageById" parameterType="Integer" resultMap="TrafficManagementUserMessageResult">
        <include refid="selectTrafficManagementUserMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertTrafficManagementUserMessage" parameterType="TrafficManagementUserMessage" useGeneratedKeys="true" keyProperty="id">
        insert into traffic_management_user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="trafficManagementId != null">traffic_management_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="trafficManagementId != null">#{trafficManagementId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTrafficManagementUserMessage" parameterType="TrafficManagementUserMessage">
        update traffic_management_user_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="trafficManagementId != null">traffic_management_id = #{trafficManagementId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrafficManagementUserMessageById" parameterType="Integer">
        delete from traffic_management_user_message where id = #{id}
    </delete>

    <delete id="deleteTrafficManagementUserMessageByIds" parameterType="String">
        delete from traffic_management_user_message where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
