<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.webthings.dao.SendMsgMapper">
    <select id="selectDict" resultType="com.tunnel.webthings.domain.Jqdict">
        select
               *
        from
             sys_jq_dict
    </select>
</mapper>