<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.emeDrill.SdEmergencyDrillMapper">
    
    <resultMap type="SdEmergencyDrill" id="SdEmergencyDrillResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="person"    column="person"    />
        <result property="phone"    column="phone"    />
        <result property="drillTime"    column="drill_time"    />
    </resultMap>

    <sql id="selectSdEmergencyDrillVo">
        select id, name, content, type, tunnel_id, person, phone, drill_time from sd_emergency_drill
    </sql>

    <select id="selectSdEmergencyDrillList" parameterType="SdEmergencyDrill" resultMap="SdEmergencyDrillResult">
        <include refid="selectSdEmergencyDrillVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="person != null  and person != ''"> and person = #{person}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="drillTime != null "> and drill_time = #{drillTime}</if>
        </where>
    </select>
    
    <select id="selectSdEmergencyDrillById" parameterType="Long" resultMap="SdEmergencyDrillResult">
        <include refid="selectSdEmergencyDrillVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEmergencyDrill" parameterType="SdEmergencyDrill" useGeneratedKeys="true" keyProperty="id">
        insert into sd_emergency_drill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="content != null">content,</if>
            <if test="type != null">type,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="person != null">person,</if>
            <if test="phone != null">phone,</if>
            <if test="drillTime != null">drill_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="content != null">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="person != null">#{person},</if>
            <if test="phone != null">#{phone},</if>
            <if test="drillTime != null">#{drillTime},</if>
         </trim>
    </insert>

    <update id="updateSdEmergencyDrill" parameterType="SdEmergencyDrill">
        update sd_emergency_drill
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="content != null">content = #{content},</if>
            <if test="type != null">type = #{type},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="person != null">person = #{person},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="drillTime != null">drill_time = #{drillTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEmergencyDrillById" parameterType="Long">
        delete from sd_emergency_drill where id = #{id}
    </delete>

    <delete id="deleteSdEmergencyDrillByIds" parameterType="String">
        delete from sd_emergency_drill where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>