<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.event.SdPlanTypeMapper">
    
    <resultMap type="SdPlanType" id="SdPlanTypeResult">
        <result property="id"    column="id"    />
        <result property="planType"    column="plan_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdPlanTypeVo">
        select id, plan_type, create_by, create_time, update_by, update_time from sd_plan_type
    </sql>

    <select id="selectSdPlanTypeList" parameterType="SdPlanType" resultMap="SdPlanTypeResult">
        <include refid="selectSdPlanTypeVo"/>
        <where>  
            <if test="planType != null  and planType != ''"> and plan_type = #{planType}</if>
        </where>
    </select>
    
    <select id="selectSdPlanTypeById" parameterType="Long" resultMap="SdPlanTypeResult">
        <include refid="selectSdPlanTypeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdPlanType" parameterType="SdPlanType" useGeneratedKeys="true" keyProperty="id">
        insert into sd_plan_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planType != null">plan_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planType != null">#{planType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdPlanType" parameterType="SdPlanType">
        update sd_plan_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="planType != null">plan_type = #{planType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdPlanTypeById" parameterType="Long">
        delete from sd_plan_type where id = #{id}
    </delete>

    <delete id="deleteSdPlanTypeByIds" parameterType="String">
        delete from sd_plan_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>