@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar-dark.scss";
@import "./sidebar-light.scss";
@import "./sidebar-blue.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  overflow-x: hidden;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  >div:nth-of-type(1){
    height: 100%;
    .main-container{
      height: calc(100% - 7.6vh);
      .separate{
        height: 100%;
        padding: 10px;
        // background: #E2EEFE;
      }
      .noSeparate{
        height: 100%;
        background: none;
      }
    // transform: translateY(-14px);
    // border: solid 1px red;
      
      .app-main{
        height:calc(100% - 4vh);
      }
      .appMainIndex{
        height:100%;
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
p {
  margin: 0;
}
.app-container {
  padding: 2px 15px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
// 内页标题全部样式
.inner_title {
  margin-bottom: 20px;
}
.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container,.specialPagination {
  margin-top: 30px;
  .el-input--medium .el-input__inner{
    height: 28px;
    line-height: 28px;
  }
}
.specialPagination{
  position:fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  .el-pager li{
    margin: 0 2px;
    border-radius: 2px;
    min-width: 30px;
    height: 28px;
  }
  .btn-next,.btn-prev{
    height: 28px;
  }
  .el-select .el-input .el-input__inner{
    height: 28px;
  }
  .el-input--medium .el-input__inner{
    height: 28px;
  }
}
// 表格上方el-row
.tabTopFormRow{
  margin: 10px 0 14px;
  >.el-col{
    padding:0;
  }
}
.topFormRow{
  margin: 14px 0;
  >.el-col{
    padding:0;
  }
}
// 右侧搜索框下拉框
.searchBoxTab,.searchBox,.searchBox1 {
  position: absolute;
  z-index: 1996;
  padding: 20px;
  box-sizing: border-box;
  .el-form-item{
    width: 100%;
    .el-form-item__content {
      width: 80%;
      .el-select {
        width: 100%;
      }
    }
  }
  .bottomBox {
    width: 100%;
    margin-top: 10px;
    .el-form-item__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}
.searchBoxMini{
  .el-form-item__content {
    width: 72% !important;
  }
}
.treeSearchBox{
  top: 13% !important;
  right: 0% !important;
  width: 28.2% !important;
}
.searchBoxTab,.searchBoxTab1{
  top: 6%;
  right: 0%;
  width: 453px;
}
.searchBox,.searchBox1 {
  top: 6.8%;
  right: 0.8%;
  width: 23.8%;
}
// 级联树形菜单
.vue-treeselect__control{
  height: 32px !important;
}
// 时间日期选择框
.el-range-editor--small.el-input__inner{
  height: 4vh;
}
.el-dialog__body,.el-dialog__footer{
  // padding:0px 20px 10px 20px;
  .el-form-item__label{
    caret-color: rgba(0,0,0,0);
    user-select: none; 
  }
  .dialog-footer{
    display: flex;
    justify-content: right;
    .submitButton,.closeButton,.zancunButton{
      width: 80px;
      height: 28px;
      border-radius: 14px !important;
      line-height: 28px;
      text-align: center;
      padding: 0;
      color: #fff;
      border:none;
      font-size: 14px;
    }
  }
}
// .el-dialog__body{
//   max-height: 78vh;
//   overflow: auto;
// }
.el-table{
  caret-color: rgba(0,0,0,0);
  user-select: none; 
}
.el-table th.el-table__cell > .cell{
  padding: 0;
}
.el-table--border .el-table__cell:first-child .cell{
  padding: 0;
}
// 所有级联树 文字垂直居中
.vue-treeselect--has-value .vue-treeselect__input{
  vertical-align: baseline !important;
}
.el-dialog__header{
  caret-color: rgba(0,0,0,0);
  user-select: none; 
}
.el-button:hover{
  background-color: none;
}
// 所有页面small按钮样式统一 且不带鼠标移入效果
.el-button--small{
  background: linear-gradient(180deg, #4CBFFF 0%, #259BFF 100%) !important;
  border: 1px solid #65BFFF !important;
  color: #fff !important;
}
// // 输入框背景色
// .el-input--small .el-input__inner{
//   background-color: #F2F8FF;
// }
// // 下拉框背景色
// .el-input--medium .el-input__inner{
//   background-color: #F2F8FF;
// }
// // 时间框背景色
// .el-range-editor.el-input__inner{
//   background-color: #F2F8FF;
// }
// .el-range-editor--small .el-range-input{
//   background-color: #F2F8FF;
// }

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  // color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.select-width {
  width: 100%;
}
