.theme-dark {
  .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title{
    background-color: #165BA2;
    height: 52px !important;
    line-height: 50px !important;
    border-radius: 8px;

    i{
      color: white;
    }
  }
  .el-menu--horizontal .el-menu .el-menu-item:hover, .el-menu--horizontal .el-menu .el-submenu__title:hover{
    background-color: #2971CC;
    border-radius: 8px;
    
  }
  .el-menu--collapse .el-menu .el-submenu, .el-menu--popup{
    min-width: 190px !important;
  }
  .el-menu {
    background: #165BA2;
    border-radius: 14px;
  }
  .has-logo .el-menu {
    background: #004375;
    border-radius: 14px;

  }
  .has-logo {
    .menuitem{
      background: transparent !important;
      color: #fff !important;
  
    }
    .menuitem:hover{
      background: #2971CC !important;
    }
    // .el-submenu{
    //   padding: 0 10px;
    // }
  }
  .specialPagination{
    .el-pager li{
      background: white;
      border: solid 1px #DCDFE6;
    }
    .el-pager li.active{
      background-color: #39ADFF !important;
      color: white !important;
    }
  }
  .menuitem{
    height:52px;line-height:50px;overflow-y: auto;
    margin: 0px auto;
    background: #165BA2 !important;

  }
  .menuitem:hover{
    background: #2971CC !important;
    border-radius: 10px !important;
  }
  .el-select-dropdown {
    .el-scrollbar__wrap::-webkit-scrollbar-track {
      background-color: #ffffff;
    }

    .el-scrollbar__wrap::-webkit-scrollbar {
      width: 12px;
      background-color: #ffffff;
    }

    .el-scrollbar__wrap::-webkit-scrollbar-thumb {
      background-color: #ffffff;
    }
  }
  // .el-input-number__increase, .el-input-number__decrease{
  //   background: #012E51 !important;
  //   color: white !important;
  //   border-left: 1px solid #05AFE3 !important;
  // }
  // .el-input-number__increase{
  //   border-bottom: 1px solid #05AFE3 !important;
  // }
  // 表格上方虚线
  .tableTopHr{
    height: 1px;
    margin: 14px 0;
    background-image: linear-gradient(
      to right,
      #CFD5E0 0%,
      #CFD5E0 50%,
      transparent 50%
    );
    background-size: 8px 2px;//第一个值（20px）越大线条越长间隙越大
    background-repeat: repeat-x;
  }
  #app {
    // .eventTypeButton{
    //   border: solid 1px #65bfff;
    //   color: #189fff;
    //   background: #fff;

    // }
    
    .searchBox,.searchBoxTab{
      background-color: #fff;
      border: solid 1px #DCDFE6;
    }
      // tab页下方横线
    .el-tabs__nav-wrap::after{
      background: #F2F8FF;
    }
    // 输入框自带搜索按钮
    .el-input-group__append, .el-input-group__prepend{
      background-color: #39ADFF;
      border: solid 1px #00C8FF;
      color: #fff;
    }
    .vue-treeselect__control{
      background-color: #F2F8FF;
    }
    // 鼠标移入表格
    .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell{
      background: rgba(57,173,255,0.13);;
    }
    .infoBoardBox{
      background: #fff;
      .el-table__body-wrapper .el-table__cell{
        border-left:none !important;
      }
      .el-table__cell{
        height: 9vh !important;
      }
      .el-table th.el-table__cell.is-leaf, .el-table td.el-table__cell{
        border-bottom:none;
      }
      .huiduButton{
        color: #606266;
      }
    }
    .el-select .el-input .el-select__caret{
      height: 33px;
    }
    .breadcrumbAppmainBox{
      background-color: #E2EEFE;
      padding: 10px;
      // height: 100%;
    }
    .separate{
      background: #E2EEFE;
    }
    .app-container{
      background: white;
    }
    .dispatchAss{
      background: #E2EEFE !important;
      overflow: hidden;
      .title{
        color: #333;
        border-bottom: solid 1px #E0E7ED;
      }
    }
    .el-dialog{
      .evtCarStyle{
        border: solid 1px #cfd5e0;

      }
      .evtNum{
        border: solid 1px #cfd5e0;

      }
      .show-left,.show-right{
        border: 1px solid black;
        
      }
      .pagination-container{
        position: static !important;
        margin-top: 0px !important;
      }
      
    }
    .el-table tr{
      background-color: #FFFFFF;
    }
    .el-table .el-table__cell{
      height: 40px;
      line-height: 40px;
    }
    // 输入框背景色
    .el-input--small .el-input__inner{
      background-color: #F2F8FF;
    }
    // 下拉框背景色
    .el-input--medium .el-input__inner{
      background-color: #fff;
    }
    // 时间框背景色
    .el-range-editor.el-input__inner{
      background-color: #F2F8FF;
    }
    .el-range-editor--small .el-range-input{
      background-color: #F2F8FF;
    }
    // 所有表格高度调小
    .el-table--medium .el-table__cell{
      padding: 0;
    }
    // 设备预警、事件预警表单
    .warningStatistics{
      color: #606266;
    }
    // 表单label
    .el-form-item__label{
      color: #606266;
    }
    // 翻页组件
    .pagination-container {
      background-color: transparent;
      .el-pagination__total {
        color: #606266;
      }
      .el-pagination__jump {
        color: #606266;
        .el-input__inner{
          background: white;
        }
      }
      .el-pagination.is-background .btn-prev,
      .el-pagination.is-background .btn-next,
      .el-pagination.is-background .el-pager li {
        background-color: white;
        color: #606266;
        border: 1px solid #DCDFE6;
      }
     
      .el-pagination.is-background .el-pager li .active{
        background-color: #39ADFF !important;

      }
      .el-pagination .el-pager .active{
        background-color: #39ADFF !important;
        color: white !important;
      }
    }
    // 应急预案 表格内相关策略
    .el-tag{
      background-color: #ebf7ff;
    }
    // 面包屑
    .app-breadcrumb.el-breadcrumb {
      background: white;
      .no-redirect {
        color: #97a8be;
      }
    }
    // 表格内按钮 红色
    .tableDelButtton{
      // width: 50px;
      padding: 0 5px;
      font-size: 14px;
      color: #FA6F8E;
      height: 28px;
      border-radius: 3px;
      border: 1px solid #FA6F8E;
    }
    .tableDelButtton:hover{
      color: white;
      background: #FA6F8E !important;
    }
    .tableBlueButtton{
      padding: 0 5px;
      font-size: 14px;
      color: #39ADFF;
      height: 3vh;
      border-radius: 3px;
      border: 1px solid #39ADFF;
    }
    .tableBlueButtton:hover{
      color: white;
      background: #39ADFF;
    }
    // 浅色版部分小细节需要黑色字
    .textColorClass{
      color:#303133
    }
    .mapCharts{
      .el-table--medium .el-table__cell{
        padding: 10px 0;
      }
    }
    .el-table__body-wrapper .el-table__cell{
      border-left: solid 1px #E1E4E6;
    }
    .el-table .el-table__header-wrapper .el-table__cell:nth-last-of-type(2){ 
      border-right: 1px solid #E1E4E6;
    }
    .el-table td:last-of-type {
      border-right: 1px solid #E1E4E6;
    }
    // .el-table__body-wrapper tbody{
    //   border-right: solid 1px #E1E4E6;

    // }
    .el-table__header-wrapper .el-table__cell{
      border-left: solid 1px #E1E4E6;
      border-top: solid 1px #E1E4E6;
    }
    .el-scrollbar__wrap::-webkit-scrollbar-track {
      background-color: #1d58a9;
    }

    .el-scrollbar__wrap::-webkit-scrollbar {
      width: 1px;
      background-color: #1d58a9;
    }

    .el-scrollbar__wrap::-webkit-scrollbar-thumb {
      background-color: #1d58a9;
    }
    .main-container {
      // min-height: calc(100% - 50px);
      transition: margin-left 0.28s;
      margin-left: $base-sidebar-width;
      position: relative;
    }

    .sidebar-container {
      // display:flex;
      -webkit-transition: width 0.28s;
      transition: width 0.28s;
      width: $base-sidebar-width !important;
      // background-color: $base-menu-background;
      // border-image: linear-gradient(to bottom, #5ec5ec 0%,#fff 75%,#65c8ee 100%) 30 30;
      height: 100%;
      position: fixed;
      font-size: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      // overflow: hidden;
      -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

      .el-submenu__title:hover{
        background-color: #2971CC ;
      }

      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out,
          0s padding-right ease-in-out;
      }

      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }

      .el-scrollbar {
        height: 100%;
      }

      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 144px);
        }
      }

      .is-horizontal {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }

      .svg-icon {
        // margin-right: 16px;
      }

      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
      .el-menu-item,
      .el-submenu__title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        height: 7.6vh;
        line-height: 7.6vh;
        font-size: 16px;
        border-radius: 10px;
      }

      // menu hover
      .is_left .submenu-title-noDropdown.el-menu-item,
      .nest-menu .el-submenu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.06) !important;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          width: 200px;
        }
      }

      // & .theme-dark .is-active > .el-submenu__title {
      //   color: #f19f39 !important;
      // }

      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: 190px !important;

        &:hover {
          background-color: #2971CC !important;

        }
      }

      // 子菜单
      & .theme-dark .nest-menu .el-submenu > .el-submenu__title,
      & .theme-dark .el-submenu .el-menu-item {
        // background-color: $base-sub-menu-background;

        &:hover {
          background-color: #2971CC !important;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          width: 200px;
        }
      }
      & .el-menu-item.is-active {
        // background-color: $base-menu-light-background !important;
        // color: #f19f39 !important;
        // border-radius: 5px;
        // &:hover {
        //   color: $base-menu-light-background !important;
        // }
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 0px !important;
      }

      .main-container {
        margin-left: 0px;
      }

      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-submenu {
        overflow: hidden;

        & > .el-submenu__title {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-menu--collapse {
        .el-submenu {
          // & > .el-submenu__title {
          //   & > span {
          //     height: 0;
          //     width: 0;
          //     overflow: hidden;
          //     visibility: hidden;
          //     display: inline-block;
          //   }
          // }
        }
      }
    }

    .el-menu--collapse .el-menu .el-submenu {
      min-width: $base-sidebar-width !important;
    }

    // mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }

      .sidebar-container {
        transition: transform 0.28s;
        width: $base-sidebar-width !important;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$base-sidebar-width, 0, 0);
        }
      }
    }

    .withoutAnimation {
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }

  // when menu collapsed
  .el-menu--vertical {
    & > .el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    // the scroll bar appears when the subMenu is too long
    > .el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
  ::v-deep .comCovi,.tabRobot{
    .el-radio-button--medium .el-radio-button__inner{
      color: #000 !important;
    }
  }
  .eventBox{
    .el-tabs--card > .el-tabs__header {
      border-bottom: 1px solid rgba($color: #01aafd, $alpha: 0.6);
    }
    // tab所有选项下边框为空 其余边框有颜色
    .el-tabs--card > .el-tabs__header .el-tabs__nav {
      border: solid 1px rgba($color: #00c8fe, $alpha: 0.6);
      border-bottom: none;
    }
    //tab选中项下边框
    .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
      border-bottom-color: rgba($color: #00c8fe, $alpha: 1);
    }
    // tab间隔线
    .el-tabs--card > .el-tabs__header .el-tabs__item {
      border-left: solid 1px rgba($color: #00c8fe, $alpha: 0.6);
    }
    // tab选中项样式
    .el-tabs__item.is-active {
      color: #fff !important;
      background-color: #00aaf2;
    }
    .el-table__body-wrapper .is-scrolling-none{
      background: #071930;
    }
    // tab未选中项样式
    .el-tabs__item {
      color: white !important;
    }
    .el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
      border: 1px solid #00ADFF !important;
    }
    // .el-table__body-wrapper .el-table__cell{
    //   border: 1px solid rgba(1,152,255,0.6);
  
    // }
    .el-table__body{
      width: 100% !important;
    }
  }
  .my-back{
    background-color: #010913;
  }
   .topNav_head{background-image:url(../images/head_bg2.png);background-size: 100% 100%;height:7.6vh;}
  // 工作台下拉框
  .menu-b .el-input--mini .el-input__inner{
    background: linear-gradient(177deg, #00ACED, #0079DB);
    // opacity: 0.8;
    border-radius: 4px;
    color: #fff;
    border: none !important;
    // box-shadow: 0px 0px 10px #68B5FF;
    width: 160px;
    height: 32px;
    line-height: 28px;
    font-size: 15px;
  }
  .siteClass {
    line-height: unset;
  	margin-left: 16px;
      .el-input__suffix{
        color: #e1feff;
      }
      .el-icon-arrow-down:before{
        content:"\e6df";
        color: #e1feff;
        font-size: 13px;
      }
  }
  .menu-button-group{
    .el-button--info {
      // width: 100px;
      color: #fff;
      background: linear-gradient(177deg, #00ACED, #0079DB);
      // opacity: 0.8;
      border: none;
      text-align: center;
    border-radius: 2px;
    }
  }
  .header{
    color:#e1feff;
    .el-button--primary{
      color: #e1feff;
      background: linear-gradient(2deg, #00070D, #005AA8) !important;
      border: 1px solid #00c8ff;
    }
  }
  .zoomClass{
    .input-with-select{
      .el-input__inner{
        padding: 15px;
        width: 150px;
      }
      .el-input-group__append{
        background-color: #00B0FF;
        border: 1px solid #00B0FF;
        padding: 0;
        width: 30px;
        .el-button{
          width: 30px;
          margin: -10px -10px;
          padding: 0 15px;
        }
      }
    }

    .el-input-number{
      // border: solid 1px #00c8ff;
      border-radius: 4px;
    }
    .el-input-number__decrease,.el-input-number__increase {
      // color: #e1feff;
      background-color: transparent !important;
      border: none !important;
      width: 2vw;
      font-size: 10px;
      :hover {
        font-size: 15px;
      }
      .el-icon-minus,.el-icon-plus{
         color: #00c8ff;
      }
    }
    .el-input__inner {
      height: 32px;
      padding: 0;
      color: #e1feff;
      background: linear-gradient(2deg, #00070D, #005AA8);
      border: solid 1px #00c8ff;
    }
    .switchStyle .el-switch__core:after{
      background: #0a88bd;
    }
    .is-checked .el-switch__core:after{
      background: #e2f3fa !important;
    }
    .el-switch__core{
      background: linear-gradient(2deg, #00070D, #005AA8);
      border: solid 1px #0a88bd !important;
    }
    .el-switch.is-checked .el-switch__core{
      background-color: #0a88bd !important;
      border: solid 1px #0a88bd !important;
    }
    .display-box .el-switch__core:after{
      background: #00c8ff;
    }
  }
  .switchStyle{
    .el-switch__core:after{
      background: #00C8FF;
    }
    
    .el-switch__core{
      background: linear-gradient(2deg, #00070D, #005AA8);
      border: solid 1px #0a88bd !important;
    }

    .display-box .el-switch__core:after{
      background: #0a88bd;
    }
  }
  .el-switch.switchStyle.is-checked .el-switch__core{
      background-color: #0a88bd !important;
      // border: solid 1px #e2f3fa !important;
    }
    .el-switch.switchStyle.is-checked .el-switch__core:after{
      background: #e2f3fa !important;
    }
  .rightButtonS{
    color: #0a88bd;
    background-image: url(../cloudControl/rightButton.png);
  }
  .leftButtonS{
    color: #fff;
    background: linear-gradient(2deg, rgba($color: #00070D, $alpha: 0.5), rgba($color: #005AA8, $alpha: 0.5));
    border: solid 1px rgba($color: #00B1FF, $alpha: 0.3);
  }
  .rightButton_hover{
      color: #fff !important;
      // background-image: url(../cloudControl/rightButton_hover.png) !important;
      background-image: linear-gradient(to left,#cdedfa,#0b8bbf);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .rightButtonS:hover{
      color: #fff !important;
      // background-image: url(../cloudControl/rightButton_hover.png);
      background-image: linear-gradient(to left,#cdedfa,#0b8bbf);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .leftButtonS:hover{
    color: #fff !important;
    background: #00B0FF !important;
    border: solid 1px #00B1FF;
  }
  .leftButton_hover{
    color: #fff !important;
    background: #00B0FF !important;
    border: solid 1px #00B1FF;
  }
  .footMiniBox{
    background-image: url(../cloudControl/kuangBlack.png);
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  // .footer .footTitle .footTitleCont p:nth-of-type(2){
  //    color: #456c85;
  // }
  .listRow{
      color: #fff;
      line-height: 30px;
  }
  .popper-class-site {
    border-color: #70cbf0;
    box-shadow: rgb(216 241 250) 0px 0px 10px;
    background-color: #f2fcff;
    .el-cascader-menu {
      color: #0a88bd;

      .el-cascader-node {
        &:hover {
          color: #0a88bd;
          background-color: #cdedfa;
          box-shadow: rgb(216 241 250) 0px 0px 10px;
        }
      }
      .el-cascader-node.in-active-path, .el-cascader-node.is-selectable.in-checked-path, .el-cascader-node.is-active {
        box-shadow: rgb(216 241 250) 0px 0px 10px;
        color: #0a88bd;
        background-color: #cdedfa;
      }
    }
  }
  .tooltip{
    color:#0a88bd;
    background: #f2fcff;
    border:solid 1px #70cbf0;
  }
  .config-img-input,.s-config-img-input{
    background-color: #ccc;
    opacity: 0.7;
    color: #cdedfa;
  }
  .icon-dialog{
    .el-dialog{
        //background-image: url(../cloudControl/dialog6.png) !important;
    }
  }
  // .eventDiglog{
    // .el-dialog{
    //   .el-form{
    //     padding: 15px;
    //   }
    //     //background-image: url(../cloudControl/dialog5.png) !important;
    //     //background-repeat: no-repeat;
    //     //background-size: 100% 100%;
    // }
    // .el-dialog__header .el-dialog__title{
    //   color: #000000 !important;
    // }
  // }
  .batch-dialog{
    .el-dialog{
        //background-image: url(../cloudControl/dialog4.png) !important;
    }
  }
  .robot-dialog{
    .el-dialog{
        //background-image: url(../cloudControl/dialog3.png) !important;
    }
  }
  .video-dialog{
    .el-dialog{
        //background-image: url(../cloudControl/dialog2.png) !important;
    }
  }
  .jianbianLine{
    width: 30%;height: 1px;border-bottom: solid 1px white;
    border-image: linear-gradient(to right,#0083FF,#3FD7FE,#0083FF)30 30;
    position: absolute;
    top: 0;
   }
  /*单个设备配置框 */
  .workbench-dialog{
    .mesModeBg{
      background: #012e51;
      .el-collapse-item__header {
        background: #012e51;
        color: #fff;
      }
      .el-collapse-item__wrap{
        background: #012e51;
      }
    }
    .lineClass{
      width: 100%;
      height: 1px;
      background-image: linear-gradient(
        to right,
        #00c8fe 0%,
        #00c8fe 90%,
        transparent 90%
      );
      background-size: 15px 0.5px;

      background-repeat: repeat-x;
    }
    .el-dialog{
      background-color: #01162C;
      border-bottom: solid 2px white;
      border-image: linear-gradient(to right,#0083FF,#3FD7FE,#0083FF)1 10;
      border-left: solid 1px rgba($color: #0198FF, $alpha: 0.8);
      border-right: solid 1px rgba($color: #0198FF, $alpha: 0.8);
      border-top: solid 1px rgba($color: #0198FF, $alpha: 0.8);
      
    }
    .dialogLine{
      
    }
    .el-form-item__label {
      color: #01AAFD;
    }
    .el-dialog__header {
      padding: 0;
      padding-left: 20px;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      background: linear-gradient(270deg, rgba(1,149,251,0) 0%, rgba(1,149,251,0.35) 100%);
    }
    .el-dialog__title {
      color: #fff;
      font-size: 14px;
      line-height: 30px;
    }
    .el-dialog__body {
      color: #fff;
      // background-color: #fff;
      // border-left: solid 2px #00c2ff;
      // border-right: solid 2px #00c2ff;
    }
    .el-dialog__footer {
      color: #2c5ea2;
      // background-color: #fff;
      // border-left: solid 2px #00c2ff;
      // border-right: solid 2px #00c2ff;
      // border-bottom: solid 2px #00c2ff;
    }
    .el-radio {
      color: #fff;
      padding: 5px 150px 5px 20px;
      // width: 240px;
      &:hover {
       background-color: #0A6591;
       border: solid 1px #01AAFD;
      //  width: 240px;
      }
    }
    .el-radio-selcted {
      padding: 5px 220px 5px 20px;
      color: #fff;
      background-color: #0A6591;
      border: solid 1px #01AAFD;
    }
    /*select选择框的背景颜色*/
    .el-input__inner {
      background-color: #fff;
      color: #333;
      // border: solid 1px #01AAFD;
    }
    
    .el-date-editor .el-range-input{
      background-color: #fff !important;
      color: white;

    }
   .el-pagination__total,.el-pagination__jump{
      color: #01AAFD;
    }
    .el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, 
    .el-pagination.is-background .el-pager li{
      background-color: #00152B !important;
      border: solid 1px #01AAFD;
      color: #01AAFD;

    }
    .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .btn-next:disabled{
      color:'#01AAFD !important'
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
      color: #01AAFD;
    }
    /* 按钮*/
    .el-button {
      background: linear-gradient(172deg, #00ACED, #0079DB);
      border-radius: 20px !important;

    }
    .submitButton{
      background: linear-gradient(172deg, #00ACED, #0079DB);
    }
    .submitButton:hover{
      background-color: #eebf00 !important;
      border: solid 1px #c77700 !important;
    }
   
    .el-dialog__headerbtn .el-dialog__close{
      color: #B9D4ED !important;
    }
    .el-dialog__headerbtn {
        top: 6px ;
        background: url(../../assets/cloudControl/closeIcon.png) left no-repeat;
        background-size: 54% 50%;
    }
    .el-dialog__headerbtn i {
        content: '修改下面的font-size可以改变图片的大小';
        font-size: 25px;
        visibility: hidden;
    }

    .el-radio__input.is-checked + .el-radio__label{
      color: #fff !important;
    }
    .el-radio__input.is-checked .el-radio__inner {//单选框选择按钮背景样式
        border-color: #fff;
        background: #01AAFD;
    }
    .el-radio__inner::after {//按钮内图案样式
        width: 7px;
        height: 7px;
        background-color: #01AAFD;
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner{
      color: #fff;
      background: #00CCFF;
    }
    .el-button--primary{
      color: white;
      width: 88px;
      height: 22px;
      padding: 0;
      // height: 20px;
      // line-height: 20px;
    }
    .el-button:hover {
      background-color: #0a88bd; // #4e5e89
      border: 1px solid #7f8c98;
      color: #fff !important;
    }
    .el-button--cyan,.el-button--default{
      color: white !important;
    }
    .el-button--mini {padding: 0 !important;}
    .el-table tr{
      background-color: #00152B;
      color: white;
    }
    .el-table{
      background-color: #00152B;
    }
    .el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
      background-color: #00152B;
      color: white;
    }
    // 表格鼠标移入行选中
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #326CA9;
   }
    .el-slider__runway {
      background-color: #006784;
    }
    .el-tabs {
      .el-tabs__item{
        color: #fff;
      }
      .el-tabs__item.is-active{
        color: #39ADFF;
      }
    }
  }
  // .batch-table{
  //   .el-table__empty-block {
  //     background-color: #fff;
  //   }
  //   .el-table .el-table__header-wrapper th {
  //     background-color: #fff !important;
  //     color:#0a88bd !important;
  //   }
  //   .el-table__body-wrapper {
  //     background-color: transparent;
  //     color: #2c5ea2 !important;
  //   }
  //   //鼠标停留在table
  //   .el-table--enable-row-hover .el-table__body tr:hover > td {
  //     background-color: #c4e8f6;
  //     cursor: pointer;
  //   }
  //   .el-table__body tr .hover-row > td .el-table__cell{
  //     background-color: #c4e8f6;

  //   }
  //   /* table滚动条的滑块*/
  //   .el-table__body-wrapper::-webkit-scrollbar-thumb {
  //     background-color: #00c2ff;
  //   }
  //   /* 鼠标悬浮*/
  //   .el-table__body-wrapper::-webkit-scrollbar {
  //     background-color: #c4e8f6;
  //   }
  // }
  .robotTabs .el-tabs__header .el-tabs__nav .el-tabs__item{
    color: #2c5ea2 !important;
  }
  .explain-table {
    .el-table th.el-table__cell.is-leaf, .el-table td.el-table__cell{
      border-bottom: solid 1px  #0a88bd !important;
    }
    .el-table{
      padding: 15px;
      background: transparent;
    }
    .el-table .el-table__header-wrapper th{
      background-color: #00ADFF !important;
      color:#fff !important;
    }
    .el-table__body{
      width: 100% !important;
    }
    .el-table__body-wrapper{
      // background-color: #fff !important;
    }
    /*table滚动条背景色 */
    .el-table__body-wrapper::-webkit-scrollbar {
      background-color: #c4e8f6;
    }

    /* table滚动条的滑块*/
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #00c2ff;
    }
    /* 鼠标悬浮*/
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #0e2c53;
    }
  }
  // 隧道按钮左右两侧边框
  .el-button-group .el-button--info:first-child{
    border-right-color:#0a88bd;
  }
  .el-button-group .el-button--info:not(:first-child):not(:last-child){
    border-left-color: #0a88bd;
    border-right-color: #0a88bd;
  }
  .tunnelBtnStyle{
    background: linear-gradient(90deg, #FFC606, #FF8200) !important;
    border: none !important;
    color: white !important;
  }
   // 操作日志
  .operationDiglog{
    // 表格隔行变色
    .tableEvenRow{
      background: #00467B !important;
    }
    .tableOddRow{
      background: #004F8B !important;
    }
    .hover-row{
      background: #0064B0 !important;
    }
    .el-date-editor .el-range-input{
      background-color: transparent !important;
    }
    .grid-content .el-input__inner{
      background: #012E51 !important;
      border: solid 1px #65BFFF !important;
      border-right: none !important;
    }
    .el-input__inner{
      background: #012E51 !important;
      border:solid 1px #5FA6F5
    }
    
    .el-input-group__append{
      background: transparent !important;
      color: #00C8FF;
      border: transparent;
      border-left: transparent !important;
      .el-button{
        border-left:none !important;
        background:#012E51 !important;
        color: #00ADFF !important;
      }
    }
    .el-input--small .el-input__inner{
      border-right:none !important;
    }
    .el-loading-mask{
      background: transparent;
    }
    .el-table::before, .el-table--group::after, .el-table--border::after{
      background: transparent;
    }
    .el-table{
      background: transparent;
      padding: 0 15px;
      .el-table__body{
        width: calc(100% - 30px);
      }
      // tr{
      //   color: white;
      // }
      .el-table__header-wrapper th{
        background-color: #00ADFF !important;
        color:#fff !important;
      }
      td.el-table__cell{
        border-bottom: solid 1px  #0a88bd !important;
      }
    }
    /*table滚动条背景色 */
    .el-table__body-wrapper::-webkit-scrollbar {
      background-color: #c4e8f6;
      width: 5px;
    }

    /* table滚动条的滑块*/
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #0090D8;
    }
    /* 鼠标悬浮*/
    // .el-table--enable-row-hover .el-table__body tr:hover > td {
    //   background-color: #0064B0;
    // }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
      background-color: #39ADFF !important;
      color: white !important;
    }
    .el-button{
      border-radius: 3px !important;
    }
  }
  .eventDiglog {
    .title{
      color: #003a5d;
    }
    .el-dialog__header{
      // display: none;
    }
    //鼠标停留在table
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #c4e8f6;
      cursor: pointer;
    }
    /* table滚动条的滑块*/
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #00c2ff;
    }
    /* 鼠标悬浮*/
    .el-table__body-wrapper::-webkit-scrollbar {
      background-color: #c4e8f6;
      width: 10px;
    }
    .el-table::before, .el-table--group::after, .el-table--border::after{
      background-color: transparent !important;
    }
    .el-icon-close:before{
      content:"\e79d";
      font-size:20px;
    }
    .el-dialog__headerbtn .el-dialog__close{
      color: #00c2ff !important;
    }
    .el-table {
      color: #003a5d;
      .el-table__header-wrapper th{
        background-color: #d6edf9;
        color: #003a5d;
      }
      td.el-table__cell{
        border-bottom: 1px solid #00c2ff;
      }
    }
    .el-dialog__header .el-dialog__title{
       color: #C5DEEE;
    }
    h3{
      color: #81D2FF;
    }
    .warningTop{
      color: #003a5d;
      .processBox,.strategyBox{
        border: solid 1px #00c2ff;
      }
    }
    .warningBottom{
      >div{
        border: solid 1px #00c2ff;
      }
      h3{
        color: #003a5d !important;
      }
    }
  }
  .yuntaiPic,.jiaJian{
    > div:nth-of-type(1),
    > div:nth-of-type(3) {
    border: solid 1px #003a5d;
    }
  }
  
  // 隧道配置页面
  // .configurePage {
  //   background-color: #d6edf9 !important;
  //   .config-menu {
  //     // background-color: #d6edf9;
  //     .menu-title{
  //       color: #2c5ea2;
  //     }
  //     .tunnelNameButton{
  //       color: #003a5d;
  //       background-color: white !important;
  //       border: 1px solid #0a88bd;
  //     }

  //   }
  //   .config-back {
  //     // background-color: #d6edf9;
  //     .config-img-box{
  //       background-color: #9bc5e5;
  //     }
  //   }
  //   // 配置页弹窗
  //   .equipment-dialog {
  //     .el-form-item__label {
  //       color: #0a88bd;
  //     }
  //     .el-dialog__header {
  //       background-color: #fff;
  //     }
  //     .el-dialog__title {
  //       color: #fff;
  //       background-color: #fff;
  //     }
  //     .el-dialog__body {
  //       color: #0a88bd;
  //       background-color: #fff;
  //     }
  //     .el-dialog__footer {
  //       color: #c0ccda;
  //       background-color: #fff;
  //     }
  //     .el-radio {
  //       color: #0a88bd;
  //     }
  //     // .el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
  //     //     color: #fff !important;
  //     // }
  //     // .el-tabs--border-card .el-tabs__header .el-tabs__item.is-active {
  //     //     background-color: #00c2ff !important;
  //     //     color: #fff !important;
  //     //     border: 1px solid #00c2ff !important;
  //     // }
  //   }
  // }
  // 工作台下滚动条样式

.content::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0);
    width: 1000px;
    border-width:50px;
}
.content::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.content::-webkit-scrollbar-thumb {
    background-color: rgba($color: #00c2ff, $alpha: 0.6);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.content::-webkit-scrollbar-thumb:hover {
  
    background-color: #00c2ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
  .el-drawer__header{
    background-color: #0182CA !important;
    border-left: none !important;
    padding: 0 10px;
  }
  .el-drawer__body{
    background-color: #012E51;
    color: white;
    .ledLighting{
      background-color: #06486B;
      color: #fff;
    }
  }
  .drawerCenter{
    .el-input__inner{
      background-color: #2D69A5;
      color: white;
      border: 1px solid #0081DE;
    }
    .handleLightClass {
      background: linear-gradient(177deg, #00ACED, #0079DB);
    }
    .el-switch__core{
      background: linear-gradient(177deg, #00070D, #005AA8);
      border: 1px solid #005E96;
    }
    .ledLighting .is-checked .el-switch__core:after{
      background: #00C8FF;
    }
    .ledLighting .el-switch__core:after{
      background: #3F88B5;
    }
  }
  .drawerActive{
    background-color:#EC9D3C
  }
  .drawerNo{
    background-color:#00C9FF
  }
  .control{
    background-color: #00c2ff;
    border: none !important;
  }
  .bottomEventForm, .el-card{
    background-color: #fff;
    border: 1px solid #e6ebf5;
    
  } 
  
  .tunnelBox{
    border-bottom: solid 1px #ccc;
  }
  .formBox{
    background-color: #fff;
    .el-input__inner{
      background-color: #F2F9FF;
      border: 1px solid #E0EAEC;
    }
  }
  .formTitle{
    background-color: #E6EAFD;
    border-left: 5px solid #385CD6;
  }
  .rightBox{
    border-radius: 10px;
    background-color: #F2F9FF;
    .el-table {
      .el-table__cell.is-center{
        background-color: #F2F9FF;
      }
      .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
        background-color: #F2F9FF !important;
        color: #1287B2 !important;
      }
      .el-table__body-wrapper{
        background-color: #F2F9FF !important;
      }
    }
  }
  .videoBox{
    border-top: solid 10px #1287B2;
  }
  .planBox{
    border-top: solid 10px #0F9CF5;
    >.title{
      border-bottom: solid 1px #E0E7ED;
    }
  }
  .phoneBox{
    border-top: solid 10px #E1AA43;
    >.title{
      border-bottom: solid 1px #E0E7ED;
    }
    .phoneButton{
      background: linear-gradient(2deg,#4B6AD4,#07A1FB);
      
    }
  }
  .processBox{
    border-top: solid 10px #52B7C9;
    .el-step__icon.is-icon{
      background: linear-gradient(114deg, #96DAFA, #5FA6F5);
    }
    .el-step__title.is-finish,.el-step__title.is-process{
      color: #333;
    }
    .el-step__title.is-process{
      color: #333;
    }
    .el-step.is-horizontal .el-step__line{
      border-top: dashed 2px #8BCFF9;
    }
    .el-card{
      color: #3D6CA2;
      border: 1px solid #C4DAE7;
      background-color: #E8F3FC;
    }
    .el-timeline-item__tail{
      border-left: 2px dashed #97A8AE;
    }
    .endButton{
      color: #4B6AD4;
      .ButtonBox{
        border: solid 1px #07A1FB;background-color: #E8F3FC;box-shadow: 0 0 5px #07A1FB;
        .recovery{
          border-bottom: dashed 1px #07A1FB;
        }
        .button{
          color: white;
          div{
            background: linear-gradient(2deg, #4B6AD4, #07A1FB);
          }
        }
      }
    }
  }
  .implement{
    border-top: solid 10px #52B7C9;
    .implementContent{
      border-bottom: dashed 1px #E0E7ED;
      .contentBox{
        .row1{
          >div:nth-of-type(1){
            color: #00A0FF;
          }
          >div:nth-of-type(2){
            color: #999999;
          }
        }
        .row2{
          color: #333;
        }
      }
    }
  }
  .drawerTop{
    .el-input__inner{
      background-color: #2D69A5;
      color: white;
    }
    .chezhiDrawerDirection{
      background: #31628B;
    }
    .chezhiControlButton{
      background: #D8D8D8 linear-gradient(180deg, #1EACE8 0%, #0074D4 100%);
    }
   
  }
  // 应急调度
  .dispatchLeft{
    > div {
      background: #F2F9FF;
    }
    .evtMessage .evtMessBox .evtMessLeft > div > div:nth-of-type(2){
      color: #333 !important;
    }
     .evtMessage .evtMessBox .evtMessRight .evtMessTarget > div:nth-of-type(2){
      color: #333;
     }

    .plan {
      .planBox1 {
        .el-radio{
          color: #333;
        }
        .planRight{
          color: #333;
          border-left: solid 1px #E0E7ED !important;
          > div:nth-of-type(2) > div:nth-of-type(2n){
            color: #333;
          }
        }
        .oneWayTraffic,.twoWayTraffic{
          color:#333;
          .el-radio__inner::after{
            border: solid 2px #E0E7ED;
          }
        }
        .planRight .el-radio__inner::after{
          border: solid 2px #E0E7ED;
        }
      }
    }
    
    
  }
  .dispatchRight{
    .rightBottom {
      .evtManagement{
        background: #F2F9FF;
        .DisRecords{
          border-left: solid 1px #E0E7ED;;
          .el-timeline .el-timeline-item .el-timeline-item__wrapper .el-timeline-item__content{
            color: #333;
            background: #fff;
            border: 1px solid rgba(57, 173, 255, 1);
          }
          
        }
        .IncHand .incHandBox .incHandContent {
          .classification {
            .type{
              background: #fff;
              border: 1px solid rgba(57, 173, 255, 1);
              color: #333;
            }
            // .yijian{
            //   color: #fff;
            // }
          }
          .contentList{
            background: #fff;
            border: 1px solid rgba(57, 173, 255, 1);
            color: #333;
          }
        }
      }
      .implement1 {
        .eqRecord,.phone{
          background: #F2F9FF;
  
        }
        .eqRecord .eqRecordBox .implementContent .contentBox{
          color: #333;
        }
      }
    } 
  } 
  // 安全预警
  .safeWarnStyle{
    .contentText{
      color: #189FFF;
    }
    .contentBox .video{
      color: #189FFF;
    }
    .contentBox{
      background: #F2F8FF;
      border: solid 1px #65BFFF;
    }
  }

}
    