.theme-light {
  .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title{
    background-color: #00588f;
    height: 56px !important;
    line-height: 56px !important;
    border-radius: 0;
    i{
      color: white;
    }
  }
  .el-scrollbar__wrap::-webkit-scrollbar-track {
    background-color: #00598f;
  }

  .el-scrollbar__wrap::-webkit-scrollbar {
    width: 12px;
    background-color: #00598f;
  }

  .el-scrollbar__wrap::-webkit-scrollbar-thumb {
    background-color: #00598f;
  }
  #app {
    .main-container {
      min-height: calc(100% - 104px);
      transition: margin-left 0.28s;
      margin-left: $base-sidebar-width;
      position: relative;
    }

    .sidebar-container {
      -webkit-transition: width 0.28s;
      transition: width 0.28s;
      width: $base-sidebar-width !important;
      // background-color: $base-menu-background;
      height: 100%;
      position: fixed;
      font-size: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      // overflow: hidden;
      -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
      box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out,
          0s padding-right ease-in-out;
      }

      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }

      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }

      .el-scrollbar {
        height: 100%;
      }

      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 50px);
        }
      }

      .is-horizontal {
        display: none;
      }

      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }

      .svg-icon {
        margin-right: 16px;
      }

      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
      .el-menu-item,
      .el-submenu__title {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
      }

      // menu hover
      .submenu-title-noDropdown.el-menu-item,
      .nest-menu .el-submenu__title {
        &:hover {
          background-color: rgba(0, 0, 0, 0.06) !important;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          // width: 200px;
        }
      }

      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $base-sidebar-width !important;

        &:hover {
          background-color: rgba(0, 0, 0, 0.06) !important;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          width: 200px;
        }
      }

      & .el-menu-item.is-active {
        // background-color: white !important;
        // color: rgb(64, 158, 255) !important;
        border-radius: 5px;
        // &:hover {
        //   color: $base-menu-background !important;
        // }
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-submenu {
        overflow: hidden;

        & > .el-submenu__title {
          padding: 0 !important;

          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-menu--collapse {
        .el-submenu {
          // & > .el-submenu__title {
          //   & > span {
          //     height: 0;
          //     width: 0;
          //     overflow: hidden;
          //     visibility: hidden;
          //     display: inline-block;
          //   }
          // }
        }
      }
    }

    .el-menu--collapse .el-menu .el-submenu {
      min-width: $base-sidebar-width !important;
    }

    // mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }

      .sidebar-container {
        transition: transform 0.28s;
        width: $base-sidebar-width !important;
      }

      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$base-sidebar-width, 0, 0);
        }
      }
    }

    .withoutAnimation {
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }

  // when menu collapsed
  .el-menu--vertical {
    & > .el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: rgba(0, 0, 0, 0.06) !important;
      }
    }

    // the scroll bar appears when the subMenu is too long
    > .el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
  .comCovi,.tabRobot{
    .el-radio-button--medium .el-radio-button__inner{
      color: #fff;
    }
  }
  .eventBox{
    .el-tabs--card > .el-tabs__header {
      border-bottom: 1px solid rgba($color: #01aafd, $alpha: 0.6);
    }
    // tab所有选项下边框为空 其余边框有颜色
    .el-tabs--card > .el-tabs__header .el-tabs__nav {
      border: solid 1px rgba($color: #00c8fe, $alpha: 0.6);
      border-bottom: none;
    }
    //tab选中项下边框
    .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
      border-bottom-color: rgba($color: #00c8fe, $alpha: 1);
    }
    // tab间隔线
    .el-tabs--card > .el-tabs__header .el-tabs__item {
      border-left: solid 1px rgba($color: #00c8fe, $alpha: 0.6);
    }
    // tab选中项样式
    .el-tabs__item.is-active {
      color: #fff !important;
      background-color: #00aaf2;
    }
    .el-table__body-wrapper .is-scrolling-none{
      background: #071930;
    }
    // tab未选中项样式
    .el-tabs__item {
      color: white !important;
    }
    .el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
      border: 1px solid #00ADFF;
    }
    .el-table__body-wrapper .el-table__cell{
      border: 1px solid rgba(1,152,255,0.6);
  
    }
    .el-table__body{
      width: 100% !important;
  }
    /*table滚动条背景色 */
    .el-table__body-wrapper::-webkit-scrollbar {
      background-color: #c4e8f6;
      width: 10px;
      height: 10px;
    }
  
    /* table滚动条的滑块*/
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #00c2ff;
    }
    /* 鼠标悬浮*/
    .el-table--enable-row-hover .el-table__body tr:hover>td {
      background-color: #022A54 !important;
      color: white;
      /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
    
    }
  }
  .my-back{
    background-color: #010913;
  }
  .popper-class-site {
    // border-color: #70cbf0;
    // box-shadow: rgb(216 241 250) 0px 0px 10px;
    background-color: #295982;
    border: none;
    .el-cascader-menu {
      color: #ffff;
      border-right: solid 4px #010913;
      .el-cascader-node {
        &:hover {
          color: #fff;
          background-color: #3981B9;
        }
      }
      .el-cascader-node.in-active-path, .el-cascader-node.is-selectable.in-checked-path, .el-cascader-node.is-active {
        // box-shadow: rgb(216 241 250) 0px 0px 10px;
        color: #fff;
        background-color: #3981B9;
      }
    }
    .el-cascader-menu:last-child{
      border-right: none !important;
    }
  }
  .topNav_head{
    background-image:url(../images/head_bg2.png);background-size: 100% 100%;height:65px;
    background-color: #010913;
    }
    
  // 工作台下拉框
  .menu-b .el-input--mini .el-input__inner{
      background: linear-gradient(177deg, #00ACED, #0079DB);
      opacity: 0.8;
      border-radius: 4px;
      color: #fff;
      opacity: 0.8;
      border: none !important;
      // box-shadow: 0px 0px 10px #68B5FF;
      width: 170px;
  }
  .robotTabs .el-tabs__header .el-tabs__nav .el-tabs__item{
    color: #2c5ea2 !important;
  }
  .videoTabs .el-tabs__item {
    color: #fff !important;
  }
  .videoTabs .el-tabs__item.is-active{
    color: #0198FF !important;
  }
 .vehicle-dialog{
  // .el-table tr{
  //   border: solid 1px #00ADFF;
  // }
  .el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
    border: 1px solid #00ADFF;
  }
  .el-table__body-wrapper .el-table__cell{
    border: 1px solid rgba(1,152,255,0.6);

  }
  /*table滚动条背景色 */
  .el-table__body-wrapper::-webkit-scrollbar {
    background-color: #c4e8f6;
    width: 10px;
    height: 10px;
  }

  /* table滚动条的滑块*/
  .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background-color: #00c2ff;
  }
  /* 鼠标悬浮*/
  .el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #022A54 !important;
    color: white;
    /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
  
  }
 }
 .checkboxLane{
  .el-checkbox__input.is-checked + .el-checkbox__label{
    color: white !important;
  }
 }
  .workbench-dialog{
    .lineClass{
      width: 100%;
      height: 1px;
      background-image: linear-gradient(
        to right,
        #00c8fe 0%,
        #00c8fe 90%,
        transparent 90%
      );
      background-size: 15px 0.5px;

      background-repeat: repeat-x;
    }
    .el-dialog{
      background-color: #01162C;
      border-bottom: solid 2px white;
      border-image: linear-gradient(to right,#0083FF,#3FD7FE,#0083FF)1 10;
      border-left: solid 1px rgba($color: #0198FF, $alpha: 0.8);
      border-right: solid 1px rgba($color: #0198FF, $alpha: 0.8);
      border-top: solid 1px rgba($color: #0198FF, $alpha: 0.8);
    }
    .dialogLine{
      width: 20%;height: 1px;border-bottom: solid 1px white;
      border-image: linear-gradient(to right,#0083FF,#3FD7FE,#0083FF)30 30;
    }
    .el-form-item__label {
      color: #01AAFD;
    }
    .el-dialog__header {
      // padding: 0;
      // padding-left: 20px;
      // height: 30px;
      // line-height: 30px;
      // font-size: 14px;
      background: linear-gradient(270deg, rgba(1,149,251,0) 0%, rgba(1,149,251,0.35) 100%);
    }
    .el-dialog__title {
      color: #fff;
      // font-size: 14px;
      // line-height: 30px;
    }
    .el-dialog__body {
      color: #fff;
      // background-color: #fff;
      // border-left: solid 2px #00c2ff;
      // border-right: solid 2px #00c2ff;
    }
    .el-dialog__footer {
      color: #2c5ea2;
      // background-color: #fff;
      // border-left: solid 2px #00c2ff;
      // border-right: solid 2px #00c2ff;
      // border-bottom: solid 2px #00c2ff;
    }
    .el-radio {
      color: #fff;
      // width: 240px;
      &:hover {
       background-color: #0A6591;
       border: solid 1px #01AAFD;
      //  width: 240px;
      }
    }
    .el-radio-selcted {
      color: #fff;
      background-color: #0A6591;
      border: solid 1px #01AAFD;
    }
    /*select选择框的背景颜色*/
    .el-input__inner {
      background-color: #00152B;
      color: #01AAFD;
      border: solid 1px #01AAFD;
    }
    .el-date-editor .el-range-input{
      background-color: #00152B !important;

    }
   .el-pagination__total,.el-pagination__jump{
      color: #01AAFD;
    }
    .el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, 
    .el-pagination.is-background .el-pager li{
      background-color: #00152B !important;
      border: solid 1px #01AAFD;
      color: #01AAFD;

    }
    .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .btn-next:disabled{
      color:'#01AAFD !important'
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active{
      color: #01AAFD;
    }
    /* 按钮*/
    .el-button {
      background: linear-gradient(172deg, #00ACED, #0079DB);
      border-radius: 20px !important;

    }
    .submitButton{
      background: linear-gradient(172deg, #00ACED, #0079DB);
    }
    .submitButton:hover{
      background-color: #eebf00 !important;
      border: solid 1px #c77700 !important;
    }
   
    .el-dialog__headerbtn .el-dialog__close{
      color: #B9D4ED !important;
    }
    .el-dialog__headerbtn {
      
        background: url(../../assets/cloudControl/closeIcon.png) left no-repeat;
        background-size: 54% 50%;
    }
    .el-dialog__headerbtn i {
        content: '修改下面的font-size可以改变图片的大小';
        font-size: 25px;
        visibility: hidden;
    }

    .el-radio__input.is-checked + .el-radio__label{
      color: #fff !important;
    }
    .el-radio__input.is-checked .el-radio__inner {//单选框选择按钮背景样式
        border-color: #fff;
        background: #01AAFD;
    }
    .el-radio__inner::after {//按钮内图案样式
        width: 7px;
        height: 7px;
        background-color: #01AAFD;
        
        
    }
    
    .el-button--primary{
      color: white;
      width: 88px;
      height: 22px;
      padding: 0;
      // height: 20px;
      // line-height: 20px;
    }
    .el-button:hover {
      background-color: #0a88bd; // #4e5e89
      border: 1px solid #7f8c98;
      color: #fff !important;
    }
    .el-button--cyan,.el-button--default{
      color: white !important;
    }
    .el-button--mini {padding: 0 !important;}
    .el-table tr{
      background-color: #00152B;
      color: white;
    }
    .el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
      background-color: #00152B;
      color: white;
      
    }
  }
  .siteClass {
    line-height: unset;
  	margin-left: 16px;
      .el-input__suffix{
        color: #e1feff;
      }
      .el-icon-arrow-down:before{
        content:"\e6df";
        color: #e1feff;
        font-size: 13px;
      }
  }
  .explain-table,.eventDiglog {
    .el-table th.el-table__cell.is-leaf, .el-table td.el-table__cell{
      border-bottom: solid 1px  #0a88bd !important;
    }
    .el-table{
      padding: 15px;
      background: transparent;
    }
    .el-table .el-table__header-wrapper th{
      background-color: #00ADFF !important;
      color:#fff !important;
    }
    .el-table__body{
      width: 100% !important;
    }
    .el-table__body-wrapper{
      // background-color: #fff !important;
    }
    /*table滚动条背景色 */
    .el-table__body-wrapper::-webkit-scrollbar {
      background-color: #c4e8f6;
    }

    /* table滚动条的滑块*/
    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #00c2ff;
    }
    /* 鼠标悬浮*/
    .el-table--enable-row-hover .el-table__body tr:hover > td {
      background-color: #0e2c53;
    }
  }
  // .workbench-dialog .el-button--mini {padding: 0 !important;}
  // 隧道按钮左右两侧边框
  .el-button-group .el-button--info:first-child{
    border-right-color:#00c8ff;
  }
  .el-button-group .el-button--info:not(:first-child):not(:last-child){
    border-left-color: #00c8ff;
    border-right-color: #00c8ff;
  }
  .tunnelBtnStyle{
    background: linear-gradient(90deg, #FFC606, #FF8200) !important;
    border: none !important;
    color: white !important;
  }
  .menu-button-group{
    .el-button--info {
      // width: 100px;
      color: #fff;
      background: linear-gradient(177deg, #00ACED, #0079DB);
      opacity: 0.8;
      border: none;
      text-align: center;
    border-radius: 2px;
    }
  }
  .header{
    color:#e1feff;
    .el-button--primary{
      color: #e1feff;
      background: linear-gradient(2deg, #00070D, #005AA8) !important;
      border: 1px solid #00c8ff;
    }
  }
  .zoomClass{
    .el-input-number{
      // border: solid 1px #00c8ff;
      border-radius: 4px;
    }
    .el-input-number__decrease,.el-input-number__increase {
      // color: #e1feff;
      background-color: transparent !important;
      border: none !important;
      width: 2vw;
      font-size: 10px;
      :hover {
        font-size: 15px;
      }
      .el-icon-minus,.el-icon-plus{
         color: #00c8ff;
      }
    }
    .el-input__inner {
      height: 32px;
      padding: 0;
      color: #e1feff;
      background: linear-gradient(2deg, #00070D, #005AA8);
      border: solid 1px #00c8ff;
    }
    .switchStyle .el-switch__core:after{
      background: #0a88bd;
    }
    .is-checked .el-switch__core:after{
      background: #e2f3fa !important;
    }
    .el-switch__core{
      background: linear-gradient(2deg, #00070D, #005AA8);
      border: solid 1px #0a88bd !important;
    }
    .el-switch.is-checked .el-switch__core{
      background-color: #0a88bd !important;
      border: solid 1px #0a88bd !important;
    }
    .display-box .el-switch__core:after{
      background: #00c8ff;
    }
  }
  
  .rightButtonS{
    color: #fff;
    background-image: linear-gradient(to left,#004375,#0086ba);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .leftButtonS{
    color: #fff;
    background: linear-gradient(2deg, rgba($color: #00070D, $alpha: 0.5), rgba($color: #005AA8, $alpha: 0.5));
    border: solid 1px rgba($color: #00B1FF, $alpha: 0.3);
  }
  .rightButton_hover{
      color: #fff !important;
      background-image: linear-gradient(to left,#00588f,#00aaff);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .rightButtonS:hover{
      color: #fff !important;
      background-image: linear-gradient(to left,#00588f,#00aaff);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .leftButtonS:hover{
      color: #fff !important;
      background: #00B0FF !important;
      border: solid 1px #00B1FF;
  }
  .leftButton_hover{
      color: #fff !important;
      background: #00B0FF !important;
      border: solid 1px #00B1FF;
  }
  .footMiniBox{
      background-image: url(../cloudControl/kuangBlack.png);
      color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }
  .listRow{
      color: white;
      line-height: 30px;
  }
  .el-drawer__header{
    background-color: #0182CA !important;
    border-left: none !important;
    padding: 0 15px;
  }
  .el-drawer__body{
    background-color: #012E51;
    color: white;
    .ledLighting{
      background-color: #06486B;
      color: #fff;
    }
  }
  .drawerCenter{
    .el-input__inner{
      background-color: #2D69A5;
      color: white;
    }
    .handleLightClass {
      background: linear-gradient(177deg, #00ACED, #0079DB);
    }
  }
  .drawerActive{
    background-color:#EC9D3C
  }
  .drawerNo{
    background-color:#2D69A5
  }
  .control{
    background: linear-gradient(177deg, #00ACED, #0079DB);
    border-color: none;
  }
  .bottomEventForm, .el-card{
    background-color: transparent !important;
    border: none !important;
  } 
  .bottomEventForm .el-card__body .tunnelMap{
    border-bottom: none !important;
  }
  .formBox{
    background-color: #012E51;
    .el-input__inner{
      background-color: #04365D;
      border: 1px solid #01A3F4;
      color: #9DB5CC !important;
    }
    .el-form-item__label{
      color: #fff;
    }
    .el-radio{
      color: #9DB5CC;
    }
    .formLable{
      color: #fff;
    }
    .el-input input::-webkit-input-placeholder{
      color: #9DB5CC;
    }
    .el-textarea__inner{
      background-color: #04365D;
      border: 1px solid #01A3F4;
      color: #9DB5CC !important;
    }
  }
  
  .formTitle{
    background-color: transparent !important;
    color: white !important;
    border-left: none;
    border-bottom: solid 1px rgba($color: #F0F1F2, $alpha: 0.2);
  }
  .tunnelBox{
    background-color: #012E51 !important;
  }
  .rightBox{
    border-radius: none;
    background-color: #012E51;
    >.title{
      color: white;
    }
    .el-table{
      background-color: #012E51 !important;
      .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
        background-color: #012E51 !important;
        color: #01AAFD;
      }
      .el-table__body-wrapper{
        background-color: #012E51 !important;
      }
      tr{
        background-color: #012E51 !important;
        color: #fff;
      }
      th.el-table__cell.is-leaf, td.el-table__cell{
        border-bottom: 1px solid rgba($color: #E0E7ED, $alpha: 0.2);
      }
    }
  }
  .planBox{
    >.title{
      border-bottom: solid 1px rgba($color: #F0F1F2, $alpha: 0.2);
    }
  }
  .phoneBox{
    >.title{
      border-bottom: solid 1px rgba($color: #F0F1F2, $alpha: 0.2);
    }
    .phoneButton{
      background: #39ADFF;
    }
  }
  .processBox{
    .el-step__icon.is-icon{
      background: linear-gradient(177deg, rgba($color:#00ACED,$alpha:0.8), rgba($color: #0079DB, $alpha: 0.8));
    }
    .el-step__title.is-finish,.el-step__title.is-process{
      color: #fff;
    }
    .el-step__title.is-process{
      color: #fff;
    }
    .el-step.is-horizontal .el-step__line{
      border-top: dashed 1px #00A0FF;
    }
    .el-timeline-item__content{
      color: #fff;
    }
    .el-card{
      color: #fff;
      border: 1px solid #01AAFD !important;
      background-color: #04365D;
    }
    .el-card__body{
      color: #fff !important;
    }
    .el-timeline-item__tail{
      border-left: 1px dashed #00C8FF;
    }
    .endButton{
      color: #fff;
      .ButtonBox{
        border: solid 1px #01AAFD;background-color: #04365D;
        .recovery{
          border-bottom: dashed 1px #07A1FB;
        }
        .button{
          color: white;
          div{
            background: linear-gradient(172deg, rgba($color:#00ACED,$alpha: 0.8), rgba($color: #0079DB, $alpha: 0.8));
          }
        }
      }
    }
  }
  ::v-deep .el-timeline .el-card__body{
    color: #fff !important;
  }
  .implement{
    >.title{
      border-bottom: solid 1px rgba($color: #F0F1F2, $alpha: 0.2);
    }
    .implementContent{
      border-bottom: dashed 1px rgba($color: #F0F1F2, $alpha: 0.2);
      .contentBox{
        .row1{
          >div:nth-of-type(1){
            color: #01AAFD;
          }
          >div:nth-of-type(2){
            color: rgba($color: #fff, $alpha: 0.2);
          }
        }
        .row2{
          color: #fff;
        }
      }
    }
  }
  
}
