// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// 默认菜单主题风格
$base-menu-color: #fff; // 之前是#bfcbd9
$base-menu-color-active: #f4f4f5;
$base-menu-background: #00afe0;
$base-logo-title-color: #ffffff;

$base-menu-light-color: #ffffff;
$base-menu-light-background: #ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background: #1d58a9;
$base-sub-menu-hover: #3a71a8;

// 自定义暗色菜单风格
/**
$base-menu-color:hsla(0,0%,100%,.65);
$base-menu-color-active:#fff;
$base-menu-background:#001529;
$base-logo-title-color: #ffffff;

$base-menu-light-color:rgba(0,0,0,.70);
$base-menu-light-background:#ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background:#000c17;
$base-sub-menu-hover:#001528;
*/

$base-sidebar-width: 240px;

$theme-dark-bg-color: #1d58a9;
$theme-dark-text-color: #ffffff;
$theme-dark-input-color: #1d58a9;
$theme-dark-border-color: #ffffff;

$theme-light-bg-color: #ffffff;
$theme-light-text-color: #001529;

$theme-blue-bg-color: #004a77;
$theme-blue-text-color: #ffffff;
$theme-blue-input-color: #004a77;
$theme-blue-border-color: #4f8aaa;

$theme-blue-rgba: rgba(0, 74, 119, 0.8);
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color;
}
.el-menu-item:hover{background-color: unset;}
.el-menu-item:focus{background-color: unset;}
// add
// .theme-dark #app {

//   background-color: $theme-dark-bg-color;
// }
.theme-light #app {
  background-color: $theme-light-bg-color;
}


// 修改浏览器默认滚动条
// .theme-blue::-webkit-scrollbar {
//   width: 10px;
//   height: 1px;
// }

// .theme-blue::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: none;
//   background: #004a77;
//   -webkit-box-shadow: none;
// }

// .theme-blue::-webkit-scrollbar-track {
//   -webkit-box-shadow: none;
//   border-radius: 10px;
//   background: #004a77;
//   -webkit-box-shadow: none;
// }
// #306691   #4f8aaa
// theme-blue

// theme-light
.theme-light,.theme-blue {
  .is_top {
    .el-submenu__title:hover {
      background-color: unset !important;
    }
  }
  .sidebar-container {
    // background-color: rgba(0, 74, 119, 0.8);
    .el-scrollbar {
      .scrollbar-wrapper.el-scrollbar__wrap {
        margin: 0px !important;
        overflow: hidden;
      }
    }
  }
  .el-submenu__title:hover {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  #app {
    // 没有二级菜单情况下选中
    .is_left {
      .router-link-active {
        .is-active {
          background-color: #fff !important;
          span {
            color: white;
          }
          .svg-icon {
            color: white;
          }
        }
      }
    }
    .is_left {
      .el-menu {
        .nest-menu {
          a {
            .is-active {
              background-color: $theme-dark-bg-color !important;
              color: $theme-light-bg-color !important;
              width: 200px;
              border-radius: 8px;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              -ms-border-radius: 8px;
              -o-border-radius: 8px;
            }
          }
        }
        .menu-item {
          .el-submenu__title:hover {
            width: unset !important;
          }
          .is-active {
            width: unset;
          }
        }
      }
    }
  }
  #dropdown-menu-3689 {
    background-color: rgba(0, 74, 119, 0.8) !important;
  }
}
.theme-dark {
  .el-submenu__title:hover{background-color:unset}
  .menu-item {
    // background-color: rgba(0, 74, 119, 0.8);
    .el-menu {
      background-color: rgba(0, 74, 119, 0.8);
      .nest-menu {
        a {
          background-color: rgba(0, 74, 119, 0.8);
        }
      }
    }
  }
  .sidebar-container {
    // background-color: rgba(0, 74, 119, 0.8);
    .el-scrollbar {
      .scrollbar-wrapper.el-scrollbar__wrap {
        margin: 0px !important;
        overflow: hidden;
      }
    }
  }
  .el-scrollbar__view {
    .topSubmenu .el-submenu__title:hover {
      width: unset !important;
    }
    .is_left .el-submenu__title:hover {
      width: $base-sidebar-width;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
  .index_container {
    background-color: $theme-dark-bg-color;
  }
  .el-select-dropdown {
    .el-popper[x-placement^="bottom"] .popper__arrow::after {
      border-bottom-color: white;
    }
  }
  .onlyPop {
    .popper__arrow::after {
      border-bottom-color: #1d58a9e6;
    }
  }
  #app {
    .sidebar-container .theme-dark .el-submenu .is-active {
      color: $theme-dark-bg-color !important;
    }
    .sidebar-container .el-menu-item#left_nav.is-active {
      background-color: white !important;
      color: $theme-dark-bg-color !important;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      width: 200px;
    }
  }
}

// 处理浮动header
.theme-blue {
  .fixed-header {
    background-color: white;
    width: 100% !important;
  }
}

.clear {
  clear: both;
}
::v-deep .el-table::before{
  background-color: transparent !important;
}

// 限制表格的内容高度为3行
.el-table .cell {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
