<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.trafficOperationControl.trafficOperationStatus.SdTrafficFlowStateMapper">

    <resultMap type="SdTrafficFlowState" id="SdTrafficFlowStateResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="tunnelName" column="tunnel_name"/>
        <result property="statisticTime"    column="statistic_time"    />
        <result property="direction"    column="direction"    />
        <result property="trafficFlow"    column="traffic_flow"    />
        <result property="averageVelocity"    column="average_velocity"    />
        <result property="lineOccupancy" column="line_occupancy"/>
        <result property="carNum"    column="car_num"    />
        <result property="trunkNum"    column="trunk_num"    />
        <result property="specialCarNum"    column="special_car_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSdTrafficFlowStateVo">
        select id, tunnel_id, statistic_time, direction, traffic_flow, average_velocity,line_occupancy, car_num, trunk_num, special_car_num, create_time, create_by, update_time, update_by from sd_traffic_flow_state
    </sql>

    <select id="selectSdTrafficFlowStateList" parameterType="SdTrafficFlowState" resultMap="SdTrafficFlowStateResult">
        select s.id, s.tunnel_id, s.statistic_time, s.direction, s.traffic_flow, s.average_velocity,s.line_occupancy, s.car_num,
        s.trunk_num, s.special_car_num, s.create_time, s.create_by, s.update_time, s.update_by,t.tunnel_name
        from sd_traffic_flow_state s
        left join sd_tunnels t on s.tunnel_id = t.tunnel_id
        <where>
            <if test="tunnelId != null  and tunnelId != ''"> and s.tunnel_id = #{tunnelId}</if>
            <!-- <if test="statisticTime != null "> and statistic_time = #{statisticTime}</if> -->
            <if test="direction != null  and direction != ''"> and s.direction = #{direction}</if>
            <if test="trafficFlow != null  and trafficFlow != ''"> and s.traffic_flow = #{trafficFlow}</if>
            <if test="averageVelocity != null  and averageVelocity != ''"> and s.average_velocity = #{averageVelocity}</if>
            <if test="lineOccupancy != null and lineOccupancy != ''">and s.line_occupancy = #{lineOccupancy}</if>
            <if test="carNum != null  and carNum != ''"> and s.car_num = #{carNum}</if>
            <if test="trunkNum != null  and trunkNum != ''"> and s.trunk_num = #{trunkNum}</if>
            <if test="specialCarNum != null  and specialCarNum != ''"> and s.special_car_num = #{specialCarNum}</if>
             <!--开始时间-->
            <if test="params.startTime != null and params.startTime != ''">
                and date_format(s.statistic_time,'%y%m%d') &gt;= date_format(#{params.startTime},'%y%m%d')
            </if>
            <!-- 结束时间 -->
            <if test="params.endTime != null and params.endTime != ''">
                and date_format(s.statistic_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (t.dept_id = #{params.deptId} OR t.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
        <!-- 按统计时间排序 -->
        order by s.statistic_time desc
    </select>

    <select id="selectSdTrafficFlowStateById" parameterType="Long" resultMap="SdTrafficFlowStateResult">
        <include refid="selectSdTrafficFlowStateVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdTrafficFlowState" parameterType="SdTrafficFlowState" useGeneratedKeys="true" keyProperty="id">
        insert into sd_traffic_flow_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="statisticTime != null">statistic_time,</if>
            <if test="direction != null">direction,</if>
            <if test="trafficFlow != null">traffic_flow,</if>
            <if test="averageVelocity != null">average_velocity,</if>
            <if test="lineOccupancy != null">line_occupancy,</if>
            <if test="carNum != null">car_num,</if>
            <if test="trunkNum != null">trunk_num,</if>
            <if test="specialCarNum != null">special_car_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="statisticTime != null">#{statisticTime},</if>
            <if test="direction != null">#{direction},</if>
            <if test="trafficFlow != null">#{trafficFlow},</if>
            <if test="averageVelocity != null">#{averageVelocity},</if>
            <if test="lineOccupancy != null">
                #{lineOccupancy},
            </if>
            <if test="carNum != null">#{carNum},</if>
            <if test="trunkNum != null">#{trunkNum},</if>
            <if test="specialCarNum != null">#{specialCarNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSdTrafficFlowState" parameterType="SdTrafficFlowState">
        update sd_traffic_flow_state
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="statisticTime != null">statistic_time = #{statisticTime},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="trafficFlow != null">traffic_flow = #{trafficFlow},</if>
            <if test="averageVelocity != null">average_velocity = #{averageVelocity},</if>
            <if test="lineOccupancy != null">
                line_occupancy = #{lineOccupancy},
            </if>
            <if test="carNum != null">car_num = #{carNum},</if>
            <if test="trunkNum != null">trunk_num = #{trunkNum},</if>
            <if test="specialCarNum != null">special_car_num = #{specialCarNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdTrafficFlowStateById" parameterType="Long">
        delete from sd_traffic_flow_state where id = #{id}
    </delete>

    <delete id="deleteSdTrafficFlowStateByIds" parameterType="String">
        delete from sd_traffic_flow_state where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--展示各隧道最近24小时内各个种类车型的车流量和平均速度的趋势图-->
    <select id="getChartData" resultMap="SdTrafficFlowStateResult">
         select a.id, a.tunnel_id, a.statistic_time, a.direction, a.traffic_flow, a.average_velocity,a.line_occupancy,
                a.car_num, a.trunk_num,a.special_car_num from sd_traffic_flow_state a
         left join sd_tunnels b on b.tunnel_id = a.tunnel_id
         where a.statistic_time >= date_sub(sysdate(),interval 1 day)
        and a.tunnel_id = #{tunnelId}
        <if test="deptId != null and deptId != ''">
            AND (b.dept_id = #{deptId} OR b.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{deptId},d.ancestors) ))
        </if>
        order by a.statistic_time asc
    </select>
</mapper>
