<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.videoevents.SdCreateDockerMapper">
    
    <resultMap type="SdCreateDocker" id="SdCreateDockerResult">
        <result property="id"    column="id"    />
        <result property="deviceID"    column="deviceID"    />
        <result property="dockerIp"    column="dockerIp"    />
        <result property="dockerPort"    column="dockerPort"    />
        <result property="dockerName"    column="dockerName"    />
        <result property="vcpus"    column="vcpus"    />
        <result property="mems"    column="mems"    />
        <result property="nGpuId"    column="nGpuId"    />
        <result property="nFaceEnable"    column="nFaceEnable"    />
        <result property="nBodyEnable"    column="nBodyEnable"    />
        <result property="nMotorEnable"    column="nMotorEnable"    />
        <result property="nNonMotorEnable"    column="nNonMotorEnable"    />
        <result property="nEventEnable"    column="nEventEnable"    />
        <result property="nEventMode"    column="nEventMode"    />
        <result property="authPath"    column="authPath"    />
        <result property="serverName"    column="serverName"    />
        <result property="serverPwd"    column="serverPwd"    />
        <result property="create_by"    column="create_by"    />
        <result property="create_time"    column="create_time"    />
        <result property="update_by"    column="update_by"    />
        <result property="update_time"    column="update_time"    />
    </resultMap>

    <sql id="selectSdCreateDockerVo">
        select id, deviceID,dockerIp, dockerPort, dockerName, vcpus, mems, nGpuId, nFaceEnable, nBodyEnable, nMotorEnable, nNonMotorEnable, nEventEnable, nEventMode, authPath,serverName,serverPwd,
         create_by, create_time, update_by, update_time from sd_create_docker
    </sql>

    <select id="selectSdCreateDockerList" parameterType="SdCreateDocker" resultMap="SdCreateDockerResult">
        <include refid="selectSdCreateDockerVo"/>
        <where>  
            <if test="deviceID != null "> and deviceID = #{deviceID}</if>
            <if test="dockerIp != null "> and dockerIp like concat('%', #{dockerIp}, '%')</if>
            <if test="dockerPort != null "> and dockerPort like concat('%', #{dockerPort}, '%')</if>
        </where>
    </select>
    
    <select id="selectSdCreateDockerById" parameterType="Integer" resultMap="SdCreateDockerResult">
        <include refid="selectSdCreateDockerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdCreateDocker" parameterType="SdCreateDocker" useGeneratedKeys="true" keyProperty="id">
        insert into sd_create_docker
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceID != null">deviceID,</if>
            <if test="dockerIp != null">dockerIp,</if>
            <if test="dockerPort != null">dockerPort,</if>
            <if test="dockerName != null">dockerName,</if>
            <if test="vcpus != null">vcpus,</if>
            <if test="mems != null">mems,</if>
            <if test="nGpuId != null">nGpuId,</if>
            <if test="nFaceEnable != null">nFaceEnable,</if>
            <if test="nBodyEnable != null">nBodyEnable,</if>
            <if test="nMotorEnable != null">nMotorEnable,</if>
            <if test="nNonMotorEnable != null">nNonMotorEnable,</if>
            <if test="nEventEnable != null">nEventEnable,</if>
            <if test="nEventMode != null">nEventMode,</if>
            <if test="authPath != null">authPath,</if>
            <if test="serverName != null">serverName,</if>
            <if test="serverPwd != null">serverPwd,</if>
            <if test="create_by != null">create_by,</if>
            <if test="create_time != null">create_time,</if>
            <if test="update_by != null">update_by,</if>
            <if test="update_time != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceID != null">#{deviceID},</if>
            <if test="dockerIp != null">#{dockerIp},</if>
            <if test="dockerPort != null">#{dockerPort},</if>
            <if test="dockerName != null">#{dockerName},</if>
            <if test="vcpus != null">#{vcpus},</if>
            <if test="mems != null">#{mems},</if>
            <if test="nGpuId != null">#{nGpuId},</if>
            <if test="nFaceEnable != null">#{nFaceEnable},</if>
            <if test="nBodyEnable != null">#{nBodyEnable},</if>
            <if test="nMotorEnable != null">#{nMotorEnable},</if>
            <if test="nNonMotorEnable != null">#{nNonMotorEnable},</if>
            <if test="nEventEnable != null">#{nEventEnable},</if>
            <if test="nEventMode != null">#{nEventMode},</if>
            <if test="authPath != null">#{authPath},</if>
            <if test="serverName != null">#{serverName},</if>
            <if test="serverPwd != null">#{serverPwd},</if>
            <if test="create_by != null">#{create_by},</if>
            <if test="create_time != null">#{create_time},</if>
            <if test="update_by != null">#{update_by},</if>
            <if test="update_time != null">#{update_time},</if>
         </trim>
    </insert>

    <update id="updateSdCreateDocker" parameterType="SdCreateDocker">
        update sd_create_docker
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceID != null">deviceID = #{deviceID},</if>
            <if test="dockerIp != null">dockerIp = #{dockerIp},</if>
            <if test="dockerPort != null">dockerPort = #{dockerPort},</if>
            <if test="dockerName != null">dockerName = #{dockerName},</if>
            <if test="vcpus != null">vcpus = #{vcpus},</if>
            <if test="mems != null">mems = #{mems},</if>
            <if test="nGpuId != null">nGpuId = #{nGpuId},</if>
            <if test="nFaceEnable != null">nFaceEnable = #{nFaceEnable},</if>
            <if test="nBodyEnable != null">nBodyEnable = #{nBodyEnable},</if>
            <if test="nMotorEnable != null">nMotorEnable = #{nMotorEnable},</if>
            <if test="nNonMotorEnable != null">nNonMotorEnable = #{nNonMotorEnable},</if>
            <if test="nEventEnable != null">nEventEnable = #{nEventEnable},</if>
            <if test="nEventMode != null">nEventMode = #{nEventMode},</if>
            <if test="authPath != null">authPath = #{authPath},</if>
            <if test="serverName != null">serverName=#{serverName},</if>
            <if test="serverPwd != null">serverPwd=#{serverPwd},</if>
            <if test="create_by != null">create_by = #{create_by},</if>
            <if test="create_time != null">create_time = #{create_time},</if>
            <if test="update_by != null">update_by = #{update_by},</if>
            <if test="update_time != null">update_time = #{update_time},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdCreateDockerById" parameterType="Integer">
        delete from sd_create_docker where id = #{id}
    </delete>

    <delete id="deleteSdCreateDockerByIds" parameterType="String">
        delete from sd_create_docker where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>