<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdEmergencyDeviceMapper">
    
    <resultMap type="SdEmergencyDevice" id="SdEmergencyDeviceResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="tunnelName"    column="tunnel_name"    />
        <result property="direction"    column="direction"    />
        <result property="mileage"    column="mileage"    />
        <result property="eqFire"    column="eq_fire"    />
        <result property="eqFireHydrant"    column="eq_fire_hydrant"    />
        <result property="eqFoam"    column="eq_foam"    />
        <result property="remark"    column="remark"    />
        <result property="create_by"    column="create_by"    />
        <result property="update_time"    column="update_time"    />
        <result property="create_time"    column="create_time"    />
        <result property="update_by"    column="update_by"    />
    </resultMap>

    <sql id="selectSdEmergencyDeviceVo">
        select a.id, a.tunnel_id, b.tunnel_name ,a.direction, a.mileage, a.eq_fire, a.eq_fire_hydrant, a.eq_foam, a.remark, a.create_by, a.update_time, a.create_time, a.update_by
        from sd_emergency_device a left join sd_tunnels b on A.tunnel_id = b.tunnel_id
    </sql>

    <select id="selectSdEmergencyDeviceList" parameterType="SdEmergencyDevice" resultMap="SdEmergencyDeviceResult">
        <include refid="selectSdEmergencyDeviceVo"/>
        <where>  
            <if test="tunnelId != null  and tunnelId != ''"> and a.tunnel_id = #{tunnelId}</if>
            <if test="direction != null  and direction != ''"> and a.direction = #{direction}</if>
        </where>
    </select>
    
    <select id="selectSdEmergencyDeviceById" parameterType="Long" resultMap="SdEmergencyDeviceResult">
        <include refid="selectSdEmergencyDeviceVo"/>
        where a.id = #{id}
    </select>
        
    <insert id="insertSdEmergencyDevice" parameterType="SdEmergencyDevice" useGeneratedKeys="true" keyProperty="id">
        insert into sd_emergency_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="direction != null">direction,</if>
            <if test="mileage != null">mileage,</if>
            <if test="eqFire != null">eq_fire,</if>
            <if test="eqFireHydrant != null">eq_fire_hydrant,</if>
            <if test="eqFoam != null">eq_foam,</if>
            <if test="remark != null">remark,</if>
            <if test="create_by != null">create_by,</if>
            <if test="update_time != null">update_time,</if>
            <if test="create_time != null">create_time,</if>
            <if test="update_by != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="direction != null">#{direction},</if>
            <if test="mileage != null">#{mileage},</if>
            <if test="eqFire != null">#{eqFire},</if>
            <if test="eqFireHydrant != null">#{eqFireHydrant},</if>
            <if test="eqFoam != null">#{eqFoam},</if>
            <if test="remark != null">#{remark},</if>
            <if test="create_by != null">#{create_by},</if>
            <if test="update_time != null">#{update_time},</if>
            <if test="create_time != null">#{create_time},</if>
            <if test="update_by != null">#{update_by},</if>
         </trim>
    </insert>

    <update id="updateSdEmergencyDevice" parameterType="SdEmergencyDevice">
        update sd_emergency_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="mileage != null">mileage = #{mileage},</if>
            <if test="eqFire != null">eq_fire = #{eqFire},</if>
            <if test="eqFireHydrant != null">eq_fire_hydrant = #{eqFireHydrant},</if>
            <if test="eqFoam != null">eq_foam = #{eqFoam},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="create_by != null">create_by = #{create_by},</if>
            <if test="update_time != null">update_time = #{update_time},</if>
            <if test="create_time != null">create_time = #{create_time},</if>
            <if test="update_by != null">update_by = #{update_by},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEmergencyDeviceById" parameterType="Long">
        delete from sd_emergency_device where id = #{id}
    </delete>

    <delete id="deleteSdEmergencyDeviceByIds" parameterType="String">
        delete from sd_emergency_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>