<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdEventHandleMapper">
    
    <resultMap type="SdEventHandle" id="SdEventHandleResult">
        <result property="id"    column="id"    />
        <result property="eventId"    column="event_id"    />
        <result property="flowId"    column="flow_id"    />
        <result property="flowPid"    column="flow_pid"    />
        <result property="flowContent"    column="flow_content"    />
        <result property="eventState"    column="event_state"    />
        <result property="reserveName"    column="reserve_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="eqTypeId"    column="eq_type_id"    />
    </resultMap>

    <sql id="selectSdEventHandleVo">
        select id, event_id, flow_id, flow_pid, flow_content, event_state, reserve_id, process_id, flow_sort, reserve_name, create_time, update_time from sd_event_handle
    </sql>
    <sql id="selectSdEventHandle">
        select eh.id, eh.event_id, eh.flow_id, eh.flow_pid, eh.flow_content, eh.event_state, eh.reserve_id, eh.process_id, eh.flow_sort, eh.reserve_name, eh.create_time, eh.update_time
    </sql>

    <select id="selectSdEventHandleList" parameterType="SdEventHandle" resultMap="SdEventHandleResult">
        <include refid="selectSdEventHandle"/>,
        rh.eq_type_id
        from sd_event_handle eh
        LEFT JOIN sd_join_reserve_handle rh ON eh.process_id = rh.id
        <where>  
            <if test="eventId != null "> and eh.event_id = #{eventId}</if>
            <if test="flowId != null "> and eh.flow_id = #{flowId}</if>
            <if test="flowPid != null "> and eh.flow_pid = #{flowPid}</if>
            <if test="processId != null "> and eh.process_id = #{processId}</if>
            <if test="flowContent != null  and flowContent != ''"> and eh.flow_content = #{flowContent}</if>
            <if test="eventState != null  and eventState != ''"> and eh.event_state = #{eventState}</if>
        </where>
        ORDER BY eh.flow_sort+0 ASC
    </select>

    <select id="selectHistoryHandleList" parameterType="SdEventHandle" resultMap="SdEventHandleResult">
        select
            event_id,
            flow_id,
            flow_pid,
            flow_content,
            event_state,
            reserve_id,
            process_id,
            flow_sort,
            reserve_name,
            create_time,
            update_time from sd_event_handle
        where 1=1
        and event_id = #{eventId}
        ORDER BY create_time ASC
    </select>


    
    <select id="selectSdEventHandleById" parameterType="Long" resultMap="SdEventHandleResult">
        <include refid="selectSdEventHandleVo"/>
        where id = #{id}
    </select>

    <select id="selectSdEventHandle" parameterType="Long" resultType="int">
        select
            count(*)
        from sd_event_handle
        where event_id = #{eventId}
    </select>
        
    <insert id="insertSdEventHandle" parameterType="SdEventHandle">
        insert into sd_event_handle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="eventId != null">event_id,</if>
            <if test="flowId != null">flow_id,</if>
            <if test="flowPid != null">flow_pid,</if>
            <if test="flowContent != null">flow_content,</if>
            <if test="eventState != null">event_state,</if>
            <if test="reserveId != null">reserve_id,</if>
            <if test="processId != null">process_id,</if>
            <if test="flowSort != null">flow_sort,</if>
            <if test="reserveName != null">reserve_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="eventId != null">#{eventId},</if>
            <if test="flowId != null">#{flowId},</if>
            <if test="flowPid != null">#{flowPid},</if>
            <if test="flowContent != null">#{flowContent},</if>
            <if test="eventState != null">#{eventState},</if>
            <if test="reserveId != null">#{reserveId},</if>
            <if test="processId != null">#{processId},</if>
            <if test="flowSort != null">#{flowSort},</if>
            <if test="reserveName != null">#{reserveName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdEventHandle" parameterType="SdEventHandle">
        update sd_event_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="eventId != null">event_id = #{eventId},</if>
            <if test="flowId != null">flow_id = #{flowId},</if>
            <if test="flowPid != null">flow_pid = #{flowPid},</if>
            <if test="flowContent != null">flow_content = #{flowContent},</if>
            <if test="eventState != null">event_state = #{eventState},</if>
            <if test="reserveId != null">reserve_id = #{reserveId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="flowSort != null">flow_sort = #{flowSort},</if>
            <if test="reserveName != null">reserve_name = #{reserveName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateHandleState" parameterType="SdEventHandle">
        update sd_event_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowId != null">flow_id = #{flowId},</if>
            <if test="flowPid != null">flow_pid = #{flowPid},</if>
            <if test="flowContent != null">flow_content = #{flowContent},</if>
            <if test="eventState != null">event_state = #{eventState},</if>
            <if test="reserveId != null">reserve_id = #{reserveId},</if>
            <if test="flowSort != null">flow_sort = #{flowSort},</if>
            <if test="reserveName != null">reserve_name = #{reserveName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where event_id = #{eventId} AND process_id = #{processId}
    </update>

    <delete id="deleteSdEventHandleById" parameterType="Long">
        delete from sd_event_handle where id = #{id}
    </delete>

    <delete id="deleteSdEventHandleByIds" parameterType="String">
        delete from sd_event_handle where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateSdEventHandleRelation" parameterType="SdEventHandle">
        update sd_event_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowPid != null">flow_pid = #{flowPid},</if>
            <if test="flowContent != null">flow_content = #{flowContent},</if>
            <if test="eventState != null">event_state = #{eventState},</if>
            <if test="reserveId != null">reserve_id = #{reserveId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="flowSort != null">flow_sort = #{flowSort},</if>
            <if test="reserveName != null">reserve_name = #{reserveName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where event_id = #{eventId} AND flow_id = #{flowId}
    </update>

    <delete id="deleteRelation" parameterType="SdEventHandle">
        delete from sd_event_handle where 1 = 1
        <if test="eventId != null and eventId != ''">
            AND event_id = #{eventId}
        </if>
        <if test="flowPid != null and flowPid != ''">
            AND flow_pid = #{flowPid}
        </if>
    </delete>
</mapper>