<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdJoinPlanStrategyMapper">
    
    <resultMap type="SdJoinPlanStrategy" id="SdJoinPlanStrategyResult">
        <result property="id"    column="id"    />
        <result property="currentId"    column="current_id"    />
        <result property="templateId"    column="template_id"    />
        <result property="screenSize"    column="screen_size"    />
        <result property="content"    column="content"    />
        <result property="fontColor"    column="font_color"    />
        <result property="fontSize"    column="font_size"    />
        <result property="fontType"    column="font_type"    />
        <result property="fontSpacing"    column="font_spacing"    />
        <result property="coordinate"    column="coordinate"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="height"    column="height"    />
        <result property="width"    column="width"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="stopTime"    column="stop_time"    />
    </resultMap>

    <sql id="selectSdJoinPlanStrategyVo">
        select id, current_id, template_id, screen_size, content, font_color, font_size, font_type, font_spacing, coordinate, image_url, height, width, type, create_time, stop_time from sd_join_plan_strategy
    </sql>

    <select id="selectSdJoinPlanStrategyList" parameterType="SdJoinPlanStrategy" resultMap="SdJoinPlanStrategyResult">
        <include refid="selectSdJoinPlanStrategyVo"/>
        <where>  
            <if test="currentId != null "> and current_id = #{currentId}</if>
            <if test="templateId != null  and templateId != ''"> and template_id = #{templateId}</if>
            <if test="screenSize != null  and screenSize != ''"> and screen_size = #{screenSize}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="fontColor != null  and fontColor != ''"> and font_color = #{fontColor}</if>
            <if test="fontSize != null "> and font_size = #{fontSize}</if>
            <if test="fontType != null  and fontType != ''"> and font_type = #{fontType}</if>
            <if test="fontSpacing != null "> and font_spacing = #{fontSpacing}</if>
            <if test="coordinate != null  and coordinate != ''"> and coordinate = #{coordinate}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="height != null  and height != ''"> and height = #{height}</if>
            <if test="width != null  and width != ''"> and width = #{width}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="stopTime != null  and stopTime != ''"> and stop_time = #{stopTime}</if>
        </where>
    </select>
    
    <select id="selectSdJoinPlanStrategyById" parameterType="Long" resultMap="SdJoinPlanStrategyResult">
        <include refid="selectSdJoinPlanStrategyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdJoinPlanStrategy" parameterType="SdJoinPlanStrategy" useGeneratedKeys="true" keyProperty="id">
        insert into sd_join_plan_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="currentId != null">current_id,</if>
            <if test="templateId != null">template_id,</if>
            <if test="screenSize != null">screen_size,</if>
            <if test="content != null">content,</if>
            <if test="fontColor != null">font_color,</if>
            <if test="fontSize != null">font_size,</if>
            <if test="fontType != null">font_type,</if>
            <if test="fontSpacing != null">font_spacing,</if>
            <if test="coordinate != null">coordinate,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="height != null">height,</if>
            <if test="width != null">width,</if>
            <if test="type != null">type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="stopTime != null">stop_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="currentId != null">#{currentId},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="screenSize != null">#{screenSize},</if>
            <if test="content != null">#{content},</if>
            <if test="fontColor != null">#{fontColor},</if>
            <if test="fontSize != null">#{fontSize},</if>
            <if test="fontType != null">#{fontType},</if>
            <if test="fontSpacing != null">#{fontSpacing},</if>
            <if test="coordinate != null">#{coordinate},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="height != null">#{height},</if>
            <if test="width != null">#{width},</if>
            <if test="type != null">#{type},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="stopTime != null">#{stopTime},</if>
         </trim>
    </insert>

    <update id="updateSdJoinPlanStrategy" parameterType="SdJoinPlanStrategy">
        update sd_join_plan_strategy
        <trim prefix="SET" suffixOverrides=",">
            <if test="currentId != null">current_id = #{currentId},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="screenSize != null">screen_size = #{screenSize},</if>
            <if test="content != null">content = #{content},</if>
            <if test="fontColor != null">font_color = #{fontColor},</if>
            <if test="fontSize != null">font_size = #{fontSize},</if>
            <if test="fontType != null">font_type = #{fontType},</if>
            <if test="fontSpacing != null">font_spacing = #{fontSpacing},</if>
            <if test="coordinate != null">coordinate = #{coordinate},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="height != null">height = #{height},</if>
            <if test="width != null">width = #{width},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="stopTime != null">stop_time = #{stopTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdJoinPlanStrategyById" parameterType="Long">
        delete from sd_join_plan_strategy where id = #{id}
    </delete>

    <delete id="deletePlanStrategyVms">
        delete from sd_join_plan_strategy where current_id = #{id} and type = #{type}
    </delete>

    <delete id="deleteSdJoinPlanStrategyByIds" parameterType="String">
        delete from sd_join_plan_strategy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getTemplateContent" parameterType="sdJoinPlanStrategy" resultType="hashmap">
        SELECT
            ps.id,
            ps.template_id,
            ps.screen_size,
            ps.content,
            ps.font_color,
            ps.font_size,
            ps.font_type,
            ps.font_spacing,
            ps.coordinate,
            ps.stop_time
        FROM
            sd_join_plan_strategy ps
        WHERE
            1 = 1
        AND ps.current_id = #{currentId}
        AND ps.template_id = #{templateId}
        AND ps.type = #{type}
    </select>
</mapper>