<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdLaneStatisticsMapper">
    
    <resultMap type="SdLaneStatistics" id="SdLaneStatisticsResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="laneNo"    column="lane_no"    />
        <result property="speed"    column="speed"    />
        <result property="timeOccupy"    column="time_occupy"    />
        <result property="spaceOccupy"    column="space_occupy"    />
        <result property="gap"    column="gap"    />
        <result property="gapTime"    column="gap_time"    />
        <result property="time"    column="time"    />
        <result property="flowSmall"    column="flow_small"    />
        <result property="flowMedium"    column="flow_medium"    />
        <result property="flowLarge"    column="flow_large"    />
        <result property="flowxLarge"    column="flowx_large"    />
        <result property="cars"    column="cars"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="roadDir"    column="road_dir"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdLaneStatisticsVo">
        select id, tunnel_id, lane_no, speed, time_occupy, space_occupy, gap, gap_time, time, flow_small, flow_medium, flow_large, flowx_large, cars, start_time, end_time, road_dir, create_by, create_time, update_by, update_time from sd_lane_statistics
    </sql>

    <select id="selectSdLaneStatisticsList" parameterType="SdLaneStatistics" resultMap="SdLaneStatisticsResult">
        <include refid="selectSdLaneStatisticsVo"/>
        <where>  
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="laneNo != null "> and lane_no = #{laneNo}</if>
            <if test="speed != null  and speed != ''"> and speed = #{speed}</if>
            <if test="timeOccupy != null  and timeOccupy != ''"> and time_occupy = #{timeOccupy}</if>
            <if test="spaceOccupy != null  and spaceOccupy != ''"> and space_occupy = #{spaceOccupy}</if>
            <if test="gap != null  and gap != ''"> and gap = #{gap}</if>
            <if test="gapTime != null  and gapTime != ''"> and gap_time = #{gapTime}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="flowSmall != null "> and flow_small = #{flowSmall}</if>
            <if test="flowMedium != null "> and flow_medium = #{flowMedium}</if>
            <if test="flowLarge != null "> and flow_large = #{flowLarge}</if>
            <if test="flowxLarge != null "> and flowx_large = #{flowxLarge}</if>
            <if test="cars != null "> and cars = #{cars}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="roadDir != null  and roadDir != ''"> and road_dir = #{roadDir}</if>
        </where>
    </select>
    
    <select id="selectSdLaneStatisticsById" parameterType="Long" resultMap="SdLaneStatisticsResult">
        <include refid="selectSdLaneStatisticsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdLaneStatistics" parameterType="SdLaneStatistics" useGeneratedKeys="true" keyProperty="id">
        insert into sd_lane_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="laneNo != null">lane_no,</if>
            <if test="speed != null">speed,</if>
            <if test="timeOccupy != null">time_occupy,</if>
            <if test="spaceOccupy != null">space_occupy,</if>
            <if test="gap != null">gap,</if>
            <if test="gapTime != null">gap_time,</if>
            <if test="time != null">time,</if>
            <if test="flowSmall != null">flow_small,</if>
            <if test="flowMedium != null">flow_medium,</if>
            <if test="flowLarge != null">flow_large,</if>
            <if test="flowxLarge != null">flowx_large,</if>
            <if test="cars != null">cars,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="roadDir != null">road_dir,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="laneNo != null">#{laneNo},</if>
            <if test="speed != null">#{speed},</if>
            <if test="timeOccupy != null">#{timeOccupy},</if>
            <if test="spaceOccupy != null">#{spaceOccupy},</if>
            <if test="gap != null">#{gap},</if>
            <if test="gapTime != null">#{gapTime},</if>
            <if test="time != null">#{time},</if>
            <if test="flowSmall != null">#{flowSmall},</if>
            <if test="flowMedium != null">#{flowMedium},</if>
            <if test="flowLarge != null">#{flowLarge},</if>
            <if test="flowxLarge != null">#{flowxLarge},</if>
            <if test="cars != null">#{cars},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="roadDir != null">#{roadDir},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdLaneStatistics" parameterType="SdLaneStatistics">
        update sd_lane_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="laneNo != null">lane_no = #{laneNo},</if>
            <if test="speed != null">speed = #{speed},</if>
            <if test="timeOccupy != null">time_occupy = #{timeOccupy},</if>
            <if test="spaceOccupy != null">space_occupy = #{spaceOccupy},</if>
            <if test="gap != null">gap = #{gap},</if>
            <if test="gapTime != null">gap_time = #{gapTime},</if>
            <if test="time != null">time = #{time},</if>
            <if test="flowSmall != null">flow_small = #{flowSmall},</if>
            <if test="flowMedium != null">flow_medium = #{flowMedium},</if>
            <if test="flowLarge != null">flow_large = #{flowLarge},</if>
            <if test="flowxLarge != null">flowx_large = #{flowxLarge},</if>
            <if test="cars != null">cars = #{cars},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="roadDir != null">road_dir = #{roadDir},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdLaneStatisticsById" parameterType="Long">
        delete from sd_lane_statistics where id = #{id}
    </delete>

    <delete id="deleteSdLaneStatisticsByIds" parameterType="String">
        delete from sd_lane_statistics where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>