<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdReserveProcessMapper">
    
    <resultMap type="SdReserveProcess" id="SdReserveProcessResult">
        <result property="id"    column="id"    />
        <result property="reserveId"    column="reserve_id"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="strategyId"    column="strategy_id"    />
        <result property="processName"    column="process_name"    />
        <result property="processSort"    column="process_sort"    />
        <result property="processStageName"    column="process_stage_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <!-- 预案流程 -->
    <resultMap id="processListResult" type="sdReserveProcess">
        <result property="processStageName" column="process_stage_name"/>
        <result property="processSort" column="process_sort"/>
        <result column="reserve_id" property="reserveId"/>
        <collection property="processesList" ofType="sdReserveProcess">
            <id property="id" column="id"/>
            <result column="reserve_id" property="reserveId"/>
            <result column="device_type_id" property="deviceTypeId"/>
            <result column="strategy_id" property="strategyId"/>
            <result column="process_name" property="processName"/>
            <result column="equipments" property="equipments"/>
            <result column="retrieval_rule" property="retrievalRule"/>
            <result column="state" property="state"/>
        </collection>
    </resultMap>

    <sql id="selectSdReserveProcessVo">
        select id, reserve_id, device_type_id, strategy_id, process_name, process_sort, process_stage_name, create_by, create_time, update_by, update_time from sd_reserve_process
    </sql>

    <select id="selectSdReserveProcessList" parameterType="SdReserveProcess" resultMap="SdReserveProcessResult">
        <include refid="selectSdReserveProcessVo"/>
        <where>  
            <if test="reserveId != null "> and reserve_id = #{reserveId}</if>
            <if test="deviceTypeId != null "> and device_type_id = #{deviceTypeId}</if>
            <if test="strategyId != null "> and strategy_id = #{strategyId}</if>
            <if test="processName != null  and processName != ''"> and process_name like concat('%', #{processName}, '%')</if>
            <if test="processSort != null "> and process_sort = #{processSort}</if>
        </where>
    </select>
    
    <select id="selectSdReserveProcessById" parameterType="Long" resultMap="SdReserveProcessResult">
        <include refid="selectSdReserveProcessVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdReserveProcess" parameterType="SdReserveProcess" useGeneratedKeys="true" keyProperty="id">
        insert into sd_reserve_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reserveId != null">reserve_id,</if>
            <if test="deviceTypeId != null">device_type_id,</if>
            <if test="strategyId != null">strategy_id,</if>
            <if test="processName != null">process_name,</if>
            <if test="processSort != null">process_sort,</if>
            <if test="processStageName != null">process_stage_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reserveId != null">#{reserveId},</if>
            <if test="deviceTypeId != null">#{deviceTypeId},</if>
            <if test="strategyId != null">#{strategyId},</if>
            <if test="processName != null">#{processName},</if>
            <if test="processSort != null">#{processSort},</if>
            <if test="processStageName != null">#{processStageName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="batchSdReserveProcess" useGeneratedKeys="true" keyProperty="id">
    insert into sd_reserve_process (
        reserve_id,
        device_type_id,
        strategy_id,
        process_name,
        process_sort,
        create_by,
        create_time,
        process_stage_name
        ) value
        <foreach collection="sdReserveProcesses" separator="," item="resp" index="index">
        (
            #{resp.reserveId},
            #{resp.deviceTypeId},
            #{resp.strategyId},
            #{resp.processName},
            #{resp.processSort},
            #{resp.createBy},
            #{resp.createTime},
            #{resp.processStageName}
        )
    </foreach>
</insert>

    <update id="updateSdReserveProcess" parameterType="SdReserveProcess">
        update sd_reserve_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="reserveId != null">reserve_id = #{reserveId},</if>
            <if test="deviceTypeId != null">device_type_id = #{deviceTypeId},</if>
            <if test="strategyId != null">strategy_id = #{strategyId},</if>
            <if test="processName != null">process_name = #{processName},</if>
            <if test="processSort != null">process_sort = #{processSort},</if>
            <if test="processStageName != null">process_stage_name = #{processStageName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdReserveProcessById" parameterType="Long">
        delete from sd_reserve_process where id = #{id}
    </delete>

    <delete id="deleteSdReserveProcessByIds" parameterType="String">
        delete from sd_reserve_process where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSdReserveProcessByPlanId" parameterType="Long">
        delete from sd_reserve_process where reserve_id = #{id}
    </delete>

    <select id="selectSdReserveProcessByRid" resultMap="SdReserveProcessResult">
        select id, reserve_id, device_type_id, strategy_id, process_name, process_sort
        from sd_reserve_process
        where reserve_id = #{reserveId}
        order by process_sort
    </select>

    <select id="getReservePlanProcess" resultType="hashmap" parameterType="java.lang.Long">
        SELECT
            process.process_name,
            rl.eq_type_id,
            rl.equipments,
            rl.retrieval_rule,
            rl.state
        FROM
            sd_reserve_process process
                LEFT JOIN sd_strategy_rl rl ON rl.id = process.strategy_id
        WHERE
            process.reserve_id = #{reserveId}
    </select>

    <select id="getProcessList" parameterType="java.lang.Long" resultMap="processListResult">
        SELECT
            rp.process_stage_name,
            rp.process_sort,
            rp.id,
            rp.reserve_id,
            rp.process_name,
            rp.device_type_id,
            rp.strategy_id,
            sr.equipments,
            sr.retrieval_rule,
            sr.state
        FROM
            sd_reserve_process rp
            LEFT JOIN sd_strategy_rl sr ON rp.strategy_id = sr.id
        WHERE
            1 = 1
          AND rp.reserve_id = #{reserveId}
    </select>
</mapper>