<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdVehicleDrivingMapper">
    
    <resultMap type="SdVehicleDriving" id="SdVehicleDrivingResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="trackId"    column="track_id"    />
        <result property="plateColor"    column="plate_color"    />
        <result property="plateNumber"    column="plate_number"    />
        <result property="objectType"    column="object_type"    />
        <result property="vehicleType"    column="vehicle_type"    />
        <result property="vehicleColor"    column="vehicle_color"    />
        <result property="speed"    column="speed"    />
        <result property="travelType"    column="travel_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="roadDir"    column="road_dir"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdVehicleDrivingVo">
        select id, tunnel_id, track_id, plate_color, plate_number, object_type, vehicle_type, vehicle_color, speed, travel_type, start_time, road_dir, create_by, create_time, update_by, update_time from sd_vehicle_driving
    </sql>

    <select id="selectSdVehicleDrivingList" parameterType="SdVehicleDriving" resultMap="SdVehicleDrivingResult">
        <include refid="selectSdVehicleDrivingVo"/>
        <where>  
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="trackId != null "> and track_id = #{trackId}</if>
            <if test="plateColor != null  and plateColor != ''"> and plate_color = #{plateColor}</if>
            <if test="plateNumber != null  and plateNumber != ''"> and plate_number = #{plateNumber}</if>
            <if test="objectType != null  and objectType != ''"> and object_type = #{objectType}</if>
            <if test="vehicleType != null  and vehicleType != ''"> and vehicle_type = #{vehicleType}</if>
            <if test="vehicleColor != null  and vehicleColor != ''"> and vehicle_color = #{vehicleColor}</if>
            <if test="speed != null  and speed != ''"> and speed = #{speed}</if>
            <if test="travelType != null  and travelType != ''"> and travel_type = #{travelType}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="roadDir != null  and roadDir != ''"> and road_dir = #{roadDir}</if>
        </where>
    </select>
    
    <select id="selectSdVehicleDrivingById" parameterType="Long" resultMap="SdVehicleDrivingResult">
        <include refid="selectSdVehicleDrivingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdVehicleDriving" parameterType="SdVehicleDriving">
        insert into sd_vehicle_driving
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="trackId != null">track_id,</if>
            <if test="plateColor != null">plate_color,</if>
            <if test="plateNumber != null">plate_number,</if>
            <if test="objectType != null">object_type,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <if test="vehicleColor != null">vehicle_color,</if>
            <if test="speed != null">speed,</if>
            <if test="travelType != null">travel_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="roadDir != null">road_dir,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="trackId != null">#{trackId},</if>
            <if test="plateColor != null">#{plateColor},</if>
            <if test="plateNumber != null">#{plateNumber},</if>
            <if test="objectType != null">#{objectType},</if>
            <if test="vehicleType != null">#{vehicleType},</if>
            <if test="vehicleColor != null">#{vehicleColor},</if>
            <if test="speed != null">#{speed},</if>
            <if test="travelType != null">#{travelType},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="roadDir != null">#{roadDir},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdVehicleDriving" parameterType="SdVehicleDriving">
        update sd_vehicle_driving
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="trackId != null">track_id = #{trackId},</if>
            <if test="plateColor != null">plate_color = #{plateColor},</if>
            <if test="plateNumber != null">plate_number = #{plateNumber},</if>
            <if test="objectType != null">object_type = #{objectType},</if>
            <if test="vehicleType != null">vehicle_type = #{vehicleType},</if>
            <if test="vehicleColor != null">vehicle_color = #{vehicleColor},</if>
            <if test="speed != null">speed = #{speed},</if>
            <if test="travelType != null">travel_type = #{travelType},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="roadDir != null">road_dir = #{roadDir},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdVehicleDrivingById" parameterType="Long">
        delete from sd_vehicle_driving where id = #{id}
    </delete>

    <delete id="deleteSdVehicleDrivingByIds" parameterType="String">
        delete from sd_vehicle_driving where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>