<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.event.SdWarningTypeMapper">

    <resultMap type="SdWarningType" id="SdWarningTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="judge"    column="judge"    />
        <result property="threshold"    column="threshold"    />
        <result property="description"    column="description"    />
        <result property="reservePlanIds"    column="reserve_plan_ids"    />
        <result property="sourceType"    column="source_type"    />
    </resultMap>

    <sql id="selectSdWarningTypeVo">
        select id, type_name, judge, threshold, description, reserve_plan_ids, source_type from sd_warning_type
    </sql>

    <select id="selectSdWarningTypeList" parameterType="SdWarningType" resultMap="SdWarningTypeResult">
        <include refid="selectSdWarningTypeVo"/>
        <where>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
        </where>
    </select>

    <select id="selectSdWarningTypeById" parameterType="Long" resultMap="SdWarningTypeResult">
        <include refid="selectSdWarningTypeVo"/>
        where id = #{id}
    </select>

    <select id="countSdWarningTypeByTypeName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sd_warning_type WHERE type_name = #{typeName}
    </select>

    <insert id="insertSdWarningType" parameterType="SdWarningType" useGeneratedKeys="true" keyProperty="id">
        insert into sd_warning_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">type_name,</if>
            <if test="judge != null">judge,</if>
            <if test="threshold != null">threshold,</if>
            <if test="description != null">description,</if>
            <if test="reservePlanIds != null">reserve_plan_ids,</if>
            <if test="sourceType != null">source_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null">#{typeName},</if>
            <if test="judge != null">#{judge},</if>
            <if test="threshold != null">#{threshold},</if>
            <if test="description != null">#{description},</if>
            <if test="reservePlanIds != null">#{reservePlanIds},</if>
            <if test="sourceType != null">#{sourceType},</if>
         </trim>
    </insert>

    <update id="updateSdWarningType" parameterType="SdWarningType">
        update sd_warning_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="judge != null">judge = #{judge},</if>
            <if test="threshold != null">threshold = #{threshold},</if>
            <if test="description != null">description = #{description},</if>
            <if test="reservePlanIds != null">reserve_plan_ids = #{reservePlanIds},</if>
            <if test="sourceType != null">source_type = #{sourceType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdWarningTypeById" parameterType="Long">
        delete from sd_warning_type where id = #{id}
    </delete>

    <delete id="deleteSdWarningTypeByIds" parameterType="String">
        delete from sd_warning_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
