<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.emeResource.SdEmergencyVehicleMapper">
    
    <resultMap type="SdEmergencyVehicle" id="SdEmergencyVehicleResult">
        <result property="id"    column="id"    />
        <result property="orgId"    column="org_id"    />
        <result property="plateNumber"    column="plate_number"    />
        <result property="vType"    column="v_type"    />
        <result property="vPlace"    column="v_place"    />
        <result property="useStatus"    column="use_status"    />
        <result property="terminalInstall"    column="terminal_install"    />
        <result property="statusDesc"    column="status_desc"    />
        <result property="accState"    column="acc_state"    />
        <result property="orgName"    column="dept_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdEmergencyVehicleVo">
        select id, org_id, plate_number, v_type, v_place, use_status, terminal_install, status_desc, acc_state, create_by, create_time, update_by, update_time from sd_emergency_vehicle
    </sql>

    <select id="selectSdEmergencyVehicleList" parameterType="SdEmergencyVehicle" resultMap="SdEmergencyVehicleResult">
        SELECT
            ev.id,
            d.dept_name,
            ev.org_id,
            ev.plate_number,
            ev.v_type,
            ev.v_place,
            ev.use_status,
            ev.terminal_install,
            ev.status_desc,
            ev.acc_state,
            ev.create_by,
            ev.create_time,
            ev.update_by,
            ev.update_time
        FROM
            sd_emergency_vehicle ev
        LEFT JOIN sys_dept d ON ev.org_id = d.dept_id
        WHERE
        1 = 1
        <if test="orgName != null and orgName != ''">
            AND ev.org_id = #{orgName}
        </if>
        <if test="cx != null  and cx != ''">
            and ev.v_type in (${cx})
        </if>
        <if test="plateNumber != null  and plateNumber != ''">
            AND INSTR(ev.plate_number, #{plateNumber}) > 0
        </if>
        <if test="useStatus != null  and useStatus != ''">
            AND ev.use_status = #{useStatus}
        </if>
        <if test="accState != null  and accState != ''">
            AND ev.acc_state = #{accState}
        </if>
    </select>
    
    <select id="selectSdEmergencyVehicleById" parameterType="Long" resultMap="SdEmergencyVehicleResult">
        <include refid="selectSdEmergencyVehicleVo"/>
        where id = #{id}
    </select>

    <select id="getOrg" resultType="hashmap">
        SELECT DISTINCT
        d.dept_id AS value,
        d.parent_id AS parentId,
        d.dept_name AS label
        FROM
        sys_dept d
        WHERE
        1 = 1
        AND d.parent_id = 'YG0'
        AND d.del_flag = '0'
        UNION ALL
        SELECT DISTINCT
            d.dept_id AS value,
            d.parent_id AS parentId,
            d.dept_name AS label
        FROM
            sys_dept d
        WHERE
            1 = 1
        AND INSTR(
            d.parent_id,
            ( SELECT d.dept_id FROM sys_dept d WHERE 1 = 1 AND d.parent_id = 'YG0' AND d.del_flag = '0' )
           ) > 0
        AND d.del_flag = '0'
    </select>

    <insert id="insertSdEmergencyVehicle" parameterType="SdEmergencyVehicle" useGeneratedKeys="true" keyProperty="id">
        insert into sd_emergency_vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">org_id,</if>
            <if test="plateNumber != null">plate_number,</if>
            <if test="vType != null">v_type,</if>
            <if test="vPlace != null">v_place,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="terminalInstall != null">terminal_install,</if>
            <if test="statusDesc != null">status_desc,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">#{orgId},</if>
            <if test="plateNumber != null">#{plateNumber},</if>
            <if test="vType != null">#{vType},</if>
            <if test="vPlace != null">#{vPlace},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="terminalInstall != null">#{terminalInstall},</if>
            <if test="statusDesc != null">#{statusDesc},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdEmergencyVehicle" parameterType="SdEmergencyVehicle">
        update sd_emergency_vehicle
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="plateNumber != null">plate_number = #{plateNumber},</if>
            <if test="vType != null">v_type = #{vType},</if>
            <if test="vPlace != null">v_place = #{vPlace},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="terminalInstall != null">terminal_install = #{terminalInstall},</if>
            <if test="statusDesc != null">status_desc = #{statusDesc},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEmergencyVehicleById" parameterType="Long">
        delete from sd_emergency_vehicle where id = #{id}
    </delete>

    <delete id="deleteSdEmergencyVehicleByIds" parameterType="String">
        delete from sd_emergency_vehicle where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertSdEmergencyVehicles" parameterType="list">

        insert into sd_emergency_vehicle
        (
        id,org_id,plate_number,v_type,v_place,use_status,terminal_install,
        status_desc,acc_state,create_time
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id},#{item.orgId},#{item.plateNumber},#{item.vType},#{item.vPlace},#{item.useStatus},#{item.terminalInstall},
            #{item.statusDesc},#{item.accState},#{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteSdVehicle">
        delete from sd_emergency_vehicle where 1=1
    </delete>
</mapper>