<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.informationBoard.IotBoardMonitorMapper">

    <resultMap type="SdIotDevice" id="IotDeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="brandId"    column="brand_id"    />
        <result property="routeId"    column="route_id"    />
        <result property="routeDirection"    column="route_direction"    />
        <result property="deviceMarkingName"    column="device_marking_name"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="deviceModelId"    column="device_model_id"    />
        <result property="factoryLibrary"    column="factory_library"    />
        <result property="userUnitId"    column="user_unit_id"    />
        <result property="operatorId"    column="operator_id"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="firmId"    column="firm_id"    />
        <result property="purchaseDate"    column="purchase_date"    />
        <result property="warrantyYears"    column="warranty_years"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="installDate"    column="install_date"    />
        <result property="maintainId"    column="maintain_id"    />
        <result property="collarAgencyId"    column="collar_agency_id"    />
        <result property="pileNumber"    column="pile_number"    />
        <result property="manageAgencyId"    column="manage_agency_id"    />
        <result property="producteDate"    column="producte_date"    />
        <result property="repairDate"    column="repair_date"    />
        <result property="operateDate"    column="operate_date"    />
        <result property="serviceLife"    column="service_life"    />
        <result property="storageDate"    column="storage_date"    />
        <result property="isMonitor"    column="is_monitor"    />
        <result property="localInfo"    column="local_info"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
<select id="selectDeviceInfo" resultType="java.util.Map">
SELECT device_id,iro.route_number,pile_number,manage_agency_id FROM iot_board ide
LEFT JOIN iot_route iro ON ide.route_id=iro.route_id
WHERE ide.is_monitor=1 AND ide.device_type_id ="202010000"
</select>
    <select id="getDeviceInfo" resultType="java.util.Map">
    SELECT device_name,brand_id,route_id,route_direction,firm_id,pile_number,longitude,latitude FROM iot_board where device_id=#{deviceId}
    </select>
</mapper>
