<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.informationBoard.IotDeviceProtocolMapper">

    <resultMap type="IotDeviceProtocol" id="IotDeviceProtocolResult">
        <result property="protocolId" column="protocol_id"/>
        <result property="protocolName" column="protocol_name"/>
        <result property="deviceTypeId" column="device_type_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="protocolFunction" column="protocol_function"/>
        <result property="protocolParam" column="protocol_param"/>
    </resultMap>

    <sql id="selectIotDeviceProtocolVo">
        select protocol_id, protocol_name, device_type_id, create_by, create_time, update_by, update_time, remark from iot_device_protocol
    </sql>

    <select id="selectIotDeviceProtocolList" parameterType="IotDeviceProtocol" resultMap="IotDeviceProtocolResult">
        <include refid="selectIotDeviceProtocolVo"/>
        <where>
            <if test="protocolName != null  and protocolName != ''">and protocol_name like concat('%', #{protocolName},
                '%')
            </if>
            <if test="deviceTypeId != null  and deviceTypeId != ''">and device_type_id = #{deviceTypeId}</if>
        </where>
    </select>

    <select id="getProtocolFunctionByName" parameterType="String" resultMap="IotDeviceProtocolResult">
           select idp.protocol_id, idp.protocol_name,ipf.protocol_function,ipf.protocol_param
           from iot_device_protocol idp
           left join iot_board_protocol ipf on idp.protocol_id = ipf.protocol_id
        where protocol_name = #{protocolName}
    </select>

    <select id="selectIotDeviceProtocolById" parameterType="Long" resultMap="IotDeviceProtocolResult">
        <include refid="selectIotDeviceProtocolVo"/>
        where protocol_id = #{protocolId}
    </select>

    <insert id="insertIotDeviceProtocol" parameterType="IotDeviceProtocol">
        insert into iot_device_protocol
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protocolId != null ">protocol_id,</if>
            <if test="protocolName != null  and protocolName != ''">,</if>
            <if test="deviceTypeId != null  and deviceTypeId != ''">device_type_id,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="protocolId != null ">#{protocolId},</if>
            <if test="protocolName != null  and protocolName != ''">#{protocolName},</if>
            <if test="deviceTypeId != null  and deviceTypeId != ''">#{deviceTypeId},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updateIotDeviceProtocol" parameterType="IotDeviceProtocol">
        update iot_device_protocol
        <trim prefix="SET" suffixOverrides=",">
            <if test="protocolName != null  and protocolName != ''">protocol_name = #{protocolName},</if>
            <if test="deviceTypeId != null  and deviceTypeId != ''">device_type_id = #{deviceTypeId},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where protocol_id = #{protocolId}
    </update>

    <delete id="deleteIotDeviceProtocolById" parameterType="Long">
        delete from iot_device_protocol where protocol_id = #{protocolId}
    </delete>

    <delete id="deleteIotDeviceProtocolByIds" parameterType="String">
        delete from iot_device_protocol where protocol_id in
        <foreach item="protocolId" collection="array" open="(" separator="," close=")">
            #{protocolId}
        </foreach>
    </delete>

</mapper>
