<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.informationBoard.IotDeviceTypeMapper">

    <resultMap type="IotDeviceType" id="IotDeviceTypeResult">
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="deviceTypeNumber"    column="device_type_number"    />
        <result property="states"    column="states"    />
        <result property="deviceTypeName"    column="device_type_name"    />
        <result property="url"    column="url"    />
        <result property="normalCssClass"    column="normal_css_class"    />
        <result property="abnormalCssClass"    column="abnormal_css_class"    />
        <result property="faultCssClass"    column="fault_css_class"    />
        <result property="pushCssClass"    column="push_css_class"    />
        <result property="refreshTime"    column="refresh_time"    />
        <result property="visible"    column="visible"    />
        <result property="ispush"    column="ispush"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectIotDeviceTypeVo">
        select device_type_id, device_type_number, states, device_type_name, url, normal_css_class, abnormal_css_class, fault_css_class, push_css_class, refresh_time, visible, ispush, sort, create_by, create_time, remark from iot_board_type
    </sql>

    <select id="selectIotDeviceTypeList" parameterType="IotDeviceType" resultMap="IotDeviceTypeResult">
        <include refid="selectIotDeviceTypeVo"/>
        <where>
            <if test="deviceTypeNumber != null  and deviceTypeNumber != ''"> and device_type_number = #{deviceTypeNumber}</if>
            <if test="states != null  and states != ''"> and states = #{states}</if>
            <if test="deviceTypeName != null  and deviceTypeName != ''"> and device_type_name like concat('%', #{deviceTypeName}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="normalCssClass != null  and normalCssClass != ''"> and normal_css_class = #{normalCssClass}</if>
            <if test="abnormalCssClass != null  and abnormalCssClass != ''"> and abnormal_css_class = #{abnormalCssClass}</if>
            <if test="faultCssClass != null  and faultCssClass != ''"> and fault_css_class = #{faultCssClass}</if>
            <if test="pushCssClass != null  and pushCssClass != ''"> and push_css_class = #{pushCssClass}</if>
            <if test="refreshTime != null  and refreshTime != ''"> and refresh_time = #{refreshTime}</if>
            <if test="visible != null "> and visible = #{visible}</if>
            <if test="ispush != null "> and ispush = #{ispush}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectIotDeviceTypeById" parameterType="Long" resultMap="IotDeviceTypeResult">
        <include refid="selectIotDeviceTypeVo"/>
        where device_type_id = #{deviceTypeId}
    </select>

    <insert id="insertIotDeviceType" parameterType="IotDeviceType">
        insert into iot_board_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceTypeId != null ">device_type_id,</if>
            <if test="deviceTypeNumber != null  and deviceTypeNumber != ''">device_type_number,</if>
            <if test="states != null  and states != ''">states,</if>
            <if test="deviceTypeName != null  and deviceTypeName != ''">device_type_name,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="normalCssClass != null  and normalCssClass != ''">normal_css_class,</if>
            <if test="abnormalCssClass != null  and abnormalCssClass != ''">abnormal_css_class,</if>
            <if test="faultCssClass != null  and faultCssClass != ''">fault_css_class,</if>
            <if test="pushCssClass != null  and pushCssClass != ''">push_css_class,</if>
            <if test="refreshTime != null  and refreshTime != ''">refresh_time,</if>
            <if test="visible != null ">visible,</if>
            <if test="ispush != null ">ispush,</if>
            <if test="sort != null ">sort,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceTypeId != null ">#{deviceTypeId},</if>
            <if test="deviceTypeNumber != null  and deviceTypeNumber != ''">#{deviceTypeNumber},</if>
            <if test="states != null  and states != ''">#{states},</if>
            <if test="deviceTypeName != null  and deviceTypeName != ''">#{deviceTypeName},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="normalCssClass != null  and normalCssClass != ''">#{normalCssClass},</if>
            <if test="abnormalCssClass != null  and abnormalCssClass != ''">#{abnormalCssClass},</if>
            <if test="faultCssClass != null  and faultCssClass != ''">#{faultCssClass},</if>
            <if test="pushCssClass != null  and pushCssClass != ''">#{pushCssClass},</if>
            <if test="refreshTime != null  and refreshTime != ''">#{refreshTime},</if>
            <if test="visible != null ">#{visible},</if>
            <if test="ispush != null ">#{ispush},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateIotDeviceType" parameterType="IotDeviceType">
        update iot_board_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceTypeNumber != null  and deviceTypeNumber != ''">device_type_number = #{deviceTypeNumber},</if>
            <if test="states != null  and states != ''">states = #{states},</if>
            <if test="deviceTypeName != null  and deviceTypeName != ''">device_type_name = #{deviceTypeName},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="normalCssClass != null  and normalCssClass != ''">normal_css_class = #{normalCssClass},</if>
            <if test="abnormalCssClass != null  and abnormalCssClass != ''">abnormal_css_class = #{abnormalCssClass},</if>
            <if test="faultCssClass != null  and faultCssClass != ''">fault_css_class = #{faultCssClass},</if>
            <if test="pushCssClass != null  and pushCssClass != ''">push_css_class = #{pushCssClass},</if>
            <if test="refreshTime != null  and refreshTime != ''">refresh_time = #{refreshTime},</if>
            <if test="visible != null ">visible = #{visible},</if>
            <if test="ispush != null ">ispush = #{ispush},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where device_type_id = #{deviceTypeId}
    </update>

    <delete id="deleteIotDeviceTypeById" parameterType="Long">
        delete from iot_board_type where device_type_id = #{deviceTypeId}
    </delete>

    <delete id="deleteIotDeviceTypeByIds" parameterType="String">
        delete from iot_board_type where device_type_id in
        <foreach item="deviceTypeId" collection="array" open="(" separator="," close=")">
            #{deviceTypeId}
        </foreach>
    </delete>

</mapper>
