<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.informationBoard.SdAuditVocabularyMapper">
    
    <resultMap type="SdAuditVocabulary" id="SdAuditVocabularyResult">
        <result property="id"    column="id"    />
        <result property="word"    column="word"    />
        <result property="creatTime"    column="creat_time"    />
    </resultMap>

    <sql id="selectSdAuditVocabularyVo">
        select id, word, creat_time from sd_audit_vocabulary
    </sql>

    <select id="selectSdAuditVocabularyList" parameterType="SdAuditVocabulary" resultMap="SdAuditVocabularyResult">
        <include refid="selectSdAuditVocabularyVo"/>
        <where>  
            <if test="word != null  and word != ''"> and word like concat('%', #{word}, '%')</if>
            <if test="creatTime != null  and creatTime != ''"> and creat_time = #{creatTime}</if>
        </where>
    </select>
    
    <select id="selectSdAuditVocabularyById" parameterType="Long" resultMap="SdAuditVocabularyResult">
        <include refid="selectSdAuditVocabularyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdAuditVocabulary" parameterType="SdAuditVocabulary" useGeneratedKeys="true" keyProperty="id">
        insert into sd_audit_vocabulary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="word != null">word,</if>
            <if test="creatTime != null">creat_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="word != null">#{word},</if>
            <if test="creatTime != null">#{creatTime},</if>
         </trim>
    </insert>

    <update id="updateSdAuditVocabulary" parameterType="SdAuditVocabulary">
        update sd_audit_vocabulary
        <trim prefix="SET" suffixOverrides=",">
            <if test="word != null">word = #{word},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdAuditVocabularyById" parameterType="Long">
        delete from sd_audit_vocabulary where id = #{id}
    </delete>

    <delete id="deleteSdAuditVocabularyByIds" parameterType="String">
        delete from sd_audit_vocabulary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>