<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.informationBoard.SdEventOperatingMapper">
    
    <resultMap type="SdEventOperating" id="SdEventOperatingResult">
        <result property="id"    column="id"    />
        <result property="evtId"    column="evt_id"    />
        <result property="occurTime"    column="occur_time"    />
        <result property="reportTime"    column="report_time"    />
        <result property="reportUser"    column="report_user"    />
        <result property="closed"    column="closed"    />
        <result property="available"    column="available"    />
        <result property="published"    column="published"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="updataTime"    column="updata_time"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectSdEventOperatingVo">
        select id, evt_id, occur_time, report_time, report_user, closed, available, published, creat_time, updata_time, remark, type from sd_event_operating
    </sql>

    <select id="selectSdEventOperatingList" parameterType="SdEventOperating" resultMap="SdEventOperatingResult">
        <include refid="selectSdEventOperatingVo"/>
        <where>  
            <if test="closed != null  and closed != ''"> and closed = #{closed}</if>
            <if test="available != null  and available != ''"> and available = #{available}</if>
            <if test="published != null  and published != ''"> and published = #{published}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectSdEventOperatingById" parameterType="Long" resultMap="SdEventOperatingResult">
        <include refid="selectSdEventOperatingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEventOperating" parameterType="SdEventOperating" useGeneratedKeys="true" keyProperty="id">
        insert into sd_event_operating
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="evtId != null">evt_id,</if>
            <if test="occurTime != null">occur_time,</if>
            <if test="reportTime != null">report_time,</if>
            <if test="reportUser != null">report_user,</if>
            <if test="closed != null">closed,</if>
            <if test="available != null">available,</if>
            <if test="published != null">published,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="updataTime != null">updata_time,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="evtId != null">#{evtId},</if>
            <if test="occurTime != null">#{occurTime},</if>
            <if test="reportTime != null">#{reportTime},</if>
            <if test="reportUser != null">#{reportUser},</if>
            <if test="closed != null">#{closed},</if>
            <if test="available != null">#{available},</if>
            <if test="published != null">#{published},</if>
            <if test="creatTime != null">#{creatTime},</if>
            <if test="updataTime != null">#{updataTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateSdEventOperating" parameterType="SdEventOperating">
        update sd_event_operating
        <trim prefix="SET" suffixOverrides=",">
            <if test="evtId != null">evt_id = #{evtId},</if>
            <if test="occurTime != null">occur_time = #{occurTime},</if>
            <if test="reportTime != null">report_time = #{reportTime},</if>
            <if test="reportUser != null">report_user = #{reportUser},</if>
            <if test="closed != null">closed = #{closed},</if>
            <if test="available != null">available = #{available},</if>
            <if test="published != null">published = #{published},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
            <if test="updataTime != null">updata_time = #{updataTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEventOperatingById" parameterType="Long">
        delete from sd_event_operating where id = #{id}
    </delete>

    <delete id="deleteSdEventOperatingByIds" parameterType="String">
        delete from sd_event_operating where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>