@font-face {
  src: url(Montserrat-Light-6.otf);
  font-family:'Montserrat-Light';
}
@font-face {
  src: url(Montserrat-Medium-7.otf);
  font-family: 'Montserrat-Medium';
}
@font-face {
  src: url(pangmenzhengdao.ttf);
  font-family: '光良酒-干杯体';
}