<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.bigScreenApi.SdControlRecordMapper">

    <select id="getRecentControlRecordMsg" resultType="hashmap" parameterType="java.lang.String">
        SELECT sol.id,st.tunnel_name name,
               DATE_FORMAT(sol.create_time,'%Y-%m-%d %H:%i:%S') time,
               concat(devc.eq_name,e.state_name) operation
        from sd_operation_log sol
            left join sd_tunnels st on st.tunnel_id = sol.tunnel_id
            left join sd_equipment_state e on sol.operation_state = e.device_state
            left join sd_devices devc on devc.eq_id = sol.eq_id
        WHERE sol.create_time >= (NOW() - interval 12 hour)
        AND devc.eq_type = e.state_type_id
        AND e.state_type = '2'
        <if test="tunnelId != null and tunnelId != ''">
            and sol.tunnel_id = #{tunnelId}
        </if>
    </select>

</mapper>
