<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.intelligentMonitoring.TrafficManagementMapper">

    <resultMap type="TrafficManagement" id="TrafficManagementResult">
        <result property="id"    column="id"    />
        <result property="vehicleType"    column="vehicle_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="licensePlateNumber"    column="license_plate_number"    />
        <result property="position"    column="position"    />
        <result property="photo"    column="photo"    />
        <result property="deviceSource"    column="device_source"    />
        <result property="tunnelName"    column="tunnel_name"    />
    </resultMap>

    <sql id="selectTrafficManagementVo">
        select a.id, a.vehicle_type, a.start_time, a.end_time, a.status, a.create_time, b.tunnel_name, a.license_plate_number,
               a.position, a.photo, a.device_source
        from traffic_management a
        left join sd_tunnels b on a.tunnel_id = b.tunnel_id
    </sql>

    <select id="selectTrafficManagementList" parameterType="TrafficManagement" resultMap="TrafficManagementResult">
        <include refid="selectTrafficManagementVo"/>
        <where>
            <if test="vehicleType != null  and vehicleType != ''"> and a.vehicle_type = #{vehicleType}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''"> and ((a.start_time BETWEEN #{startTime} and #{endTime}) or (end_time BETWEEN #{startTime} and #{endTime}))</if>
        </where>
    </select>

    <select id="selectTrafficManagementById" parameterType="Long" resultMap="TrafficManagementResult">
        <include refid="selectTrafficManagementVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertTrafficManagement" parameterType="TrafficManagement">
        insert into traffic_management
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="vehicleType != null and vehicleType != ''">vehicle_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="licensePlateNumber != null">license_plate_number,</if>
            <if test="position != null">position,</if>
            <if test="photo != null">photo,</if>
            <if test="deviceSource != null">device_source,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="vehicleType != null and vehicleType != ''">#{vehicleType},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="licensePlateNumber != null">#{licensePlateNumber},</if>
            <if test="position != null">#{position},</if>
            <if test="photo != null">#{photo},</if>
            <if test="deviceSource != null">#{deviceSource},</if>
        </trim>
    </insert>

    <update id="updateTrafficManagement" parameterType="TrafficManagement">
        update traffic_management
        <trim prefix="SET" suffixOverrides=",">
            <if test="vehicleType != null and vehicleType != ''">vehicle_type = #{vehicleType},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="licensePlateNumber != null">license_plate_number = #{licensePlateNumber},</if>
            <if test="position != null">position = #{position},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="deviceSource != null">device_source = #{deviceSource},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrafficManagementById" parameterType="Long">
        delete from traffic_management where id = #{id}
    </delete>

    <delete id="deleteTrafficManagementByIds" parameterType="String">
        delete from traffic_management where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
