<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.InductionlampControlStatusParamMapper">

    <resultMap type="InductionlampControlStatusParam" id="InductionlampControlStatusParamResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="modeName"    column="mode_name"    />
        <result property="modeCode"    column="mode_code"    />
        <result property="illuminationStart"    column="illumination_start"    />
        <result property="illuminationStartSymbol"    column="illumination_start_symbol"    />
        <result property="illuminationEnd"    column="illumination_end"    />
        <result property="illuminationEndSymbol"    column="illumination_end_symbol"    />
        <result property="humidityStart"    column="humidity_start"    />
        <result property="humidityStartSymbol"    column="humidity_start_symbol"    />
        <result property="humidityEnd"    column="humidity_end"    />
        <result property="humidityEndSymbol"    column="humidity_end_symbol"    />
        <result property="temperatureStart"    column="temperature_start"    />
        <result property="temperatureStartSymbol"    column="temperature_start_symbol"    />
        <result property="temperatureEnd"    column="temperature_end"    />
        <result property="temperatureEndSymbol"    column="temperature_end_symbol"    />
        <result property="instructionsCode"    column="instructions_code"    />
        <result property="brightnessParam"    column="brightness_param"    />
        <result property="timeSecond"    column="time_second"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInductionlampControlStatusParamVo">
        select id, equipment_id, mode_name, mode_code, illumination_start, illumination_start_symbol, illumination_end, illumination_end_symbol, humidity_start, humidity_start_symbol, humidity_end, humidity_end_symbol, temperature_start, temperature_start_symbol, temperature_end, temperature_end_symbol, instructions_code, brightness_param, time_second, create_time, update_time from inductionlamp_control_status_param
    </sql>

    <select id="selectInductionlampControlStatusParamList" parameterType="InductionlampControlStatusParam" resultMap="InductionlampControlStatusParamResult">
        <include refid="selectInductionlampControlStatusParamVo"/>
        <where>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="modeName != null  and modeName != ''"> and mode_name like concat('%', #{modeName}, '%')</if>
            <if test="modeCode != null "> and mode_code = #{modeCode}</if>
            <if test="illuminationStart != null "> and illumination_start = #{illuminationStart}</if>
            <if test="illuminationStartSymbol != null "> and illumination_start_symbol = #{illuminationStartSymbol}</if>
            <if test="illuminationEnd != null "> and illumination_end = #{illuminationEnd}</if>
            <if test="illuminationEndSymbol != null "> and illumination_end_symbol = #{illuminationEndSymbol}</if>
            <if test="humidityStart != null "> and humidity_start = #{humidityStart}</if>
            <if test="humidityStartSymbol != null "> and humidity_start_symbol = #{humidityStartSymbol}</if>
            <if test="humidityEnd != null "> and humidity_end = #{humidityEnd}</if>
            <if test="humidityEndSymbol != null "> and humidity_end_symbol = #{humidityEndSymbol}</if>
            <if test="temperatureStart != null "> and temperature_start = #{temperatureStart}</if>
            <if test="temperatureStartSymbol != null "> and temperature_start_symbol = #{temperatureStartSymbol}</if>
            <if test="temperatureEnd != null "> and temperature_end = #{temperatureEnd}</if>
            <if test="temperatureEndSymbol != null "> and temperature_end_symbol = #{temperatureEndSymbol}</if>
            <if test="instructionsCode != null  and instructionsCode != ''"> and instructions_code = #{instructionsCode}</if>
            <if test="brightnessParam != null "> and brightness_param = #{brightnessParam}</if>
            <if test="timeSecond != null "> and time_second = #{timeSecond}</if>
        </where>
    </select>

    <select id="selectInductionlampControlStatusParamById" parameterType="Long" resultMap="InductionlampControlStatusParamResult">
        <include refid="selectInductionlampControlStatusParamVo"/>
        where id = #{id}
    </select>

    <insert id="insertInductionlampControlStatusParam" parameterType="InductionlampControlStatusParam" useGeneratedKeys="true" keyProperty="id">
        insert into inductionlamp_control_status_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="modeName != null">mode_name,</if>
            <if test="modeCode != null">mode_code,</if>
            <if test="illuminationStart != null">illumination_start,</if>
            <if test="illuminationStartSymbol != null">illumination_start_symbol,</if>
            <if test="illuminationEnd != null">illumination_end,</if>
            <if test="illuminationEndSymbol != null">illumination_end_symbol,</if>
            <if test="humidityStart != null">humidity_start,</if>
            <if test="humidityStartSymbol != null">humidity_start_symbol,</if>
            <if test="humidityEnd != null">humidity_end,</if>
            <if test="humidityEndSymbol != null">humidity_end_symbol,</if>
            <if test="temperatureStart != null">temperature_start,</if>
            <if test="temperatureStartSymbol != null">temperature_start_symbol,</if>
            <if test="temperatureEnd != null">temperature_end,</if>
            <if test="temperatureEndSymbol != null">temperature_end_symbol,</if>
            <if test="instructionsCode != null">instructions_code,</if>
            <if test="brightnessParam != null">brightness_param,</if>
            <if test="timeSecond != null">time_second,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="modeName != null">#{modeName},</if>
            <if test="modeCode != null">#{modeCode},</if>
            <if test="illuminationStart != null">#{illuminationStart},</if>
            <if test="illuminationStartSymbol != null">#{illuminationStartSymbol},</if>
            <if test="illuminationEnd != null">#{illuminationEnd},</if>
            <if test="illuminationEndSymbol != null">#{illuminationEndSymbol},</if>
            <if test="humidityStart != null">#{humidityStart},</if>
            <if test="humidityStartSymbol != null">#{humidityStartSymbol},</if>
            <if test="humidityEnd != null">#{humidityEnd},</if>
            <if test="humidityEndSymbol != null">#{humidityEndSymbol},</if>
            <if test="temperatureStart != null">#{temperatureStart},</if>
            <if test="temperatureStartSymbol != null">#{temperatureStartSymbol},</if>
            <if test="temperatureEnd != null">#{temperatureEnd},</if>
            <if test="temperatureEndSymbol != null">#{temperatureEndSymbol},</if>
            <if test="instructionsCode != null">#{instructionsCode},</if>
            <if test="brightnessParam != null">#{brightnessParam},</if>
            <if test="timeSecond != null">#{timeSecond},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateInductionlampControlStatusParam" parameterType="InductionlampControlStatusParam">
        update inductionlamp_control_status_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="modeName != null">mode_name = #{modeName},</if>
            <if test="modeCode != null">mode_code = #{modeCode},</if>
            <if test="illuminationStart != null">illumination_start = #{illuminationStart},</if>
            <if test="illuminationStartSymbol != null">illumination_start_symbol = #{illuminationStartSymbol},</if>
            <if test="illuminationEnd != null">illumination_end = #{illuminationEnd},</if>
            <if test="illuminationEndSymbol != null">illumination_end_symbol = #{illuminationEndSymbol},</if>
            <if test="humidityStart != null">humidity_start = #{humidityStart},</if>
            <if test="humidityStartSymbol != null">humidity_start_symbol = #{humidityStartSymbol},</if>
            <if test="humidityEnd != null">humidity_end = #{humidityEnd},</if>
            <if test="humidityEndSymbol != null">humidity_end_symbol = #{humidityEndSymbol},</if>
            <if test="temperatureStart != null">temperature_start = #{temperatureStart},</if>
            <if test="temperatureStartSymbol != null">temperature_start_symbol = #{temperatureStartSymbol},</if>
            <if test="temperatureEnd != null">temperature_end = #{temperatureEnd},</if>
            <if test="temperatureEndSymbol != null">temperature_end_symbol = #{temperatureEndSymbol},</if>
            <if test="instructionsCode != null">instructions_code = #{instructionsCode},</if>
            <if test="brightnessParam != null">brightness_param = #{brightnessParam},</if>
            <if test="timeSecond != null">time_second = #{timeSecond},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInductionlampControlStatusParamById" parameterType="Long">
        delete from inductionlamp_control_status_param where id = #{id}
    </delete>

    <delete id="deleteInductionlampControlStatusParamByIds" parameterType="String">
        delete from inductionlamp_control_status_param where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
