<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdComponentMapper">

    <resultMap type="SdComponent" id="SdComponentResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentCode"    column="equipment_code"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="brandId"    column="brand_id"    />
        <result property="equipmentTypeId"    column="equipment_type_id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="producerId"    column="producer_id"    />
        <result property="equipmentState"    column="equipment_state"    />
        <result property="installationPlaceId"    column="installation_place_id"    />
        <result property="installationPosition"    column="installation_position"    />
        <result property="installationTime"    column="installation_time"    />
        <result property="productionTime"    column="production_time"    />
        <result property="equipmentInventory"    column="equipment_inventory"    />
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="equipmentPicture"    column="equipment_picture"    />
        <result property="equipmentPrice"    column="equipment_price"    />
        <result property="buyingTime"    column="buying_time"    />
        <result property="equipmentCount"    column="equipment_count"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="brand" column="brand" />
        <result property="model" column="model" />
        <result property="manufacturer" column="manufacturer" />
        <association property="tunnelName"  column="tunnel_id" javaType="SdTunnels" resultMap="tunnelResult" />
        <association property="typeName"  column="type_id" javaType="SdEquipmentType" resultMap="SdEquipmentTypeResult" />
        <association property="locationPlace"  column="place_id" javaType="SdPlaceLocation" resultMap="SdPlaceLocationResult" />
    </resultMap>
    <resultMap type="SdTunnels" id="tunnelResult" >
		<id  property="tunnelId" column="tunnel_id" />
		<result property="tunnelName" column="tunnel_name"   />
	</resultMap>

	<resultMap type="SdEquipmentType" id="SdEquipmentTypeResult" >
		<id  property="typeId" column="type_id" />
		<result property="typeName" column="type_name"   />
	</resultMap>
	<resultMap type="SdPlaceLocation" id="SdPlaceLocationResult" >
		<id  property="placeId" column="place_id" />
		<result property="placeName" column="place_name"   />
	</resultMap>

    <sql id="selectSdComponentVo">
        select id, equipment_id, equipment_code, equipment_name, brand_id, equipment_type_id, tunnel_id, producer_id,
               equipment_state, installation_place_id, installation_position, installation_time, production_time,
               equipment_inventory, file_id, file_name, img_url, file_url, equipment_picture, equipment_price,
               buying_time, equipment_count,remark, create_by, create_time, update_by, update_time ,brand, model, manufacturer
        from sd_component
    </sql>

    <select id="selectSdComponentList" parameterType="SdComponent" resultMap="SdComponentResult">
        select a.id, a.equipment_id, a.equipment_code, a.equipment_name, a.brand_id, a.equipment_type_id,b.type_name,
               a.tunnel_id,c.tunnel_name,a.producer_id, a.equipment_state, a.installation_place_id,e.place_name,
               a.installation_position, a.installation_time, a.production_time, a.equipment_inventory, a.file_id,
               a.file_name, a.img_url, a.file_url, a.equipment_picture, a.equipment_price, a.buying_time, a.model,
               a.equipment_count, a.create_by, a.create_time, a.update_by, a.update_time ,a.remark, a.brand, a.manufacturer
        from sd_component a
        left join sd_equipment_type b on a.equipment_type_id = b.type_id
        left join sd_tunnels c on a.tunnel_id = c.tunnel_id
        left join sd_place_location e on a.installation_place_id = e.place_id
        <where>
            <if test="equipmentId != null "> and a.equipment_id = #{equipmentId}</if>
            <if test="equipmentCode != null  and equipmentCode != ''"> and a.equipment_code = #{equipmentCode}</if>
            <if test="equipmentName != null  and equipmentName != ''"> and a.equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="brandId != null "> and a.brand_id = #{brandId}</if>
            <if test="equipmentTypeId != null "> and a.equipment_type_id = #{equipmentTypeId}</if>
            <if test="tunnelId != null "> and a.tunnel_id = #{tunnelId}</if>
            <if test="producerId != null "> and a.producer_id = #{producerId}</if>
            <if test="equipmentState != null  and equipmentState != ''"> and a.equipment_state = #{equipmentState}</if>
            <if test="installationPlaceId != null  and installationPlaceId != ''"> and a.installation_place_id = #{installationPlaceId}</if>
            <if test="installationPosition != null  and installationPosition != ''"> and a.installation_position = #{installationPosition}</if>
            <if test="installationTime != null "> and a.installation_time = #{installationTime}</if>
            <if test="productionTime != null "> and a.production_time = #{productionTime}</if>
            <if test="equipmentInventory != null  and equipmentInventory != ''"> and a.equipment_inventory = #{equipmentInventory}</if>
            <if test="fileId != null  and fileId != ''"> and a.file_id = #{fileId}</if>
            <if test="fileName != null  and fileName != ''"> and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and a.img_url = #{imgUrl}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and a.file_url = #{fileUrl}</if>
            <if test="equipmentPicture != null  and equipmentPicture != ''"> and a.equipment_picture = #{equipmentPicture}</if>
            <if test="equipmentPrice != null  and equipmentPrice != ''"> and a.equipment_price = #{equipmentPrice}</if>
            <if test="buyingTime != null "> and a.buying_time = #{buyingTime}</if>
            <if test="equipmentCount != null  and equipmentCount != ''"> and a.equipment_count = #{equipmentCount}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (c.dept_id = #{params.deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdComponentById" parameterType="Long" resultMap="SdComponentResult">
        <include refid="selectSdComponentVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdComponent" parameterType="SdComponent" useGeneratedKeys="true" keyProperty="id">
        insert into sd_component
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="equipmentCode != null">equipment_code,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="brandId != null">brand_id,</if>
            <if test="equipmentTypeId != null">equipment_type_id,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="producerId != null">producer_id,</if>
            <if test="equipmentState != null">equipment_state,</if>
            <if test="installationPlaceId != null">installation_place_id,</if>
            <if test="installationPosition != null">installation_position,</if>
            <if test="installationTime != null">installation_time,</if>
            <if test="productionTime != null">production_time,</if>
            <if test="equipmentInventory != null">equipment_inventory,</if>
            <if test="fileId != null">file_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="equipmentPicture != null">equipment_picture,</if>
            <if test="equipmentPrice != null">equipment_price,</if>
            <if test="buyingTime != null">buying_time,</if>
            <if test="equipmentCount != null">equipment_count,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="brand != null">brand,</if>
            <if test="model != null">model,</if>
            <if test="manufacturer != null">manufacturer,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="equipmentCode != null">#{equipmentCode},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="brandId != null">#{brandId},</if>
            <if test="equipmentTypeId != null">#{equipmentTypeId},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="producerId != null">#{producerId},</if>
            <if test="equipmentState != null">#{equipmentState},</if>
            <if test="installationPlaceId != null">#{installationPlaceId},</if>
            <if test="installationPosition != null">#{installationPosition},</if>
            <if test="installationTime != null">#{installationTime},</if>
            <if test="productionTime != null">#{productionTime},</if>
            <if test="equipmentInventory != null">#{equipmentInventory},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="equipmentPicture != null">#{equipmentPicture},</if>
            <if test="equipmentPrice != null">#{equipmentPrice},</if>
            <if test="buyingTime != null">#{buyingTime},</if>
            <if test="equipmentCount != null">#{equipmentCount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="brand != null">#{brand},</if>
            <if test="model != null">#{model},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
         </trim>
    </insert>

    <update id="updateSdComponent" parameterType="SdComponent">
        update sd_component
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="equipmentCode != null">equipment_code = #{equipmentCode},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
            <if test="equipmentTypeId != null">equipment_type_id = #{equipmentTypeId},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="producerId != null">producer_id = #{producerId},</if>
            <if test="equipmentState != null">equipment_state = #{equipmentState},</if>
            <if test="installationPlaceId != null">installation_place_id = #{installationPlaceId},</if>
            <if test="installationPosition != null">installation_position = #{installationPosition},</if>
            <if test="installationTime != null">installation_time = #{installationTime},</if>
            <if test="productionTime != null">production_time = #{productionTime},</if>
            <if test="equipmentInventory != null">equipment_inventory = #{equipmentInventory},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="equipmentPicture != null">equipment_picture = #{equipmentPicture},</if>
            <if test="equipmentPrice != null">equipment_price = #{equipmentPrice},</if>
            <if test="buyingTime != null">buying_time = #{buyingTime},</if>
            <if test="equipmentCount != null">equipment_count = #{equipmentCount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="model != null">model = #{model},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdComponentById" parameterType="Long">
        delete from sd_component where id = #{id}
    </delete>

    <delete id="deleteSdComponentByIds" parameterType="String">
        delete from sd_component where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSdComponentByrlIds" parameterType="String">
        delete from sd_component where file_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
