<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdCrashRecoveryMapper">

    <resultMap type="SdCrashRecovery" id="SdCrashRecoveryResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="eventId"    column="event_id"    />
        <result property="beforeContent"    column="before_content"    />
        <result property="beforeImage"    column="before_image"    />
        <result property="beforeTime"    column="before_time"    />
        <result property="afterContent"    column="after_content"    />
        <result property="afterImage"    column="after_image"    />
        <result property="afterTime"    column="after_time"    />
        <result property="strategyContent"    column="strategy_content"    />
        <result property="state"    column="state"    />
        <result property="recoverTime"    column="recover_time"    />
        <result property="recoverContent"    column="recover_content"    />
        <result property="recoverImage"    column="recover_image"    />
        <result property="recoverDetails"    column="recover_details"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="tunnelName" column="tunnel_name" />
        <association property="warningInfo" column="id" javaType="SdWarningInfo" resultMap="warningInfoResult" />
    </resultMap>

    <resultMap id="warningInfoResult" type="SdWarningInfo">
        <id  property="id" column="id" />
        <result property="warningName" column="warning_name"   />
        <result property="warningTime" column="warning_time"   />
        <result property="inforSources" column="infor_sources"   />
        <result property="position" column="position" />
    </resultMap>

    <sql id="selectSdCrashRecoveryVo">
        select id, tunnel_id, event_id, before_content, before_image, before_time, after_content, after_image, after_time,
               strategy_content, state, recover_time, recover_content, recover_image, recover_details, create_time,
               create_by, update_time, update_by from sd_crash_recovery
    </sql>

    <select id="selectSdCrashRecoveryList" parameterType="SdCrashRecovery" resultMap="SdCrashRecoveryResult">
        select a.id, a.tunnel_id, a.event_id, a.before_content, a.before_image, a.before_time, a.after_content,
        a.after_image, a.after_time, a.strategy_content, a.state, a.recover_time, a.recover_content, a.recover_image,
        a.recover_details, a.create_time, a.create_by, a.update_time, a.update_by, b.warning_name, b.warning_time,
        b.infor_sources, c.tunnel_name, b.position
        from sd_crash_recovery a
        left join sd_warning_info b on a.event_id = b.id
        left join sd_tunnels c on a.tunnel_id = c.tunnel_id
        <where>
            <if test="tunnelId != null  and tunnelId != ''"> and a.tunnel_id = #{tunnelId}</if>
            <if test="eventId != null "> and a.event_id = #{eventId}</if>
            <if test="state != null  and state != ''"> and a.state = #{state}</if>
            <if test="recoverTime != null "> and a.recover_time = #{recoverTime}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (c.dept_id = #{params.deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdCrashRecoveryById" parameterType="Long" resultMap="SdCrashRecoveryResult">
        <include refid="selectSdCrashRecoveryVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdCrashRecovery" parameterType="SdCrashRecovery" useGeneratedKeys="true" keyProperty="id">
        insert into sd_crash_recovery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="eventId != null">event_id,</if>
            <if test="beforeContent != null">before_content,</if>
            <if test="beforeImage != null">before_image,</if>
            <if test="beforeTime != null">before_time,</if>
            <if test="afterContent != null">after_content,</if>
            <if test="afterImage != null">after_image,</if>
            <if test="afterTime != null">after_time,</if>
            <if test="strategyContent != null">strategy_content,</if>
            <if test="state != null">state,</if>
            <if test="recoverTime != null">recover_time,</if>
            <if test="recoverContent != null">recover_content,</if>
            <if test="recoverImage != null">recover_image,</if>
            <if test="recoverDetails != null">recover_details,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="eventId != null">#{eventId},</if>
            <if test="beforeContent != null">#{beforeContent},</if>
            <if test="beforeImage != null">#{beforeImage},</if>
            <if test="beforeTime != null">#{beforeTime},</if>
            <if test="afterContent != null">#{afterContent},</if>
            <if test="afterImage != null">#{afterImage},</if>
            <if test="afterTime != null">#{afterTime},</if>
            <if test="strategyContent != null">#{strategyContent},</if>
            <if test="state != null">#{state},</if>
            <if test="recoverTime != null">#{recoverTime},</if>
            <if test="recoverContent != null">#{recoverContent},</if>
            <if test="recoverImage != null">#{recoverImage},</if>
            <if test="recoverDetails != null">#{recoverDetails},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateSdCrashRecovery" parameterType="SdCrashRecovery">
        update sd_crash_recovery
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="eventId != null">event_id = #{eventId},</if>
            <if test="beforeContent != null">before_content = #{beforeContent},</if>
            <if test="beforeImage != null">before_image = #{beforeImage},</if>
            <if test="beforeTime != null">before_time = #{beforeTime},</if>
            <if test="afterContent != null">after_content = #{afterContent},</if>
            <if test="afterImage != null">after_image = #{afterImage},</if>
            <if test="afterTime != null">after_time = #{afterTime},</if>
            <if test="strategyContent != null">strategy_content = #{strategyContent},</if>
            <if test="state != null">state = #{state},</if>
            <if test="recoverTime != null">recover_time = #{recoverTime},</if>
            <if test="recoverContent != null">recover_content = #{recoverContent},</if>
            <if test="recoverImage != null">recover_image = #{recoverImage},</if>
            <if test="recoverDetails != null">recover_details = #{recoverDetails},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdCrashRecoveryById" parameterType="Long">
        delete from sd_crash_recovery where id = #{id}
    </delete>

    <delete id="deleteSdCrashRecoveryByIds" parameterType="String">
        delete from sd_crash_recovery where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="controlRecovery" parameterType="SdCrashRecovery">
        update sd_crash_recovery
        set after_content = null, after_image = null, after_time = null, strategy_content = null
        where id = #{id}
    </update>
</mapper>
