<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdDeviceChangeMapper">

    <resultMap type="SdDeviceChange" id="SdDeviceChangeResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="changeTime"    column="change_time"    />
        <result property="eqDirection"    column="eq_direction"    />
        <result property="stakeMark"    column="stake_mark"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSdDeviceChangeVo">
        select id, device_id, device_name, change_time, eq_direction, stake_mark, remark from sd_device_change
    </sql>

    <select id="selectSdDeviceChangeList" parameterType="SdDeviceChange" resultMap="SdDeviceChangeResult">
        select a.id, a.device_id, a.device_name, a.change_time, a.eq_direction, a.stake_mark, a.remark
        from sd_device_change a
        left join sd_devices b on b.eq_id = a.device_id
        left join sd_tunnels c on c.tunnel_id = b.eq_tunnel_id
        <where>
            <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
            <if test="deviceName != null  and deviceName != ''"> and concat(device_name,device_id) like concat('%', #{deviceName}, '%')</if>
            <if test="params.beginChangeTime != null and params.beginChangeTime != '' and params.endChangeTime != null and params.endChangeTime != ''"> and change_time between #{params.beginChangeTime} and #{params.endChangeTime}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (c.dept_id = #{params.deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
            <if test="ids != null and ids != ''"> and FIND_IN_SET(a.id,#{ids}) > 0</if>
        </where>
    </select>

    <select id="selectSdDeviceChangeById" parameterType="Long" resultMap="SdDeviceChangeResult">
        <include refid="selectSdDeviceChangeVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdDeviceChange" parameterType="SdDeviceChange" useGeneratedKeys="true" keyProperty="id">
        insert into sd_device_change
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="changeTime != null">change_time,</if>
            <if test="eqDirection != null">eq_direction,</if>
            <if test="stakeMark != null">stake_mark,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="changeTime != null">#{changeTime},</if>
            <if test="eqDirection != null">#{eqDirection},</if>
            <if test="stakeMark != null">#{stakeMark},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSdDeviceChange" parameterType="SdDeviceChange">
        update sd_device_change
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="changeTime != null">change_time = #{changeTime},</if>
            <if test="eqDirection != null">eq_direction = #{eqDirection},</if>
            <if test="stakeMark != null">stake_mark = #{stakeMark},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdDeviceChangeById" parameterType="Long">
        delete from sd_device_change where id = #{id}
    </delete>

    <delete id="deleteSdDeviceChangeByIds" parameterType="String">
        delete from sd_device_change where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
