<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdEnvironmentConfigurationMapper">
    
    <resultMap type="SdEnvironmentConfiguration" id="SdEnvironmentConfigurationResult">
        <result property="id"    column="id"    />
        <result property="sdName"    column="sd_name"    />
        <result property="url"    column="url"    />
        <result property="environmentType"    column="environment_type"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
        <result property="direction"    column="direction"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdEnvironmentConfigurationVo">
        select id, sd_name, url, environment_type, width, height, direction, create_by, remark, create_time, update_time from sd_environment_configuration
    </sql>

    <select id="selectSdEnvironmentConfigurationList" parameterType="SdEnvironmentConfiguration" resultMap="SdEnvironmentConfigurationResult">
        <include refid="selectSdEnvironmentConfigurationVo"/>
        <where>  
            <if test="sdName != null  and sdName != ''"> and sd_name like concat('%', #{sdName}, '%')</if>
            <if test="environmentType != null  and environmentType != ''"> and environment_type = #{environmentType}</if>
            <if test="direction != null  and direction != ''"> and direction = #{direction}</if>
        </where>
    </select>



    <select id="selectSdEnvironmentConfigurationList_exp" parameterType="SdEnvironmentConfiguration" resultMap="SdEnvironmentConfigurationResult">
        <!--<include refid="selectSdEnvironmentConfigurationVo"/>-->
        select conf.id, conf.sd_name, conf.url, typ.type_name as environment_type, conf.width, conf.height, dit.dict_label as direction, conf.create_by, conf.remark, conf.create_time, conf.update_time from sd_environment_configuration conf
        left join sd_equipment_type typ on typ.type_id = conf.environment_type
        left join sys_dict_data dit on dit.dict_value = conf.direction
        <where>
            <if test="sdName != null  and sdName != ''"> and sd_name like concat('%', #{sdName}, '%')</if>
            <if test="environmentType != null  and environmentType != ''"> and environment_type = #{environmentType}</if>
            <if test="direction != null  and direction != ''"> and direction = #{direction}</if>
            and dit.dict_type = 'sd_direction'
        </where>
    </select>
    
    <select id="selectSdEnvironmentConfigurationById" parameterType="Long" resultMap="SdEnvironmentConfigurationResult">
        <include refid="selectSdEnvironmentConfigurationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEnvironmentConfiguration" parameterType="SdEnvironmentConfiguration" useGeneratedKeys="true" keyProperty="id">
        insert into sd_environment_configuration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sdName != null">sd_name,</if>
            <if test="url != null">url,</if>
            <if test="environmentType != null">environment_type,</if>
            <if test="width != null">width,</if>
            <if test="height != null">height,</if>
            <if test="direction != null">direction,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sdName != null">#{sdName},</if>
            <if test="url != null">#{url},</if>
            <if test="environmentType != null">#{environmentType},</if>
            <if test="width != null">#{width},</if>
            <if test="height != null">#{height},</if>
            <if test="direction != null">#{direction},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdEnvironmentConfiguration" parameterType="SdEnvironmentConfiguration">
        update sd_environment_configuration
        <trim prefix="SET" suffixOverrides=",">
            <if test="sdName != null">sd_name = #{sdName},</if>
            <if test="url != null">url = #{url},</if>
            <if test="environmentType != null">environment_type = #{environmentType},</if>
            <if test="width != null">width = #{width},</if>
            <if test="height != null">height = #{height},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEnvironmentConfigurationById" parameterType="Long">
        delete from sd_environment_configuration where id = #{id}
    </delete>

    <delete id="deleteSdEnvironmentConfigurationByIds" parameterType="String">
        delete from sd_environment_configuration where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>