<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdEquipmentRepairRecordMapper">

    <resultMap type="SdEquipmentRepairRecord" id="SdEquipmentRepairRecordResult">
        <result property="repairId"    column="repair_id"    />
        <result property="repairTunnelId"    column="repair_tunnel_id"    />
        <result property="repairTime"    column="repair_time"    />
        <result property="repairTypeId"    column="repair_type_id"    />
        <result property="repairNumber"    column="repair_number"    />
        <result property="repairContentState"    column="repair_content_state"    />
        <result property="repairContent"    column="repair_content"    />
        <result property="repairResult"    column="repair_result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="tunnelName"  column="tunnel_id" javaType="SdTunnels" resultMap="tunnelResult" />
        <association property="typeName"  column="type_id" javaType="SdEquipmentType" resultMap="eqTypeResult" />
    </resultMap>
    <resultMap id="tunnelResult" type="SdTunnels">
		<id  property="tunnelId" column="tunnel_id" />
		<result property="tunnelName" column="tunnel_name"   />
	</resultMap>
	<resultMap id="eqTypeResult" type="SdEquipmentType">
		<id  property="typeId" column="type_id" />
		<result property="typeName" column="type_name"   />
	</resultMap>

    <sql id="selectSdEquipmentRepairRecordVo">
        select repair_id, repair_tunnel_id, repair_time, repair_type_id, repair_number, repair_content_state, repair_content, repair_result, create_by, create_time, update_by, update_time from sd_equipment_repair_record
    </sql>

    <select id="selectSdEquipmentRepairRecordList" parameterType="SdEquipmentRepairRecord" resultMap="SdEquipmentRepairRecordResult">
        <include refid="selectSdEquipmentRepairRecordVo"/>
        <where>
            <if test="repairTime != null "> and repair_time = #{repairTime}</if>
            <if test="repairTypeId != null "> and repair_type_id = #{repairTypeId}</if>
            <if test="repairNumber != null  and repairNumber != ''"> and repair_number = #{repairNumber}</if>
        </where>
    </select>

    <select id="selectDropSdEquipmentRepairRecordList" parameterType="SdEquipmentRepairRecord" resultMap="SdEquipmentRepairRecordResult">
        select a.repair_id, c.tunnel_name, a.repair_time, d.type_name, a.repair_number, a.repair_content_state, a.repair_content,
        a.repair_result, a.create_by, a.create_time, a.update_by, a.update_time
        from sd_equipment_repair_record a
        left join sd_tunnels c on a.repair_tunnel_id = c.tunnel_id
        left join sd_equipment_type d on a.repair_type_id = d.type_id
        <where>
            <if test="repairTime != null "> and repair_time = #{repairTime}</if>
            <if test="repairTypeId != null "> and repair_type_id = #{repairTypeId}</if>
            <if test="repairNumber != null  and repairNumber != ''"> and repair_number = #{repairNumber}</if>
            <if test="repairTunnelId != null "> and a.repair_tunnel_id = #{repairTunnelId}</if>
            <if test="repairTypeId != null "> and a.repair_type_id = #{repairTypeId}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (c.dept_id = #{params.deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdEquipmentRepairRecordById" parameterType="Long" resultMap="SdEquipmentRepairRecordResult">
        <include refid="selectSdEquipmentRepairRecordVo"/>
        where repair_id = #{repairId}
    </select>

    <insert id="insertSdEquipmentRepairRecord" parameterType="SdEquipmentRepairRecord" useGeneratedKeys="true" keyProperty="repairId">
        insert into sd_equipment_repair_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="repairTunnelId != null">repair_tunnel_id,</if>
            <if test="repairTime != null">repair_time,</if>
            <if test="repairTypeId != null">repair_type_id,</if>
            <if test="repairNumber != null">repair_number,</if>
            <if test="repairContentState != null">repair_content_state,</if>
            <if test="repairContent != null">repair_content,</if>
            <if test="repairResult != null">repair_result,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="repairTunnelId != null">#{repairTunnelId},</if>
            <if test="repairTime != null">#{repairTime},</if>
            <if test="repairTypeId != null">#{repairTypeId},</if>
            <if test="repairNumber != null">#{repairNumber},</if>
            <if test="repairContentState != null">#{repairContentState},</if>
            <if test="repairContent != null">#{repairContent},</if>
            <if test="repairResult != null">#{repairResult},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdEquipmentRepairRecord" parameterType="SdEquipmentRepairRecord">
        update sd_equipment_repair_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="repairTunnelId != null">repair_tunnel_id = #{repairTunnelId},</if>
            <if test="repairTime != null">repair_time = #{repairTime},</if>
            <if test="repairTypeId != null">repair_type_id = #{repairTypeId},</if>
            <if test="repairNumber != null">repair_number = #{repairNumber},</if>
            <if test="repairContentState != null">repair_content_state = #{repairContentState},</if>
            <if test="repairContent != null">repair_content = #{repairContent},</if>
            <if test="repairResult != null">repair_result = #{repairResult},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where repair_id = #{repairId}
    </update>

    <delete id="deleteSdEquipmentRepairRecordById" parameterType="Long">
        delete from sd_equipment_repair_record where repair_id = #{repairId}
    </delete>

    <delete id="deleteSdEquipmentRepairRecordByIds" parameterType="String">
        delete from sd_equipment_repair_record where repair_id in
        <foreach item="repairId" collection="array" open="(" separator="," close=")">
            #{repairId}
        </foreach>
    </delete>

</mapper>
