<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdEquipmentFileMapper">
    
    <resultMap type="SdEquipmentFile" id="SdEquipmentFileResult">
        <result property="id"    column="id"    />
        <result property="fileId"    column="file_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="url"    column="url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdEquipmentFileVo">
        select id, file_id, file_name, url, create_by, create_time, update_by, update_time from sd_equipment_file
    </sql>

    <select id="selectSdEquipmentFileList" parameterType="SdEquipmentFile" resultMap="SdEquipmentFileResult">
        <include refid="selectSdEquipmentFileVo"/>
        <where>  
            <if test="fileId != null  and fileId != ''"> and file_id = #{fileId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectSdEquipmentFileById" parameterType="Long" resultMap="SdEquipmentFileResult">
        <include refid="selectSdEquipmentFileVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEquipmentFile" parameterType="SdEquipmentFile" useGeneratedKeys="true" keyProperty="id">
        insert into sd_equipment_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">file_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="url != null">url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">#{fileId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="url != null">#{url},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
     <!-- 批量新增设备档案文件信息 -->
	  <insert id="brachInsertSdEquipmentFile" parameterType="java.util.List">
	    insert into sd_equipment_file
	    (
	      file_id,file_name,url,create_by,create_time
	    )
	    values
	    <foreach collection="list" index="index" item="item" separator=",">
	      (
	        #{item.fileId}, #{item.fileName}, #{item.url}, #{item.createBy}, #{item.createTime}
	      )
	    </foreach>
	  </insert>

    <update id="updateSdEquipmentFile" parameterType="SdEquipmentFile">
        update sd_equipment_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="url != null">url = #{url},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEquipmentFileById" parameterType="Long">
        delete from sd_equipment_file where id = #{id}
    </delete>

    <delete id="deleteSdEquipmentFileByIds" parameterType="String">
        delete from sd_equipment_file where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteSdEquipmentFileByrlIds" parameterType="String">
        delete from sd_equipment_file where file_id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>