<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdInspectionFileMapper">

    <resultMap type="SdInspectionFile" id="SdInspectionFileResult">
        <result property="id"    column="id"    />
        <result property="planFileId"    column="plan_file_id"    />
        <result property="url"    column="url"    />
        <result property="fileName"    column="file_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdInspectionFileVo">
        select id, plan_file_id, url, file_name, create_by, create_time, update_by, update_time
        from sd_inspection_file
    </sql>

    <select id="selectSdInspectionFileList" parameterType="SdInspectionFile" resultMap="SdInspectionFileResult">
        <include refid="selectSdInspectionFileVo"/>
        <where>
            <if test="planFileId != null  and planFileId != ''"> and plan_file_id = #{planFileId}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
        </where>
    </select>

    <select id="selectSdInspectionFileById" parameterType="Long" resultMap="SdInspectionFileResult">
        <include refid="selectSdInspectionFileVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdInspectionFile" parameterType="SdInspectionFile" useGeneratedKeys="true" keyProperty="id">
        insert into sd_inspection_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planFileId != null">plan_file_id,</if>
            <if test="url != null">url,</if>
            <if test="fileName != null">file_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planFileId != null">#{planFileId},</if>
            <if test="url != null">#{url},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdInspectionFile" parameterType="SdInspectionFile">
        update sd_inspection_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="planFileId != null">plan_file_id = #{planFileId},</if>
            <if test="url != null">url = #{url},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdInspectionFileById" parameterType="Long">
        delete from sd_inspection_file where id = #{id}
    </delete>

    <delete id="deleteSdInspectionFileByIds" parameterType="String">
        delete from sd_inspection_file where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="brachInsertSdInspectionFile" parameterType="java.util.List">
        insert into sd_inspection_file
        (
        plan_file_id, url, file_name, create_by, create_time
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.planFileId}, #{item.url}, #{item.fileName}, #{item.createBy}, #{item.createTime}
            )
        </foreach>
    </insert>


    <update id="updateFileId" parameterType="String">
        update sd_inspection_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="planfileid != null">plan_file_id = #{planfileid},</if>
        </trim>
        where plan_file_id = #{oldid}
    </update>

    <delete id="deleteFileByFileIds" parameterType="String">
        delete from sd_inspection_file where plan_file_id = #{pFileId}
    </delete>
</mapper>
