<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.dataInfo.SdTrafficStatisticsMapper">

    <resultMap type="SdTrafficStatistics" id="SdTrafficStatisticsResult">
        <result property="statisticsId"    column="statistics_id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="deviceName"    column="deviceName"    />
        <result property="deviceId"    column="device_id"    />
        <result property="byLane"    column="by_lane"    />
        <result property="bySpeed"    column="by_speed"    />
        <result property="wArrivalFlow"    column="w_arrival_flow"    />
        <result property="dwLightVehicle"    column="dw_light_vehicle"    />
        <result property="dwMidVehicle"    column="dw_mid_vehicle"    />
        <result property="dwHeavyVehicle"    column="dw_heavy_vehicle"    />
        <result property="dwTimeHeadway"    column="dw_time_headway"    />
        <result property="dwSpaceHeadway"    column="dw_space_headway"    />
        <result property="fSpaceOccupyRation"    column="f_space_occupy_ration"    />
        <result property="fTimeOccupyRation"    column="f_time_occupy_ration"    />
        <result property="byStoppingTimes"    column="by_stopping_times"    />
        <result property="byQueueLen"    column="by_queue_len"    />
        <result property="byFlag"    column="by_flag"    />
        <result property="byVehicelNum"    column="by_vehicel_num"    />
        <result property="wDelay"    column="w_delay"    />
        <result property="dwNonMotor"    column="dw_non_motor"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="eqDirection"    column="eq_direction"    />
        <result property="date"    column="date"    />
        <association property="tunnelName" column="tunnel_id" javaType="SdTunnels" resultMap="tunnelResult"/>
    </resultMap>
	 <resultMap id="tunnelResult" type="SdTunnels">
        <id property="tunnelId" column="tunnel_id"/>
        <result property="tunnelName" column="tunnel_name"/>
    </resultMap>

    <sql id="selectSdTrafficStatisticsVo">
        select statistics_id,tunnel_id, device_id, by_lane, by_speed, w_arrival_flow, dw_light_vehicle, dw_mid_vehicle, dw_heavy_vehicle, dw_time_headway, dw_space_headway, f_space_occupy_ration, f_time_occupy_ration, by_stopping_times, by_queue_len, by_flag, by_vehicel_num, w_delay, dw_non_motor, create_by, create_time from sd_traffic_statistics
    </sql>

    <select id="selectSdTrafficStatisticsList" parameterType="SdTrafficStatistics" resultMap="SdTrafficStatisticsResult">
        SELECT
	a.statistics_id,
	a.tunnel_id,
	b.tunnel_name,
	a.device_id,
	a.by_lane,
	a.by_speed,
	a.w_arrival_flow,
	a.dw_light_vehicle,
	a.dw_mid_vehicle,
	a.dw_heavy_vehicle,
	a.dw_time_headway,
	a.dw_space_headway,
	a.f_space_occupy_ration,
	a.f_time_occupy_ration,
	a.by_stopping_times,
	a.by_queue_len,
	a.by_flag,
	a.by_vehicel_num,
	a.w_delay,
	a.dw_non_motor,
	a.create_by,
	a.create_time,
	c.eq_name as deviceName
FROM
	sd_traffic_statistics a
LEFT JOIN sd_tunnels b ON a.tunnel_id = b.tunnel_id
LEFT JOIN sd_devices c ON a.device_id = c.eq_id
        <where>
            <if test="statisticsId != null "> and a.statistics_id = #{statisticsId}</if>
            <if test="tunnelId != null "> and a.tunnel_id = #{tunnelId}</if>
            <if test="deviceId != null "> and a.device_id = #{deviceId}</if>
            <if test="byLane != null "> and a.by_lane = #{byLane}</if>
            <if test="bySpeed != null "> and a.by_speed = #{bySpeed}</if>
            <if test="wArrivalFlow != null "> and a.w_arrival_flow = #{wArrivalFlow}</if>
            <if test="dwLightVehicle != null "> and a.dw_light_vehicle = #{dwLightVehicle}</if>
            <if test="dwMidVehicle != null "> and a.dw_mid_vehicle = #{dwMidVehicle}</if>
            <if test="dwHeavyVehicle != null "> and a.dw_heavy_vehicle = #{dwHeavyVehicle}</if>
            <if test="dwTimeHeadway != null "> and a.dw_time_headway = #{dwTimeHeadway}</if>
            <if test="dwSpaceHeadway != null "> and a.dw_space_headway = #{dwSpaceHeadway}</if>
            <if test="fSpaceOccupyRation != null "> and a.f_space_occupy_ration = #{fSpaceOccupyRation}</if>
            <if test="fTimeOccupyRation != null "> and a.f_time_occupy_ration = #{fTimeOccupyRation}</if>
            <if test="byStoppingTimes != null "> and a.by_stopping_times = #{byStoppingTimes}</if>
            <if test="byQueueLen != null "> and a.by_queue_len = #{byQueueLen}</if>
            <if test="byFlag != null "> and a.by_flag = #{byFlag}</if>
            <if test="byVehicelNum != null "> and a.by_vehicel_num = #{byVehicelNum}</if>
            <if test="wDelay != null "> and a.w_delay = #{wDelay}</if>
            <if test="dwNonMotor != null "> and a.dw_non_motor = #{dwNonMotor}</if>
            <if test="params.beginTime != null and params.beginTime != '' and
            	params.endTime != null and params.endTime != ''">
            	and a.create_time between #{params.beginTime} and #{params.endTime}
            </if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (b.dept_id = #{params.deptId} OR b.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdTrafficStatisticsToday" parameterType="SdTrafficStatistics" resultMap="SdTrafficStatisticsResult">
        select a.statistics_id, a.device_id, a.by_lane, a.by_speed, a.w_arrival_flow,
        a.dw_light_vehicle, a.dw_mid_vehicle, a.dw_heavy_vehicle, a.dw_time_headway, a.dw_space_headway,
        a.f_space_occupy_ration, a.f_time_occupy_ration, a.by_stopping_times, a.by_queue_len, a.by_flag,
        a.by_vehicel_num, a.w_delay, a.dw_non_motor, a.create_by, a.create_time
        from sd_traffic_statistics a
        left join sd_devices b on a.device_id = b.eq_id
        <where>
            and b.eq_tunnel_id = #{tunnelId}
            and to_days('a.create_time') = to_days(now())
            and b.eq_direction = #{eqDirection}
        </where>
    </select>

    <select id="queryStatistics" parameterType="SdTrafficStatistics" resultMap="SdTrafficStatisticsResult">
        SELECT SUM(dw_light_vehicle),SUM(dw_heavy_vehicle),SUM(dw_mid_vehicle) FROM sd_traffic_statistics
         <where>
	     <if test="beginTime != null and endTime != null and beginTime != '' and endTime != ''">
            	and create_time between #{beginTime} and #{endTime}
            </if>
	      </where>
    </select>

    <select id="selectSdTrafficStatisticsById" parameterType="Long" resultMap="SdTrafficStatisticsResult">
        <include refid="selectSdTrafficStatisticsVo"/>
        where statistics_id = #{statisticsId}
    </select>

    <insert id="insertSdTrafficStatistics" parameterType="SdTrafficStatistics">
        insert into sd_traffic_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="statisticsId != null">statistics_id,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="byLane != null">by_lane,</if>
            <if test="bySpeed != null">by_speed,</if>
            <if test="wArrivalFlow != null">w_arrival_flow,</if>
            <if test="dwLightVehicle != null">dw_light_vehicle,</if>
            <if test="dwMidVehicle != null">dw_mid_vehicle,</if>
            <if test="dwHeavyVehicle != null">dw_heavy_vehicle,</if>
            <if test="dwTimeHeadway != null">dw_time_headway,</if>
            <if test="dwSpaceHeadway != null">dw_space_headway,</if>
            <if test="fSpaceOccupyRation != null">f_space_occupy_ration,</if>
            <if test="fTimeOccupyRation != null">f_time_occupy_ration,</if>
            <if test="byStoppingTimes != null">by_stopping_times,</if>
            <if test="byQueueLen != null">by_queue_len,</if>
            <if test="byFlag != null">by_flag,</if>
            <if test="byVehicelNum != null">by_vehicel_num,</if>
            <if test="wDelay != null">w_delay,</if>
            <if test="dwNonMotor != null">dw_non_motor,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="statisticsId != null">#{statisticsId},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="byLane != null">#{byLane},</if>
            <if test="bySpeed != null">#{bySpeed},</if>
            <if test="wArrivalFlow != null">#{wArrivalFlow},</if>
            <if test="dwLightVehicle != null">#{dwLightVehicle},</if>
            <if test="dwMidVehicle != null">#{dwMidVehicle},</if>
            <if test="dwHeavyVehicle != null">#{dwHeavyVehicle},</if>
            <if test="dwTimeHeadway != null">#{dwTimeHeadway},</if>
            <if test="dwSpaceHeadway != null">#{dwSpaceHeadway},</if>
            <if test="fSpaceOccupyRation != null">#{fSpaceOccupyRation},</if>
            <if test="fTimeOccupyRation != null">#{fTimeOccupyRation},</if>
            <if test="byStoppingTimes != null">#{byStoppingTimes},</if>
            <if test="byQueueLen != null">#{byQueueLen},</if>
            <if test="byFlag != null">#{byFlag},</if>
            <if test="byVehicelNum != null">#{byVehicelNum},</if>
            <if test="wDelay != null">#{wDelay},</if>
            <if test="dwNonMotor != null">#{dwNonMotor},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSdTrafficStatistics" parameterType="SdTrafficStatistics">
        update sd_traffic_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="byLane != null">by_lane = #{byLane},</if>
            <if test="bySpeed != null">by_speed = #{bySpeed},</if>
            <if test="wArrivalFlow != null">w_arrival_flow = #{wArrivalFlow},</if>
            <if test="dwLightVehicle != null">dw_light_vehicle = #{dwLightVehicle},</if>
            <if test="dwMidVehicle != null">dw_mid_vehicle = #{dwMidVehicle},</if>
            <if test="dwHeavyVehicle != null">dw_heavy_vehicle = #{dwHeavyVehicle},</if>
            <if test="dwTimeHeadway != null">dw_time_headway = #{dwTimeHeadway},</if>
            <if test="dwSpaceHeadway != null">dw_space_headway = #{dwSpaceHeadway},</if>
            <if test="fSpaceOccupyRation != null">f_space_occupy_ration = #{fSpaceOccupyRation},</if>
            <if test="fTimeOccupyRation != null">f_time_occupy_ration = #{fTimeOccupyRation},</if>
            <if test="byStoppingTimes != null">by_stopping_times = #{byStoppingTimes},</if>
            <if test="byQueueLen != null">by_queue_len = #{byQueueLen},</if>
            <if test="byFlag != null">by_flag = #{byFlag},</if>
            <if test="byVehicelNum != null">by_vehicel_num = #{byVehicelNum},</if>
            <if test="wDelay != null">w_delay = #{wDelay},</if>
            <if test="dwNonMotor != null">dw_non_motor = #{dwNonMotor},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where statistics_id = #{statisticsId}
    </update>

    <delete id="deleteSdTrafficStatisticsById" parameterType="Long">
        delete from sd_traffic_statistics where statistics_id = #{statisticsId}
    </delete>

    <delete id="deleteSdTrafficStatisticsByIds" parameterType="String">
        delete from sd_traffic_statistics where statistics_id in
        <foreach item="statisticsId" collection="array" open="(" separator="," close=")">
            #{statisticsId}
        </foreach>
    </delete>

    <!-- 不区分时间 -->
    <select id="getAnalysisData" parameterType="String" resultMap="SdTrafficStatisticsResult">
		SELECT
		<if test="type == 'day'">
			DATE_FORMAT(x.create_time,'%Y-%m-%d') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="type == 'month'">
			DATE_FORMAT(x.create_time,'%Y-%m') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="type == 'year'">
			DATE_FORMAT(x.create_time,'%Y') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="type == 'quarter'">
			QUARTER(x.create_time) AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="type == 'hour'">
			x.create_time AS date,
			by_vehicel_num
		</if>
		from sd_traffic_statistics x
		left join sd_devices a on x.device_id = a.eq_id
	    where 1=1
	    <if test="type == 'day'">
        	and DATE_FORMAT(x.create_time,'%Y%m') = DATE_FORMAT(now(),'%Y%m')
        </if>
        <if test="type == 'month'">
        	and DATE_FORMAT(x.create_time,'%Y') = DATE_FORMAT(now(),'%Y')
        </if>
        <if test="type == 'hour'">
        	and DATE_FORMAT(x.create_time,'%Y%m%d') = DATE_FORMAT(now(),'%Y%m%d')
        </if>
        <if test="type == 'quarter'">
        	and DATE_FORMAT(x.create_time,'%Y') = DATE_FORMAT(now(),'%Y')
        </if>
        <if test="holes != null and holes != ''">
        	and a.stake_mark like concat('%', #{holes}, '%')
        </if>
	    	and a.eq_tunnel_id = #{tunnelId}
        <if test="type == 'day'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y%m%d')
        </if>
        <if test="type == 'month'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y%m')
        </if>
        <if test="type == 'year'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y')
        </if>
        <if test="type == 'quarter'">
        	GROUP BY QUARTER(x.create_time)
        </if>
    </select>

    <!-- 区分时间 -->
    <select id="analysisDataByTime" parameterType="String" resultMap="SdTrafficStatisticsResult">
		SELECT
		<if test="eqDirection == 'day'">
			DATE_FORMAT(x.create_time,'%Y-%m-%d') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="eqDirection == 'month'">
			DATE_FORMAT(x.create_time,'%Y-%m') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="eqDirection == 'year'">
			DATE_FORMAT(x.create_time,'%Y') AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="eqDirection == 'quarter'">
			QUARTER(x.create_time) AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		<if test="eqDirection == 'hour'">
			x.create_time AS date,
			sum(by_vehicel_num) as by_vehicel_num
		</if>
		from sd_traffic_statistics x
		left join sd_devices a on x.device_id = a.eq_id
	    where 1=1
	    <if test="eqDirection == 'day'">
        	and DATE_FORMAT(x.create_time,'%Y%m') = DATE_FORMAT(#{params.beginTime},'%Y%m')
        </if>
        <if test="eqDirection == 'month'">
        	and DATE_FORMAT(x.create_time,'%Y') = DATE_FORMAT(#{params.beginTime},'%Y')
        </if>
        <if test="eqDirection == 'quarter'">
        	and DATE_FORMAT(x.create_time,'%Y') = DATE_FORMAT(#{params.beginTime},'%Y')
        </if>
        <if test="eqDirection == 'hour'">
        	and DATE_FORMAT(x.create_time,'%Y%m%d') = DATE_FORMAT(#{params.beginTime},'%Y%m%d')
        </if>
	    and a.eq_tunnel_id = #{tunnelId}
	    <if test="holes != null and holes != ''">
        	and a.stake_mark like concat('%', #{holes}, '%')
        </if>
        <if test="eqDirection == 'day'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y%m%d')
        </if>
        <if test="eqDirection == 'month'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y%m')
        </if>
        <if test="eqDirection == 'year'">
        	GROUP BY DATE_FORMAT(x.create_time,'%Y')
        </if>
        <if test="eqDirection == 'quarter'">
        	GROUP BY QUARTER(x.create_time)
        </if>
    </select>

    <!-- 时间段 -->
    <select id="analysisDataByHourTime" parameterType="String" resultMap="SdTrafficStatisticsResult">
	SELECT
	a.HOUR date,
	ifnull(b.count, 0) by_vehicel_num
	FROM
	(
		SELECT
			0 HOUR
		UNION ALL
			SELECT
				1 HOUR
			UNION ALL
				SELECT
					2 HOUR
				UNION ALL
					SELECT
						3 HOUR
					UNION ALL
						SELECT
							4 HOUR
						UNION ALL
							SELECT
								5 HOUR
							UNION ALL
								SELECT
									6 HOUR
								UNION ALL
									SELECT
										7 HOUR
									UNION ALL
										SELECT
											8 HOUR
										UNION ALL
											SELECT
												9 HOUR
											UNION ALL
												SELECT
													10 HOUR
												UNION ALL
													SELECT
														11 HOUR
													UNION ALL
														SELECT
															12 HOUR
														UNION ALL
															SELECT
																13 HOUR
															UNION ALL
																SELECT
																	14 HOUR
																UNION ALL
																	SELECT
																		15 HOUR
																	UNION ALL
																		SELECT
																			16 HOUR
																		UNION ALL
																			SELECT
																				17 HOUR
																			UNION ALL
																				SELECT
																					18 HOUR
																				UNION ALL
																					SELECT
																						19 HOUR
																					UNION ALL
																						SELECT
																							20 HOUR
																						UNION ALL
																							SELECT
																								21 HOUR
																							UNION ALL
																								SELECT
																									22 HOUR
																								UNION ALL
																									SELECT
																										23 HOUR
	) a
LEFT JOIN (
	SELECT
		HOUR (a.create_time) HOUR,
		sum(a.by_vehicel_num) count
	FROM
		sd_traffic_statistics a
		LEFT JOIN sd_devices c on a.device_id = c.eq_id
	WHERE
	1 = 1
	<if test="params.beginTime != null and params.beginTime != '' and params.endTime != null and params.endTime != '' ">
	and a.create_time between  #{params.beginTime} and #{params.endTime}
	</if>
	and c.eq_tunnel_id = #{tunnelId}
	<if test="holes != null and holes != ''">
    and c.stake_mark like concat('%', #{holes}, '%')
    </if>
	GROUP BY
		date_format(a.create_time, '%Y%m%d-%H'),
		HOUR
	) b ON a. HOUR = b. HOUR
	ORDER BY
		date
    </select>

    <select id="selectSumTrafficFlow" resultType="hashmap">
        SELECT DATE_FORMAT(create_time, "%Y-%m-%d" ),
               IFNULL(sum(dw_light_vehicle)+sum(dw_mid_vehicle)+sum(dw_heavy_vehicle)+sum(dw_non_motor),0) as sumtraffic
        from sd_traffic_statistics
        WHERE TO_DAYS(create_time) = TO_DAYS(NOW())
    </select>

    <select id="getDevicesIdInBase" resultMap="SdTrafficStatisticsResult">
        SELECT device_id from sd_traffic_statistics GROUP BY device_id
    </select>

    <select id="selectRecentTrafficFlow" resultType="hashmap">
        SELECT IFNULL(dw_light_vehicle+dw_mid_vehicle+dw_heavy_vehicle+dw_non_motor,0) as recentsum
        from sd_traffic_statistics WHERE device_id = #{deviceId} ORDER BY create_time DESC LIMIT 1
    </select>


    <!--查询某隧道最近的车流量相关数据-->
    <select id="selectLatestTrafficFlowList" resultMap="SdTrafficStatisticsResult">
        SELECT
            a.statistics_id,
            a.tunnel_id,
            b.tunnel_name,
            a.device_id,
            c.eq_name as deviceName,
            a.by_lane,
            a.by_speed,
            a.w_arrival_flow,
            a.dw_light_vehicle,
            a.dw_mid_vehicle,
            a.dw_heavy_vehicle,
            a.dw_time_headway,
            a.dw_space_headway,
            a.f_space_occupy_ration,
            a.f_time_occupy_ration,
            a.by_stopping_times,
            a.by_queue_len,
            a.by_flag,
            a.by_vehicel_num,
            a.w_delay,
            a.dw_non_motor,
            a.create_by,
            a.create_time
        FROM sd_traffic_statistics a
        LEFT JOIN sd_tunnels b ON a.tunnel_id = b.tunnel_id
        LEFT JOIN sd_devices c ON a.device_id = c.eq_id
        where a.tunnel_id = #{tunnelId}
        and a.create_time = (
            select max(a.create_time)
            FROM sd_traffic_statistics a
            LEFT JOIN sd_tunnels b ON a.tunnel_id = b.tunnel_id
            LEFT JOIN sd_devices c ON a.device_id = c.eq_id
            where a.tunnel_id = #{tunnelId}
        )
    </select>
</mapper>
