<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.trafficBroadcasting.SdBroadcastTemplateMapper">
    
    <resultMap type="SdBroadcastTemplate" id="SdBroadcastTemplateResult">
        <result property="id"    column="id"    />
        <result property="broadcastContent"    column="broadcast_content"    />
        <result property="broadcastSpokesman"    column="broadcast_spokesman"    />
        <result property="broadcastSpeed"    column="broadcast_speed"    />
        <result property="isSaveRecording"    column="is_save_recording"    />
        <result property="volume"    column="volume"    />
        <result property="numberOfBroadcasts"    column="number_of_broadcasts"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remake"    column="remake"    />
        <result property="remake1"    column="remake1"    />
        <result property="remake2"    column="remake2"    />
    </resultMap>

    <sql id="selectSdBroadcastTemplateVo">
        select id, broadcast_content, broadcast_spokesman, broadcast_speed,
        IF(is_save_recording = "1","不保存","保存") is_save_recording, volume,
        number_of_broadcasts, create_time, update_time, remake
        from sd_broadcast_template
    </sql>

    <select id="selectSdBroadcastTemplateList" parameterType="SdBroadcastTemplate" resultMap="SdBroadcastTemplateResult">
        <include refid="selectSdBroadcastTemplateVo"/>
        <where>  
            <if test="broadcastContent != null  and broadcastContent != ''"> and broadcast_content like concat('%',#{broadcastContent},'%')</if>
            <if test="broadcastSpokesman != null  and broadcastSpokesman != ''"> and broadcast_spokesman = #{broadcastSpokesman}</if>
            <if test="broadcastSpeed != null  and broadcastSpeed != ''"> and broadcast_speed = #{broadcastSpeed}</if>
            <if test="isSaveRecording != null  and isSaveRecording != ''"> and is_save_recording = #{isSaveRecording}</if>
            <if test="volume != null  and volume != ''"> and volume = #{volume}</if>
            <if test="numberOfBroadcasts != null  and numberOfBroadcasts != ''"> and number_of_broadcasts = #{numberOfBroadcasts}</if>
            <if test="remake != null  and remake != ''"> and remake = #{remake}</if>
            <if test="remake1 != null  and remake1 != ''"> and remake1 = #{remake1}</if>
            <if test="remake2 != null  and remake2 != ''"> and remake2 = #{remake2}</if>
        </where>
    </select>
    
    <select id="selectSdBroadcastTemplateById" parameterType="Long" resultMap="SdBroadcastTemplateResult">
        <include refid="selectSdBroadcastTemplateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdBroadcastTemplate" parameterType="SdBroadcastTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into sd_broadcast_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="broadcastContent != null">broadcast_content,</if>
            <if test="broadcastSpokesman != null">broadcast_spokesman,</if>
            <if test="broadcastSpeed != null">broadcast_speed,</if>
            <if test="isSaveRecording != null">is_save_recording,</if>
            <if test="volume != null">volume,</if>
            <if test="numberOfBroadcasts != null">number_of_broadcasts,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remake != null">remake,</if>
            <if test="remake1 != null">remake1,</if>
            <if test="remake2 != null">remake2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="broadcastContent != null">#{broadcastContent},</if>
            <if test="broadcastSpokesman != null">#{broadcastSpokesman},</if>
            <if test="broadcastSpeed != null">#{broadcastSpeed},</if>
            <if test="isSaveRecording != null">#{isSaveRecording},</if>
            <if test="volume != null">#{volume},</if>
            <if test="numberOfBroadcasts != null">#{numberOfBroadcasts},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remake != null">#{remake},</if>
            <if test="remake1 != null">#{remake1},</if>
            <if test="remake2 != null">#{remake2},</if>
         </trim>
    </insert>

    <update id="updateSdBroadcastTemplate" parameterType="SdBroadcastTemplate">
        update sd_broadcast_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="broadcastContent != null">broadcast_content = #{broadcastContent},</if>
            <if test="broadcastSpokesman != null">broadcast_spokesman = #{broadcastSpokesman},</if>
            <if test="broadcastSpeed != null">broadcast_speed = #{broadcastSpeed},</if>
            <if test="isSaveRecording != null">is_save_recording = #{isSaveRecording},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="numberOfBroadcasts != null">number_of_broadcasts = #{numberOfBroadcasts},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remake != null">remake = #{remake},</if>
            <if test="remake1 != null">remake1 = #{remake1},</if>
            <if test="remake2 != null">remake2 = #{remake2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdBroadcastTemplateById" parameterType="Long">
        delete from sd_broadcast_template where id = #{id}
    </delete>

    <delete id="deleteSdBroadcastTemplateByIds" parameterType="String">
        delete from sd_broadcast_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>