<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.protocol.SdDevicePointMapper">
    
    <resultMap type="SdDevicePoint" id="SdDevicePointResult">
        <result property="id"    column="id"    />
        <result property="eqId"    column="eq_id"    />
        <result property="eqType"    column="eq_type"    />
        <result property="address"    column="address"    />
        <result property="addressIndex"    column="address_index"    />
        <result property="functionName"    column="function_name"    />
        <result property="dataType"    column="data_type"    />
        <result property="signalName"    column="signal_name"    />
        <result property="stateId"    column="state_id"    />
        <result property="dataStatus"    column="data_status"    />
        <result property="functionDescription"    column="function_description"    />
        <result property="isReserved"    column="is_reserved"    />
    </resultMap>

    <sql id="selectSdDevicePointVo">
        select id, eq_id, eq_type, address, address_index, function_name, data_type, signal_name, state_id, data_status, function_description, is_reserved from sd_device_point
    </sql>

    <select id="selectSdDevicePointList" parameterType="SdDevicePoint" resultMap="SdDevicePointResult">
        <include refid="selectSdDevicePointVo"/>
        <where>  
            <if test="eqId != null  and eqId != ''"> and eq_id = #{eqId}</if>
            <if test="eqType != null "> and eq_type = #{eqType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="addressIndex != null "> and address_index = #{addressIndex}</if>
            <if test="functionName != null  and functionName != ''"> and function_name like concat('%', #{functionName}, '%')</if>
            <if test="dataType != null  and dataType != ''"> and data_type = #{dataType}</if>
            <if test="signalName != null  and signalName != ''"> and signal_name like concat('%', #{signalName}, '%')</if>
            <if test="stateId != null "> and state_id = #{stateId}</if>
            <if test="dataStatus != null  and dataStatus != ''"> and data_status = #{dataStatus}</if>
            <if test="functionDescription != null  and functionDescription != ''"> and function_description = #{functionDescription}</if>
            <if test="isReserved != null "> and is_reserved = #{isReserved}</if>
        </where>
    </select>
    
    <select id="selectSdDevicePointById" parameterType="Long" resultMap="SdDevicePointResult">
        <include refid="selectSdDevicePointVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdDevicePoint" parameterType="SdDevicePoint" useGeneratedKeys="true" keyProperty="id">
        insert into sd_device_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eqId != null">eq_id,</if>
            <if test="eqType != null">eq_type,</if>
            <if test="address != null">address,</if>
            <if test="addressIndex != null">address_index,</if>
            <if test="functionName != null">function_name,</if>
            <if test="dataType != null">data_type,</if>
            <if test="signalName != null">signal_name,</if>
            <if test="stateId != null">state_id,</if>
            <if test="dataStatus != null">data_status,</if>
            <if test="functionDescription != null">function_description,</if>
            <if test="isReserved != null">is_reserved,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eqId != null">#{eqId},</if>
            <if test="eqType != null">#{eqType},</if>
            <if test="address != null">#{address},</if>
            <if test="addressIndex != null">#{addressIndex},</if>
            <if test="functionName != null">#{functionName},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="signalName != null">#{signalName},</if>
            <if test="stateId != null">#{stateId},</if>
            <if test="dataStatus != null">#{dataStatus},</if>
            <if test="functionDescription != null">#{functionDescription},</if>
            <if test="isReserved != null">#{isReserved},</if>
         </trim>
    </insert>

    <update id="updateSdDevicePoint" parameterType="SdDevicePoint">
        update sd_device_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="eqId != null">eq_id = #{eqId},</if>
            <if test="eqType != null">eq_type = #{eqType},</if>
            <if test="address != null">address = #{address},</if>
            <if test="addressIndex != null">address_index = #{addressIndex},</if>
            <if test="functionName != null">function_name = #{functionName},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="signalName != null">signal_name = #{signalName},</if>
            <if test="stateId != null">state_id = #{stateId},</if>
            <if test="dataStatus != null">data_status = #{dataStatus},</if>
            <if test="functionDescription != null">function_description = #{functionDescription},</if>
            <if test="isReserved != null">is_reserved = #{isReserved},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdDevicePointById" parameterType="Long">
        delete from sd_device_point where id = #{id}
    </delete>

    <delete id="deleteSdDevicePointByIds" parameterType="String">
        delete from sd_device_point where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>