<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.xiaoFang.XfPointInfoMapper">
    
    <resultMap type="XfPointInfo" id="XfPointInfoResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="direction"    column="direction"    />
        <result property="stakeMark"    column="stake_mark"    />
        <result property="firePoint"    column="fire_point"    />
        <result property="voicePoint"    column="voice_point"    />
        <result property="handPoint"    column="hand_point"    />
        <result property="hydrantPoint"    column="hydrant_point"    />
        <result property="smokePoint"    column="smoke_point"    />
        <result property="warmPoint"    column="warm_point"    />
        <result property="linkedCamera"    column="linked_camera"    />
    </resultMap>

    <sql id="selectXfPointInfoVo">
        select id, tunnel_id, direction, stake_mark, fire_point, voice_point, hand_point, hydrant_point, smoke_point, warm_point, linked_camera from xf_point_info
    </sql>

    <select id="selectXfPointInfoList" parameterType="XfPointInfo" resultMap="XfPointInfoResult">
        <include refid="selectXfPointInfoVo"/>
        <where>  
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="direction != null  and direction != ''"> and direction = #{direction}</if>
            <if test="stakeMark != null  and stakeMark != ''"> and stake_mark = #{stakeMark}</if>
            <if test="firePoint != null  and firePoint != ''"> and fire_point = #{firePoint}</if>
            <if test="voicePoint != null  and voicePoint != ''"> and voice_point = #{voicePoint}</if>
            <if test="handPoint != null  and handPoint != ''"> and hand_point = #{handPoint}</if>
            <if test="hydrantPoint != null  and hydrantPoint != ''"> and hydrant_point = #{hydrantPoint}</if>
            <if test="smokePoint != null  and smokePoint != ''"> and smoke_point = #{smokePoint}</if>
            <if test="warmPoint != null  and warmPoint != ''"> and warm_point = #{warmPoint}</if>
        </where>
    </select>
    
    <select id="selectXfPointInfoById" parameterType="Long" resultMap="XfPointInfoResult">
        <include refid="selectXfPointInfoVo"/>
        where id = #{id}
    </select>
</mapper>