<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.InductionlampControlStatusDetailsMapper">

    <resultMap type="InductionlampControlStatusDetails" id="InductionlampControlStatusDetailsResult">
        <result property="id"    column="id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentModeType"    column="equipment_mode_type"    />
        <result property="brightness"    column="brightness"    />
        <result property="frequency"    column="frequency"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInductionlampControlStatusDetailsVo">
        select id, equipment_id, equipment_mode_type, create_time, update_time, brightness, frequency from inductionlamp_control_status_details
    </sql>

    <select id="selectInductionlampControlStatusDetailsList" parameterType="InductionlampControlStatusDetails" resultMap="InductionlampControlStatusDetailsResult">
        <include refid="selectInductionlampControlStatusDetailsVo"/>
        <where>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="equipmentModeType != null "> and equipment_mode_type = #{equipmentModeType}</if>
        </where>
    </select>

    <select id="selectInductionlampControlStatusDetailsById" parameterType="Long" resultMap="InductionlampControlStatusDetailsResult">
        <include refid="selectInductionlampControlStatusDetailsVo"/>
        where id = #{id}
    </select>

    <insert id="insertInductionlampControlStatusDetails" parameterType="InductionlampControlStatusDetails" useGeneratedKeys="true" keyProperty="id">
        insert into inductionlamp_control_status_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="equipmentModeType != null">equipment_mode_type,</if>
            <if test="brightness != null">brightness,</if>
            <if test="frequency != null">frequency,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="equipmentModeType != null">#{equipmentModeType},</if>
            <if test="brightness != null">#{brightness},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateInductionlampControlStatusDetails" parameterType="InductionlampControlStatusDetails">
        update inductionlamp_control_status_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="equipmentModeType != null">equipment_mode_type = #{equipmentModeType},</if>
            <if test="brightness != null">brightness = #{brightness},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInductionlampControlStatusDetailsById" parameterType="Long">
        delete from inductionlamp_control_status_details where id = #{id}
    </delete>

    <delete id="deleteInductionlampControlStatusDetailsByIds" parameterType="String">
        delete from inductionlamp_control_status_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
