<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdCameraDetailsMapper">
    
    <resultMap type="SdCameraDetails" id="SdCameraDetailsResult">
        <result property="id"    column="id"    />
        <result property="camId"    column="cam_id"    />
        <result property="camName"    column="cam_name"    />
        <result property="camIp"    column="cam_IP"    />
        <result property="camPort"    column="cam_Port"    />
        <result property="camDesc"    column="cam_Desc"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="tunnelName"    column="tunnel_name"    />
        <result property="holeDirection"    column="hole_direction"    />
        <result property="linkedCamera"    column="linked_camera"    />
        <result property="stakeMark"    column="stake_mark"    />
    </resultMap>

    <sql id="selectSdCameraDetailsVo">
        select id, cam_id, cam_name, cam_IP, cam_Port, cam_Desc, tunnel_id, hole_direction,
        linked_camera,stake_mark from sd_camera_details
    </sql>

    <select id="selectSdCameraDetailsList" parameterType="SdCameraDetails" resultMap="SdCameraDetailsResult">
        <include refid="selectSdCameraDetailsVo"/>
        <where>  
            <if test="camId != null  and camId != ''"> and cam_id = #{camId}</if>
            <if test="camName != null  and camName != ''"> and cam_name like concat('%', #{camName}, '%')</if>
            <if test="camIp != null  and camIp != ''"> and cam_IP = #{camIp}</if>
            <if test="camPort != null  and camPort != ''"> and cam_Port = #{camPort}</if>
            <if test="camDesc != null  and camDesc != ''"> and cam_Desc = #{camDesc}</if>
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="holeDirection != null  and holeDirection != ''"> and hole_direction = #{holeDirection}</if>
        </where>
    </select>
    
    <select id="selectSdCameraDetailsById" parameterType="Long" resultMap="SdCameraDetailsResult">
        <include refid="selectSdCameraDetailsVo"/>
        where id = #{id}
    </select>
    
    <select id="selectSdCameraDetailsByCamId" parameterType="String" resultMap="SdCameraDetailsResult">
        select a.id, a.cam_id, a.cam_name, a.cam_IP, a.cam_Port, a.cam_Desc, a.tunnel_id,
        a.hole_direction, a.linked_camera,a.stake_mark,
		b.tunnel_name
		from sd_camera_details a
		LEFT JOIN sd_tunnels b on a.tunnel_id = b.tunnel_id
        where a.cam_id = #{camId}
    </select>
        
    <insert id="insertSdCameraDetails" parameterType="SdCameraDetails">
        insert into sd_camera_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="camId != null and camId != ''">cam_id,</if>
            <if test="camName != null">cam_name,</if>
            <if test="camIp != null">cam_IP,</if>
            <if test="camPort != null">cam_Port,</if>
            <if test="camDesc != null">cam_Desc,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="holeDirection != null">hole_direction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="camId != null and camId != ''">#{camId},</if>
            <if test="camName != null">#{camName},</if>
            <if test="camIp != null">#{camIp},</if>
            <if test="camPort != null">#{camPort},</if>
            <if test="camDesc != null">#{camDesc},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="holeDirection != null">#{holeDirection},</if>
         </trim>
    </insert>

    <update id="updateSdCameraDetails" parameterType="SdCameraDetails">
        update sd_camera_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="camId != null and camId != ''">cam_id = #{camId},</if>
            <if test="camName != null">cam_name = #{camName},</if>
            <if test="camIp != null">cam_IP = #{camIp},</if>
            <if test="camPort != null">cam_Port = #{camPort},</if>
            <if test="camDesc != null">cam_Desc = #{camDesc},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="holeDirection != null">hole_direction = #{holeDirection},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdCameraDetailsById" parameterType="Long">
        delete from sd_camera_details where id = #{id}
    </delete>

    <delete id="deleteSdCameraDetailsByIds" parameterType="String">
        delete from sd_camera_details where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>