<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdControlCodeMapper">
    
    <resultMap type="SdControlCode" id="SdControlCodeResult">
        <result property="controlId"    column="control_id"    />
        <result property="controlKey"    column="control_key"    />
        <result property="controlValue"    column="control_value"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSdControlCodeVo">
        select control_id, control_key, control_value, remark from sd_control_code
    </sql>

    <select id="selectSdControlCodeList" parameterType="SdControlCode" resultMap="SdControlCodeResult">
        <include refid="selectSdControlCodeVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectSdControlCodeById" parameterType="Long" resultMap="SdControlCodeResult">
        <include refid="selectSdControlCodeVo"/>
        where control_id = #{controlId}
    </select>
    
    <!-- 根据key值查询value -->
    <select id="selectSdControlCodeByKey" parameterType="Long" resultMap="SdControlCodeResult">
        select control_value from sd_control_code
        <where>
        	<if test="controlKey != null "> and control_key = #{controlKey}</if>
        </where>	
    </select>
        
    <insert id="insertSdControlCode" parameterType="SdControlCode" useGeneratedKeys="true" keyProperty="controlId">
        insert into sd_control_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="controlKey != null">control_key,</if>
            <if test="controlValue != null">control_value,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="controlKey != null">#{controlKey},</if>
            <if test="controlValue != null">#{controlValue},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSdControlCode" parameterType="SdControlCode">
        update sd_control_code
        <trim prefix="SET" suffixOverrides=",">
            <if test="controlKey != null">control_key = #{controlKey},</if>
            <if test="controlValue != null">control_value = #{controlValue},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where control_id = #{controlId}
    </update>

    <delete id="deleteSdControlCodeById" parameterType="Long">
        delete from sd_control_code where control_id = #{controlId}
    </delete>

    <delete id="deleteSdControlCodeByIds" parameterType="String">
        delete from sd_control_code where control_id in 
        <foreach item="controlId" collection="array" open="(" separator="," close=")">
            #{controlId}
        </foreach>
    </delete>
    
</mapper>