<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdDevicesMapper">

    <resultMap type="SdDevices" id="SdDevicesResult">
        <result property="eqId"    column="eq_id"    />
        <result property="fEqId"    column="f_eq_id"    />
        <result property="eqTunnelId"    column="eq_tunnel_id"    />
        <result property="eqName"    column="eq_name"    />
        <result property="eqType"    column="eq_type"    />
        <result property="eqModel"    column="eq_model"    />
        <result property="brandId"    column="brand_id"    />
        <!--设备品牌取字典值，去掉品牌名称字段-->
        <!--<result property="brandName"    column="brand_name"    />-->
        <result property="eqDirection"    column="eq_direction"    />
        <result property="lane"    column="lane"    />
        <result property="pile"    column="pile"    />
        <result property="pileNum"    column="pile_num"    />
        <result property="lat"    column="lat"    />
        <result property="lng"    column="lng"    />
        <result property="ip"    column="ip"    />
        <result property="port"    column="port"    />
        <result property="secureKey"    column="secure_key"    />
        <result property="eqUser"    column="eq_user"    />
        <result property="eqPwd"    column="eq_pwd"    />
        <result property="protocol"    column="protocol"    />
        <result property="protocolUrl"    column="protocol_url"    />
        <result property="protocolVersion"    column="protocol_version"    />
        <result property="protocolName"    column="protocol_name"    />
        <result property="dataType"    column="data_type"    />
        <result property="dataSource"    column="data_source"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="warrantyEndTime"    column="warranty_end_time"    />
        <result property="installTime"    column="install_time"    />
        <result property="useLife"    column="use_life"    />
        <result property="useStatus"    column="use_status"    />
        <result property="isMonitor"    column="is_monitor"    />
        <result property="portStatus"    column="port_status"    />
        <result property="portStatusTime"    column="port_status_time"    />
        <result property="gatewayNetstatus"    column="gateway_netstatus"    />
        <result property="gatewayNetstatusTime"    column="gateway_netstatus_time"    />
        <result property="eqStatus"    column="eq_status"    />
        <result property="eqStatusTime"    column="eq_status_time"    />
        <result property="dmcontrolSeat"    column="dmcontrol_seat"    />
        <result property="eqLampType"    column="eq_lamp_type"    />
        <result property="instructionSeat"    column="instruction_seat"    />
        <result property="eqControlPointAddress"    column="eq_control_point_address"    />
        <result property="eqFeedbackAddress1"    column="eq_feedback_address1"    />
        <result property="eqFeedbackAddress2"    column="eq_feedback_address2"    />
        <result property="eqFeedbackAddress3"    column="eq_feedback_address3"    />
        <result property="eqFeedbackAddress4"    column="eq_feedback_address4"    />
        <result property="eqFeedbackAddress5"    column="eq_feedback_address5"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="controlStatus" column="control_status" />
        <association property="tunnelName" column="tunnel_id" javaType="SdTunnels" resultMap="tunnelResult"/>
        <association property="eqTypeName" column="type_id" javaType="SdEquipmentType" resultMap="eqTypeResult"/>
    </resultMap>

    <resultMap id="tunnelResult" type="SdTunnels">
        <id property="tunnelId" column="tunnel_id"/>
        <result property="tunnelName" column="tunnel_name"/>
        <result property="tunnelAddress" column="tunnel_address"/>
    </resultMap>

    <resultMap id="eqTypeResult" type="SdEquipmentType">
        <id property="typeId" column="type_id"/>
        <result property="typeName" column="type_name"/>
    </resultMap>

    <sql id="selectSdDevicesVo">
        select eq_id, f_eq_id, eq_tunnel_id, eq_name, eq_type, eq_model, brand_id,
        <!-- brand_name, -->
        eq_direction, lane, pile, pile_num, lat, lng, ip, port, secure_key, eq_user, eq_pwd, protocol, protocol_url,
        protocol_version, protocol_name, data_type, data_source, delivery_time, warranty_end_time, install_time, use_life,
        use_status, is_monitor,port_status, port_status_time, gateway_netstatus, gateway_netstatus_time, eq_status,
        eq_status_time, dmcontrol_seat, eq_lamp_type, instruction_seat, eq_control_point_address, eq_feedback_address1,
        eq_feedback_address2, eq_feedback_address3, eq_feedback_address4, eq_feedback_address5, create_by, create_time,
        update_by, update_time, remark, control_status from sd_devices
    </sql>



    <select id="selectSdDevicesList" parameterType="SdDevices" resultMap="SdDevicesResult">
        select a.eq_id, a.f_eq_id, a.eq_tunnel_id, a.eq_name, a.eq_type, a.eq_model, a.brand_id,
        <!-- a.brand_name, -->
        a.eq_direction,
        a.lane, a.pile, a.pile_num, a.lat, a.lng,a.ip, a.port, a.secure_key, a.eq_user, a.eq_pwd, a.protocol, a.protocol_url, a.protocol_version,
        a.protocol_name, a.data_type, a.data_source, a.delivery_time, a.warranty_end_time, a.install_time, a.use_life, a.use_status,a.is_monitor,
        a.port_status, a.port_status_time, a.gateway_netstatus, a.gateway_netstatus_time, a.eq_status, a.eq_status_time,
        a.dmcontrol_seat, a.eq_lamp_type, a.instruction_seat, a.eq_control_point_address, a.eq_feedback_address1,
        a.eq_feedback_address2, a.eq_feedback_address3, a.eq_feedback_address4, a.eq_feedback_address5, a.create_by,
        a.create_time, a.update_by, a.update_time, a.remark, b.dept_id, c.dept_name, a.control_status
        from sd_devices a
        left join sd_tunnels b on a.eq_tunnel_id = b.tunnel_id
        left join sys_dept c on c.dept_id = b.dept_id
        <where>
            <if test="fEqId != null and fEqId != ''">
                and a.f_eq_id = #{fEqId}
            </if>
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqName != null  and eqName != ''">and a.eq_name like concat('%', #{eqName}, '%')</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
            <if test="eqLampType != null ">and a.eq_lamp_type = #{eqLampType}</if>
            <if test="lane != null  and lane != ''">and a.lane = #{lane}</if>
            <if test="eqStatus != null  and eqStatus != ''">and a.eq_status = #{eqStatus}</if>
            <if test="isMonitor != null ">and a.is_monitor = #{isMonitor}</if>
            <if test="eqDirection != null  and eqDirection != ''">and a.eq_direction = #{eqDirection}</if>
            <if test="protocol != null and protocol !=''">
                and a.protocol = #{protocol}
            </if>
            <if test="ip != null  and ip != ''">and a.ip = #{ip}</if>
            <if test="deptId != null ">
                AND (b.dept_id = #{deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{deptId},d.ancestors) ))
            </if>
            ${params.dataScope}
        </where>
    </select>

    <select id="selectSdDevicesById" parameterType="String" resultMap="SdDevicesResult">
        <include refid="selectSdDevicesVo"/>
        where eq_id = #{eqId}
    </select>

    <!--查询设备详情-->
    <select id="queryDeviceById" parameterType="String" resultType="java.util.Map">
        select a.eq_id eqId,a.eq_name eqName, a.f_eq_id fEqId,b.tunnel_id tunnelId, b.tunnel_name tunnelName,
        a.eq_type eqType,t.type_name typeName,s.dept_id deptId, s.dept_name deptName,
        a.eq_model eqModel, a.brand_id brandId,
        <!-- a.brand_name brandName, -->
        a.eq_direction eqDirection, a.lane, a.pile, a.pile_num pileNum, a.lat, a.lng,
        a.ip, a.port, a.secure_key secureKey, a.eq_user eqUser, a.eq_pwd eqPwd, a.protocol, a.protocol_url protocolUrl,
        a.protocol_version protocolVersion, a.protocol_name protocolName, a.data_type dataType, a.data_source dataSource,
        <!-- a.delivery_time, a.warranty_end_time, a.install_time, a.use_life, -->
    <!-- a.use_status, a.is_monitor,port_status, a.port_status_time, a.gateway_netstatus, a.gateway_netstatus_time,-->
    a.eq_status eqStatus,a.eq_status_time eqStatusTime,
        <!--  a.dmcontrol_seat, a.eq_lamp_type, a.instruction_seat, a.eq_control_point_address, a.eq_feedback_address1,
      a.eq_feedback_address2, a.eq_feedback_address3, a.eq_feedback_address4, a.eq_feedback_address5, -->
          a.create_by createBy, a.create_time createTime, a.update_by updateBy, a.update_time updateTime, a.remark
      <!-- a.control_status -->
     from sd_devices a
     left join sd_tunnels b on a.eq_tunnel_id = b.tunnel_id
     left join sd_equipment_type t on a.eq_type = t.type_id
     left join sys_dept s on s.dept_id = b.dept_id
     where eq_id = #{eqId}
</select>


<!-- 下拉查询 -->
    <select id="selectDropSdDevicesList" parameterType="SdDevices" resultMap="SdDevicesResult">
        select a.eq_id, a.f_eq_id, a.eq_tunnel_id,c.tunnel_name, a.eq_name, a.eq_type,d.type_name, a.eq_model, a.brand_id,
        <!-- a.brand_name, -->
        a.eq_direction,
        a.lane, a.pile, a.pile_num, a.lat, a.lng,a.ip, a.port, a.secure_key, a.eq_user, a.eq_pwd, a.protocol, a.protocol_url, a.protocol_version,
        a.protocol_name, a.data_type, a.data_source, a.delivery_time, a.warranty_end_time, a.install_time, a.use_life, a.use_status,a.is_monitor,
        a.port_status, a.port_status_time, a.gateway_netstatus, a.gateway_netstatus_time, a.eq_status, a.eq_status_time,
        a.dmcontrol_seat, a.eq_lamp_type, a.instruction_seat, a.eq_control_point_address, a.eq_feedback_address1,
        a.eq_feedback_address2, a.eq_feedback_address3, a.eq_feedback_address4, a.eq_feedback_address5, a.create_by,
        a.create_time, a.update_by, a.update_time, a.remark ,e.dept_name,c.dept_id,IFNULL(c.tunnel_address,'未配置') tunnel_address
        ,c.tunnel_name, a.control_status
        from sd_devices a
        left join sd_tunnels c on a.eq_tunnel_id = c.tunnel_id
        left join sd_equipment_type d on a.eq_type = d.type_id
        left join sys_dept e on e.dept_id = c.dept_id
        <where>
            <if test="fEqId != null and fEqId != ''">
                and a.f_eq_id = #{fEqId}
            </if>
            <if test="eqId != null and eqId != ''">and a.eq_id = #{eqId}</if>
            <if test="eqTunnelId != null and eqTunnelId != ''">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqName != null  and eqName != ''">and a.eq_name like concat('%', #{eqName}, '%')</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
            <if test="eqLampType != null and eqLampType != ''">and a.eq_lamp_type = #{eqLampType}</if>
            <if test="eqStatus != null  and eqStatus != ''">and a.eq_status = #{eqStatus}</if>
            <if test="eqDirection != null  and eqDirection != ''">and a.eq_direction = #{eqDirection}</if>
            <if test="lane != null  and lane != ''">and a.lane = #{lane}</if>
            <if test="isMonitor != null  ">and a.is_monitor = #{isMonitor}</if>
            <if test="protocol != null and protocol !=''">
                and a.protocol = #{protocol}
            </if>
            <if test="eqIds != null and eqIds.size()>0">
                AND a.eq_id IN
                <foreach item="item" index="index" collection="eqIds" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="deptId != null ">
                AND (c.dept_id = #{deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{deptId},d.ancestors) ))
            </if>
            ${params.dataScope}
        </where>
        order by a.create_time desc, a.update_time desc
    </select>




    <insert id="insertSdDevices" parameterType="SdDevices">
        insert into sd_devices
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eqId != null">eq_id,</if>
            <if test="fEqId != null">f_eq_id,</if>
            <if test="eqTunnelId != null">eq_tunnel_id,</if>
            <if test="eqName != null">eq_name,</if>
            <if test="eqType != null">eq_type,</if>
            <if test="eqModel != null">eq_model,</if>
            <if test="brandId != null">brand_id,</if>
            <!--<if test="brandName != null">brand_name,</if>-->
            <if test="eqDirection != null">eq_direction,</if>
            <if test="lane != null">lane,</if>
            <if test="pile != null">pile,</if>
            <if test="pileNum != null">pile_num,</if>
            <if test="lat != null">lat,</if>
            <if test="lng != null">lng,</if>
            <if test="ip != null">ip,</if>
            <if test="port != null">port,</if>
            <if test="secureKey != null">secure_key,</if>
            <if test="eqUser != null">eq_user,</if>
            <if test="eqPwd != null">eq_pwd,</if>
            <if test="protocol != null">protocol,</if>
            <if test="protocolUrl != null">protocol_url,</if>
            <if test="protocolVersion != null">protocol_version,</if>
            <if test="protocolName != null">protocol_name,</if>
            <if test="dataType != null">data_type,</if>
            <if test="dataSource != null">data_source,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="warrantyEndTime != null">warranty_end_time,</if>
            <if test="installTime != null">install_time,</if>
            <if test="useLife != null">use_life,</if>
            <if test="useStatus != null">use_status,</if>
            <if test="isMonitor!= null">is_monitor,</if>
            <if test="portStatus != null">port_status,</if>
            <if test="portStatusTime != null">port_status_time,</if>
            <if test="gatewayNetstatus != null">gateway_netstatus,</if>
            <if test="gatewayNetstatusTime != null">gateway_netstatus_time,</if>
            <if test="eqStatus != null">eq_status,</if>
            <if test="eqStatusTime != null">eq_status_time,</if>
            <if test="dmcontrolSeat != null">dmcontrol_seat,</if>
            <if test="eqLampType != null">eq_lamp_type,</if>
            <if test="instructionSeat != null">instruction_seat,</if>
            <if test="eqControlPointAddress != null">eq_control_point_address,</if>
            <if test="eqFeedbackAddress1 != null">eq_feedback_address1,</if>
            <if test="eqFeedbackAddress2 != null">eq_feedback_address2,</if>
            <if test="eqFeedbackAddress3 != null">eq_feedback_address3,</if>
            <if test="eqFeedbackAddress4 != null">eq_feedback_address4,</if>
            <if test="eqFeedbackAddress5 != null">eq_feedback_address5,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="controlStatus != null">control_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eqId != null">#{eqId},</if>
            <if test="fEqId != null">#{fEqId},</if>
            <if test="eqTunnelId != null">#{eqTunnelId},</if>
            <if test="eqName != null">#{eqName},</if>
            <if test="eqType != null">#{eqType},</if>
            <if test="eqModel != null">#{eqModel},</if>
            <if test="brandId != null">#{brandId},</if>
           <!-- <if test="brandName != null">#{brandName},</if> -->
            <if test="eqDirection != null">#{eqDirection},</if>
            <if test="lane != null">#{lane},</if>
            <if test="pile != null">#{pile},</if>
            <if test="pileNum != null">#{pileNum},</if>
            <if test="lat != null">#{lat},</if>
            <if test="lng != null">#{lng},</if>
            <if test="ip != null">#{ip},</if>
            <if test="port != null">#{port},</if>
            <if test="secureKey != null">#{secureKey},</if>
            <if test="eqUser != null">#{eqUser},</if>
            <if test="eqPwd != null">#{eqPwd},</if>
            <if test="protocol != null">#{protocol},</if>
            <if test="protocolUrl != null">#{protocolUrl},</if>
            <if test="protocolVersion != null">#{protocolVersion},</if>
            <if test="protocolName != null">#{protocolName},</if>
            <if test="dataType != null">#{dataType},</if>
            <if test="dataSource != null">#{dataSource},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="warrantyEndTime != null">#{warrantyEndTime},</if>
            <if test="installTime != null">#{installTime},</if>
            <if test="useLife != null">#{useLife},</if>
            <if test="useStatus != null">#{useStatus},</if>
            <if test="isMonitor!= null">#{isMonitor},</if>
            <if test="portStatus != null">#{portStatus},</if>
            <if test="portStatusTime != null">#{portStatusTime},</if>
            <if test="gatewayNetstatus != null">#{gatewayNetstatus},</if>
            <if test="gatewayNetstatusTime != null">#{gatewayNetstatusTime},</if>
            <if test="eqStatus != null">#{eqStatus},</if>
            <if test="eqStatusTime != null">#{eqStatusTime},</if>
            <if test="dmcontrolSeat != null">#{dmcontrolSeat},</if>
            <if test="eqLampType != null">#{eqLampType},</if>
            <if test="instructionSeat != null">#{instructionSeat},</if>
            <if test="eqControlPointAddress != null">#{eqControlPointAddress},</if>
            <if test="eqFeedbackAddress1 != null">#{eqFeedbackAddress1},</if>
            <if test="eqFeedbackAddress2 != null">#{eqFeedbackAddress2},</if>
            <if test="eqFeedbackAddress3 != null">#{eqFeedbackAddress3},</if>
            <if test="eqFeedbackAddress4 != null">#{eqFeedbackAddress4},</if>
            <if test="eqFeedbackAddress5 != null">#{eqFeedbackAddress5},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="controlStatus != null">#{controlStatus},</if>
         </trim>
    </insert>

    <update id="updateSdDevices" parameterType="SdDevices">
        update sd_devices
        <trim prefix="SET" suffixOverrides=",">
            <if test="fEqId != null">f_eq_id = #{fEqId},</if>
            <if test="eqTunnelId != null">eq_tunnel_id = #{eqTunnelId},</if>
            <if test="eqName != null">eq_name = #{eqName},</if>
            <if test="eqType != null">eq_type = #{eqType},</if>
            <if test="eqModel != null">eq_model = #{eqModel},</if>
            <if test="brandId != null">brand_id = #{brandId},</if>
           <!-- <if test="brandName != null">brand_name = #{brandName},</if> -->
            <if test="eqDirection != null">eq_direction = #{eqDirection},</if>
            <if test="lane != null">lane = #{lane},</if>
            <if test="pile != null">pile = #{pile},</if>
            <if test="pileNum != null">pile_num = #{pileNum},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="lng != null">lng = #{lng},</if>
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="secureKey != null">secure_key = #{secureKey},</if>
            <if test="eqUser != null">eq_user = #{eqUser},</if>
            <if test="eqPwd != null">eq_pwd = #{eqPwd},</if>
            <if test="protocol != null">protocol = #{protocol},</if>
            <if test="protocolUrl != null">protocol_url = #{protocolUrl},</if>
            <if test="protocolVersion != null">protocol_version = #{protocolVersion},</if>
            <if test="protocolName != null">protocol_name = #{protocolName},</if>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="dataSource != null">data_source = #{dataSource},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="warrantyEndTime != null">warranty_end_time = #{warrantyEndTime},</if>
            <if test="installTime != null">install_time = #{installTime},</if>
            <if test="useLife != null">use_life = #{useLife},</if>
            <if test="useStatus != null">use_status = #{useStatus},</if>
            <if test="isMonitor != null">is_monitor = #{isMonitor},</if>
            <if test="portStatus != null">port_status = #{portStatus},</if>
            <if test="portStatusTime != null">port_status_time = #{portStatusTime},</if>
            <if test="gatewayNetstatus != null">gateway_netstatus = #{gatewayNetstatus},</if>
            <if test="gatewayNetstatusTime != null">gateway_netstatus_time = #{gatewayNetstatusTime},</if>
            <if test="eqStatus != null">eq_status = #{eqStatus},</if>
            <if test="eqStatusTime != null">eq_status_time = #{eqStatusTime},</if>
            <if test="dmcontrolSeat != null">dmcontrol_seat = #{dmcontrolSeat},</if>
            <if test="eqLampType != null">eq_lamp_type = #{eqLampType},</if>
            <if test="instructionSeat != null">instruction_seat = #{instructionSeat},</if>
            <if test="eqControlPointAddress != null">eq_control_point_address = #{eqControlPointAddress},</if>
            <if test="eqFeedbackAddress1 != null">eq_feedback_address1 = #{eqFeedbackAddress1},</if>
            <if test="eqFeedbackAddress2 != null">eq_feedback_address2 = #{eqFeedbackAddress2},</if>
            <if test="eqFeedbackAddress3 != null">eq_feedback_address3 = #{eqFeedbackAddress3},</if>
            <if test="eqFeedbackAddress4 != null">eq_feedback_address4 = #{eqFeedbackAddress4},</if>
            <if test="eqFeedbackAddress5 != null">eq_feedback_address5 = #{eqFeedbackAddress5},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="controlStatus != null">control_status = #{controlStatus},</if>
        </trim>
        where eq_id = #{eqId}
    </update>
    <update id="updateSdDevicesBatch">
        update sd_devices
        set eq_status = #{eqStatus}
        where eq_id = #{eqId}
    </update>

    <update id="updateSdDevicesByFEqId">
        update sd_devices
        set eq_status = #{eqStatus}, eq_status_time = #{eqStatusTime}
        where f_eq_id = #{fEqId}
    </update>

    <!--    <update id="updateSdDevicesBatch">-->
<!--        <foreach collection="list" item="item" index="index" open="" close="" separator=",">-->
<!--            update sd_devices-->
<!--            set eq_status = #{item.eqStatus}-->
<!--            where eq_id = #{item.eqId}-->
<!--        </foreach>-->
<!--    </update>-->


    <delete id="deleteSdDevicesById" parameterType="String">
        delete from sd_devices where eq_id = #{eqId}
    </delete>

    <delete id="deleteSdDevicesByIds" parameterType="String">
        delete from sd_devices where eq_id in
        <foreach item="eqId" collection="array" open="(" separator="," close=")">
            #{eqId}
        </foreach>
    </delete>

    <!-- 通过隧道id查询设备类型 -->
    <select id="selectSdDevicesByTunnelId" parameterType="SdDevices" resultMap="SdDevicesResult">
        SELECT DISTINCT b.type_name, a.eq_type, a.eq_tunnel_id, a.eq_Name
        FROM sd_devices a
        LEFT JOIN sd_equipment_type b ON a.eq_type = b.type_id
        <where>
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
        </where>
    </select>

    <!-- 查询每种设备类型对应的数量 -->
    <select id="selectTypeNameCount" resultType="int" >
        SELECT COUNT(1) FROM sd_devices a
        LEFT JOIN sd_equipment_type b ON a.eq_type = b.type_id
        <where>
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
        </where>
    </select>


    <!-- 根据设备类型查询设备列表 -->
    <select id="selectEqListByEqTypes" resultMap="SdDevicesResult">
        <include refid="selectSdDevicesVo"/>
         WHERE eq_type in
        <foreach collection="array" item="eqTypes" index="index" open="(" separator="," close=")">
            #{eqTypes}
        </foreach>
    </select>

    <select id="selectSensorList" resultMap="SdDevicesResult">
        select a.eq_id, a.eq_type, b.type_name, a.eq_tunnel_id, c.tunnel_name
        from sd_devices a
                 LEFT JOIN sd_equipment_type b ON a.eq_type = b.type_id
                 LEFT JOIN sd_tunnels c ON a.eq_tunnel_id = c.tunnel_id
        where a.eq_type in (5,6,14,15,16,20)
    </select>

    <select id="selectSensorListByTunnelId" resultMap="SdDevicesResult">
        select a.eq_id, a.eq_name, a.pile, a.eq_type, a.eq_direction ,b.type_name, a.eq_tunnel_id, c.tunnel_name
        from sd_devices a
        LEFT JOIN sd_equipment_type b ON a.eq_type = b.type_id
        LEFT JOIN sd_tunnels c ON a.eq_tunnel_id = c.tunnel_id
        <where>
            a.eq_type in (5,6,14,13,15,16,20)
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="direction != null ">and a.eq_direction = #{direction}</if>
        </where>
    </select>

    <select id="selectRippleListByTunnelId" resultMap="SdDevicesResult">
        select a.eq_id, a.eq_type, a.eq_direction ,b.type_name, a.eq_tunnel_id, c.tunnel_name
        from sd_devices a
        LEFT JOIN sd_equipment_type b ON a.eq_type = b.type_id
        LEFT JOIN sd_tunnels c ON a.eq_tunnel_id = c.tunnel_id
        <where>
            a.eq_type in (108)
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="direction != null ">and a.eq_direction = #{direction}</if>
        </where>
    </select>

    <select id="getAllPressureGaugesMsg" resultMap="SdDevicesResult">
        select a.* from sd_devices a
                            left join sd_tunnels b on b.tunnel_id = a.eq_tunnel_id
        where eq_type = 111
    </select>

    <select id="getDevicesStatus" resultType="hashmap">
        SELECT a.eq_type,b.type_name,count(case when a.device_state=0 then 0 end) as offlineOfToday,
        count(case when a.eq_status=1 then 1 end) as onlineOfToday
        from sd_devices a
        left join sd_equipment_type b on a.eq_type = b.type_id
        where 1=1
        <if test="tunnelId != null ">and a.eq_tunnel_id = #{tunnelId}</if>
        GROUP BY eq_type
    </select>

    <select id="getDevicesType" resultType="hashmap">
        SELECT a.eq_type,b.type_name from sd_devices a
        left join sd_equipment_type b on a.eq_type = b.type_id
        <where>
            <if test="tunnelId != null ">and a.eq_tunnel_id = #{tunnelId}</if>
        </where>
        GROUP BY a.eq_type
    </select>
    <select id="selectID" resultType="java.lang.String">
        select eq_id from sd_devices where eq_id like CONCAT(#{ss},'%')
    </select>
    <select id="selectList" resultType="com.tunnel.platform.domain.dataInfo.SdEquipmentType">
        select * from sd_equipment_type
    </select>
    <select id="selectCarFingerById" resultMap="SdDevicesResult">
        select * from sd_devices
        where eq_type = 1
        <if test="eqTunnelId != null">and eq_tunnel_id = #{eqTunnelId}</if>
        <if test="lane != null">and lane = #{lane} </if>
        <if test="eqDirection != null">and eq_direction = #{eqDirection} </if>
    </select>

    <select id="selectIsControlSdDevicesList" parameterType="SdDevices" resultMap="SdDevicesResult">
        select a.eq_id, a.f_eq_id,c.tunnel_id,c.tunnel_name, a.eq_name, a.eq_type,d.type_name, a.eq_model, a.brand_id,a.eq_tunnel_id,
        <!-- a.brand_name, -->
        a.eq_direction,
        a.lane, a.pile, a.pile_num, a.lat, a.lng,a.ip, a.port, a.secure_key, a.eq_user, a.eq_pwd, a.protocol, a.protocol_url, a.protocol_version,
        a.protocol_name, a.data_type, a.data_source, a.delivery_time, a.warranty_end_time, a.install_time, a.use_life, a.use_status,a.is_monitor,
        a.port_status, a.port_status_time, a.gateway_netstatus, a.gateway_netstatus_time, a.eq_status, a.eq_status_time,
        a.dmcontrol_seat, a.eq_lamp_type, a.instruction_seat, a.eq_control_point_address, a.eq_feedback_address1,
        a.eq_feedback_address2, a.eq_feedback_address3, a.eq_feedback_address4, a.eq_feedback_address5, a.create_by,
        a.create_time, a.update_by, a.update_time, a.remark ,e.dept_name,c.dept_id,IFNULL(c.tunnel_address,'未配置') tunnel_address
        ,c.tunnel_name, a.control_status
        from sd_devices a
        left join sd_tunnels c on a.eq_tunnel_id = c.tunnel_id
        left join sd_equipment_type d on a.eq_type = d.type_id
        left join sys_dept e on e.dept_id = c.dept_id
        where  d.is_control = 1

            <if test="fEqId != null and fEqId != ''">
                and a.f_eq_id = #{fEqId}
            </if>
            <if test="eqTunnelId != null ">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqName != null  and eqName != ''">and a.eq_name like concat('%', #{eqName}, '%')</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
            <if test="eqLampType != null ">and a.eq_lamp_type = #{eqLampType}</if>
            <if test="lane != null  and lane != ''">and a.lane = #{lane}</if>
            <if test="eqStatus != null  and eqStatus != ''">and a.eq_status = #{eqStatus}</if>
            <if test="isMonitor != null ">and a.is_monitor = #{isMonitor}</if>
            <if test="eqDirection != null  and eqDirection != ''">and a.eq_direction = #{eqDirection}</if>
            <if test="protocol != null and protocol !=''">
                and a.protocol = #{protocol}
            </if>
            <if test="deptId != null ">
                AND (c.dept_id = #{deptId} OR c.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{deptId},d.ancestors) ))
            </if>
            ${params.dataScope}
        GROUP BY a.eq_name
    </select>

    <select id="selectDeviceByTidEqtp" resultMap="SdDevicesResult">
        select eq_id,eq_type,ip,eq_tunnel_id,eq_status
        from sd_devices
        where eq_tunnel_id=#{tunnelId}
        and eq_type in (#{lidarType},#{cameraType})
        and ip in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.ip}
        </foreach>
    </select>

    <select id="selecTunnelId" resultType="java.lang.String">
        select eq_tunnel_id tunnelId
        from sd_devices
        where eq_id=#{deviceId}
    </select>

    <select id="selectDevice" resultMap="SdDevicesResult">
        select eq_id,eq_type,eq_name,eq_status,lng,lat,eq_direction,pile,remark
        from sd_devices
        where eq_tunnel_id =#{tunnelId}
    </select>

    <select id="selectDeviceByHost" resultType="String">
        select a.eq_id from sd_firefighting_components_address a
        where host = #{host} and eq_loop = #{loop} and address = #{address}
    </select>

    <select id="selectDeviceByHost" resultType="String">
        select a.eq_id from sd_firefighting_components_address a
        where host = #{host} and eq_id = #{eqId}
    </select>

    <select id="getDevicesByTypeAndTunnel" parameterType="SdDevices" resultType="hashmap">
        select a.eq_id as eqId, a.eq_tunnel_id as eqTunnelId, a.eq_name as eqName, a.eq_type as eqType,
              a.pile
        from sd_devices a
        left join sd_equipment_type b on a.eq_type = b.type_id
        <where>
            <if test="eqTunnelId != null and eqTunnelId != ''">and a.eq_tunnel_id = #{eqTunnelId}</if>
            <if test="eqType != null ">and a.eq_type = #{eqType}</if>
        </where>
        order by a.create_time desc, a.update_time desc
    </select>

    <select id="selectEqStatus" resultType="java.lang.String">
       select eq_status deviceStatus from sd_devices
        where eq_id=#{deviceId}
    </select>

    <select id="selectDataUnit" resultType="com.tunnel.platform.domain.digitalmodel.SdDeviceDataItem">
        select
        sdd.data data,
        sdt.unit unit,
        sdd.device_id deviceId
        from sd_device_data sdd
        left join sd_device_type_item sdt on
        sdd.item_id=sdt.id
        where device_id=#{eqId}
    </select>

    <select id="selectFireComponentsList" parameterType="SdDevices" resultMap="SdDevicesResult">
        select * from sd_devices where f_eq_id = #{fEqId}
    </select>
</mapper>
