<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdEquipmentOperationRecordMapper">

    <resultMap type="SdEquipmentOperationRecord" id="SdEquipmentOperationRecordResult">
        <result property="id"    column="id"    />
        <result property="equipmentNumber"    column="equipment_number"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="brand"    column="brand"    />
        <result property="model"    column="model"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="equipmentStatus"    column="equipment_status"    />
        <result property="acquisitionTime"    column="acquisition_time"    />
        <result property="electricCurrent"    column="electric_current"    />
        <result property="frequency"    column="frequency"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remake"    column="remake"    />
        <result property="remake1"    column="remake1"    />
        <result property="remake2"    column="remake2"    />
        <result property="tunnelName" column="tunnel_name" />
    </resultMap>

    <sql id="selectSdEquipmentOperationRecordVo">
        select id, equipment_number, equipment_name, brand, model, tunnel_id, equipment_status, acquisition_time, electric_current, frequency, update_time, remake, remake1, remake2 from sd_equipment_operation_record
    </sql>

    <select id="selectSdEquipmentOperationRecordList" parameterType="SdEquipmentOperationRecord" resultMap="SdEquipmentOperationRecordResult">
        select a.id, a.equipment_number, a.equipment_name, a.brand, a.model, a.tunnel_id, a.equipment_status, a.acquisition_time,
        a.electric_current, a.frequency, a.update_time, a.remake, a.remake1, a.remake2, b.tunnel_name
        from sd_equipment_operation_record a
        left join sd_tunnels b on a.tunnel_id = b.tunnel_id
        <where>
            <if test="equipmentNumber != null  and equipmentNumber != ''"> and a.equipment_number = #{equipmentNumber}</if>
            <if test="equipmentName != null  and equipmentName != ''"> and a.equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="brand != null  and brand != ''"> and a.brand = #{brand}</if>
            <if test="model != null  and model != ''"> and a.model = #{model}</if>
            <if test="tunnelId != null  and tunnelId != ''"> and a.tunnel_id = #{tunnelId}</if>
            <if test="equipmentStatus != null  and equipmentStatus != ''"> and a.equipment_status = #{equipmentStatus}</if>
            <if test="acquisitionTime != null "> and a.acquisition_time = #{acquisitionTime}</if>
            <if test="electricCurrent != null  and electricCurrent != ''"> and a.electric_current = #{electricCurrent}</if>
            <if test="frequency != null  and frequency != ''"> and a.frequency = #{frequency}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (b.dept_id = #{params.deptId} OR b.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdEquipmentOperationRecordById" parameterType="Long" resultMap="SdEquipmentOperationRecordResult">
        <include refid="selectSdEquipmentOperationRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdEquipmentOperationRecord" parameterType="SdEquipmentOperationRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sd_equipment_operation_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentNumber != null">equipment_number,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="brand != null">brand,</if>
            <if test="model != null">model,</if>
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="equipmentStatus != null">equipment_status,</if>
            <if test="acquisitionTime != null">acquisition_time,</if>
            <if test="electricCurrent != null">electric_current,</if>
            <if test="frequency != null">frequency,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remake != null">remake,</if>
            <if test="remake1 != null">remake1,</if>
            <if test="remake2 != null">remake2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentNumber != null">#{equipmentNumber},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="brand != null">#{brand},</if>
            <if test="model != null">#{model},</if>
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="equipmentStatus != null">#{equipmentStatus},</if>
            <if test="acquisitionTime != null">#{acquisitionTime},</if>
            <if test="electricCurrent != null">#{electricCurrent},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remake != null">#{remake},</if>
            <if test="remake1 != null">#{remake1},</if>
            <if test="remake2 != null">#{remake2},</if>
         </trim>
    </insert>

    <update id="updateSdEquipmentOperationRecord" parameterType="SdEquipmentOperationRecord">
        update sd_equipment_operation_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentNumber != null">equipment_number = #{equipmentNumber},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="model != null">model = #{model},</if>
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="equipmentStatus != null">equipment_status = #{equipmentStatus},</if>
            <if test="acquisitionTime != null">acquisition_time = #{acquisitionTime},</if>
            <if test="electricCurrent != null">electric_current = #{electricCurrent},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remake != null">remake = #{remake},</if>
            <if test="remake1 != null">remake1 = #{remake1},</if>
            <if test="remake2 != null">remake2 = #{remake2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEquipmentOperationRecordById" parameterType="Long">
        delete from sd_equipment_operation_record where id = #{id}
    </delete>

    <delete id="deleteSdEquipmentOperationRecordByIds" parameterType="String">
        delete from sd_equipment_operation_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
