<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdEquipmentStateMapper">

    <resultMap type="SdEquipmentState" id="SdEquipmentStateResult">
        <result property="id"    column="id"    />
        <result property="stateTypeId"    column="state_type_id"    />
        <result property="stateType" column="state_type" />
        <result property="deviceState"    column="device_state"    />
        <result property="stateName"    column="state_name"    />
        <result property="stateNames"  column="stateNames" />
        <result property="isControl"    column="is_control"    />
        <result property="iconFileId"    column="icon_file_id"    />
        <result property="sort" column="sort" />
        <association property="typeName"  column="type_id" javaType="SdEquipmentType" resultMap="eqStateEqTypeResult" />
    </resultMap>

    <resultMap id="eqStateEqTypeResult" type="SdEquipmentType">
		<id  property="typeId" column="type_id" />
		<result property="typeName" column="type_name"   />
	</resultMap>

    <sql id="selectSdEquipmentStateVo">
        select id, state_type_id, device_state, state_name, is_control ssc,icon_file_id from sd_equipment_state
    </sql>

    <select id="selectSdEquipmentStateList" parameterType="SdEquipmentState" resultMap="SdEquipmentStateResult">
        <include refid="selectSdEquipmentStateVo"/>
        <where>
            <if test="stateTypeId != null "> and state_type_id = #{stateTypeId}</if>
            <if test="stateType != null"> and state_type = #{stateType} </if>
            <if test="deviceState != null  and deviceState != ''"> and device_state = #{deviceState}</if>
            <if test="stateName != null  and stateName != ''"> and state_name like concat('%', #{stateName}, '%')</if>
            <!-- <if test="isControl != null  and isControl != ''"> and is_control like concat('%', #{isControl}, '%')</if> -->
            <if test="isControl != null "> and is_control = #{isControl}</if>
        </where>
    </select>

    <select id="selectIsControlList" parameterType="SdEquipmentState" resultMap="SdEquipmentStateResult">
        <include refid="selectSdEquipmentStateVo"/>
        <where>
            <if test="stateTypeId != null "> and state_type_id = #{stateTypeId}</if>
            <if test="deviceState != null  and deviceState != ''"> and device_state = #{deviceState}</if>
            <if test="stateName != null  and stateName != ''"> and state_name like concat('%', #{stateName}, '%')</if>
            and is_control = 1 and state_type = 2
        </where>
    </select>

    <select id="selectDropSdEquipmentStateListByTypeId" parameterType="SdEquipmentState" resultMap="SdEquipmentStateResult">
        select a.id, a.state_type_id, b.type_name, a.device_state, a.state_name, a.is_control,a.icon_file_id, a.state_type, a.sort
        from sd_equipment_state a
        left join sd_equipment_type b on a.state_type_id = b.type_id
        <where>
            <if test="stateTypeId != null "> and state_type_id = #{stateTypeId}</if>
            <if test="stateType != null"> and state_type = #{stateType} </if>
            <!-- <if test="deviceState != null  and deviceState != ''"> and device_state = #{deviceState}</if>-->
            <!-- <if test="stateName != null  and stateName != ''"> and state_name like concat('%', #{stateName}, '%')</if>-->
            <!-- <if test="isControl != null  and isControl != ''"> and is_control like concat('%', #{isControl}, '%')</if> -->
            <!-- <if test="isControl != null "> and a.is_control = #{isControl}</if> -->
        </where>
        order by a.sort asc
    </select>

    <select id="selectDropSdEquipmentStateList" parameterType="SdEquipmentState" resultMap="SdEquipmentStateResult">
        select a.id, a.state_type_id, b.type_name, a.device_state, a.state_name , a.is_control ,a.icon_file_id, a.state_type
        from sd_equipment_state a
        left join sd_equipment_type b on a.state_type_id = b.type_id
        <where>
            <if test="stateTypeId != null "> and state_type_id = #{stateTypeId}</if>
            <if test="stateType != null"> and state_type = #{stateType} </if>
            <if test="deviceState != null  and deviceState != ''"> and device_state = #{deviceState}</if>
            <if test="stateName != null  and stateName != ''"> and state_name like concat('%', #{stateName}, '%')</if>
            <!-- <if test="isControl != null  and isControl != ''"> and is_control like concat('%', #{isControl}, '%')</if> -->
            <if test="isControl != null "> and a.is_control = #{isControl}</if>
        </where>

    </select>

    <select id="selectSdEquipmentStateListGroupByStateType" parameterType="SdEquipmentState" resultMap="SdEquipmentStateResult">
        select a.id, a.state_type_id, b.type_name, a.device_state, a.state_name , a.is_control ,a.icon_file_id, a.state_type
        from sd_equipment_state a
        left join sd_equipment_type b on a.state_type_id = b.type_id
        <where>
            <if test="stateTypeId != null "> and state_type_id = #{stateTypeId}</if>
            <if test="stateType != null"> and state_type = #{stateType} </if>
            <if test="deviceState != null  and deviceState != ''"> and device_state = #{deviceState}</if>
            <!-- <if test="stateName != null  and stateName != ''"> and state_name like concat('%', #{stateName}, '%')</if> -->
            <!-- <if test="isControl != null  and isControl != ''"> and is_control like concat('%', #{isControl}, '%')</if> -->
            <if test="isControl != null "> and a.is_control = #{isControl}</if>
        </where>
        order by a.sort asc
    </select>

    <!--查询设备类型状态列表（按设备类型分组查询）-->
    <select id="getGroupList" parameterType="SdEquipmentState" resultType="java.util.Map">
        select b.type_id typeId, b.type_name typeName, GROUP_CONCAT( a.state_name SEPARATOR ',' ) stateNames, a.state_type stateType, a.sort sort
        from sd_equipment_type b
        left join sd_equipment_state a
        on a.state_type_id = b.type_id
        <where>
            <if test="stateTypeId != null "> and b.type_id = #{stateTypeId}</if>
        </where>
        group by b.type_id,a.state_type
    </select>

    <select id="selectSdEquipmentStateById" parameterType="Long" resultMap="SdEquipmentStateResult">
        <include refid="selectSdEquipmentStateVo"/>
        where id = #{id}
    </select>

    <insert id="insertSdEquipmentState" parameterType="SdEquipmentState">
        insert into sd_equipment_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stateTypeId != null">state_type_id,</if>
            <if test="deviceState != null">device_state,</if>
            <if test="stateName != null">state_name,</if>
            <if test="isControl != null">is_control,</if>
             <if test="iconFileId != null">icon_file_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="stateTypeId != null">#{stateTypeId},</if>
            <if test="deviceState != null">#{deviceState},</if>
            <if test="stateName != null">#{stateName},</if>
            <if test="isControl != null">#{isControl},</if>
            <if test="iconFileId != null">#{iconFileId},</if>
         </trim>
    </insert>

    <insert id="insertSdEquipmentStateList" parameterType="List">
        insert into sd_equipment_state(state_type_id,state_type,device_state,state_name,is_control,icon_file_id,sort)
        values
        <foreach collection="list"  separator="," item="state" index="index">
            (
                #{state.stateTypeId},
                #{state.stateType},
                #{state.deviceState},
                #{state.stateName},
                #{state.isControl},
                #{state.iconFileId},
                #{state.sort}
            )
        </foreach>
    </insert>

    <update id="updateSdEquipmentState" parameterType="SdEquipmentState">
        update sd_equipment_state
        <trim prefix="SET" suffixOverrides=",">
            <if test="stateTypeId != null">state_type_id = #{stateTypeId},</if>
            <if test="stateType != null">state_type = #{stateType},</if>
            <if test="deviceState != null">device_state = #{deviceState},</if>
            <if test="stateName != null">state_name = #{stateName},</if>
            <if test="isControl != null">is_control = #{isControl},</if>
            <if test="iconFileId != null">icon_file_id = #{iconFileId},</if>
            <if test="sort != null">sort = #{sort}</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateSdEquipmentStates" parameterType="list">
        update sd_equipment_state
        <foreach collection="sdEquipmentStates" item="state" index="index">
            <if test="state.stateTypeId != null">state_type_id = #{state.stateTypeId},</if>
            <if test="state.stateType != null">state_type = #{state.stateType},</if>
            <if test="state.deviceState != null">device_state = #{state.deviceState},</if>
            <if test="state.stateName != null">state_name = #{state.stateName},</if>
            <if test="state.isControl != null">is_control = #{state.isControl},</if>
            <if test="state.iconFileId != null">icon_file_id = #{state.iconFileId},</if>
        </foreach>
        where id = #{id}
    </update>

    <delete id="deleteSdEquipmentStateById" parameterType="Long">
        delete from sd_equipment_state where id = #{id}
    </delete>

    <delete id="deleteSdEquipmentStateByIds" parameterType="String">
        delete from sd_equipment_state where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSdEquipmentStateByTypeId" resultType="SdEquipmentState">
        select id, state_type_id, state_type,device_state, state_name, is_control, icon_file_id from sd_equipment_state
        where state_type_id = #{typeId}
    </select>

    <delete id="deleteSdEquipmentStateByTypeId" parameterType="Long">
        delete from sd_equipment_state where state_type_id in
        <foreach collection="array" open="(" close=")" separator="," item="typeId">
            #{typeId}
        </foreach>
    </delete>

</mapper>
