<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdEventControlMapper">
    
    <resultMap type="SdEventControl" id="SdEventControlResult">
        <result property="id"    column="id"    />
        <result property="tunnelId"    column="tunnel_id"    />
        <result property="eventName"    column="event_name"    />
        <result property="configurationId"    column="configuration_id"    />
        <result property="timeOfOccurrence"    column="time_of_occurrence"    />
        <result property="locationOfOccurrence"    column="location_of_occurrence"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remake"    column="remake"    />
        <result property="remake1"    column="remake1"    />
        <result property="remake2"    column="remake2"    />
        <association property="eventConfiguration" column="id" javaType="SdEventControlConfiguration" resultMap="configurationResult"/>
    </resultMap>

    <resultMap id="configurationResult" type="SdEventControlConfiguration">
        <id property="id" column="id"/>
        <result property="eventType"    column="event_type"    />
        <result property="eventLevel"    column="event_level"    />
        <result property="eventMeasures"    column="event_measures"    />
    </resultMap>

    <sql id="selectSdEventControlVo">
        select id, tunnel_id, event_name, configuration_id, time_of_occurrence, location_of_occurrence, create_time, create_by, update_time, update_by, remake, remake1, remake2 from sd_event_control
    </sql>

    <select id="selectSdEventControlList" parameterType="SdEventControl" resultMap="SdEventControlResult">
        select id, tunnel_id, event_name, configuration_id, time_of_occurrence, location_of_occurrence, create_time,
               create_by, update_time, update_by, remake, remake1, remake2 from sd_event_control
        <where>  
            <if test="tunnelId != null  and tunnelId != ''"> and tunnel_id = #{tunnelId}</if>
            <if test="eventName != null  and eventName != ''"> and event_name like concat('%', #{eventName}, '%')</if>
            <if test="configurationId != null  and configurationId != ''"> and configuration_id = #{configurationId}</if>
            <if test="timeOfOccurrence != null "> and time_of_occurrence = #{timeOfOccurrence}</if>
            <if test="locationOfOccurrence != null  and locationOfOccurrence != ''"> and location_of_occurrence = #{locationOfOccurrence}</if>
            <if test="remake != null  and remake != ''"> and remake = #{remake}</if>
            <if test="remake1 != null  and remake1 != ''"> and remake1 = #{remake1}</if>
            <if test="remake2 != null  and remake2 != ''"> and remake2 = #{remake2}</if>
        </where>
    </select>
    
    <select id="selectSdEventControlById" parameterType="Long" resultMap="SdEventControlResult">
        <include refid="selectSdEventControlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEventControl" parameterType="SdEventControl" useGeneratedKeys="true" keyProperty="id">
        insert into sd_event_control
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id,</if>
            <if test="eventName != null">event_name,</if>
            <if test="configurationId != null">configuration_id,</if>
            <if test="timeOfOccurrence != null">time_of_occurrence,</if>
            <if test="locationOfOccurrence != null">location_of_occurrence,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remake != null">remake,</if>
            <if test="remake1 != null">remake1,</if>
            <if test="remake2 != null">remake2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tunnelId != null">#{tunnelId},</if>
            <if test="eventName != null">#{eventName},</if>
            <if test="configurationId != null">#{configurationId},</if>
            <if test="timeOfOccurrence != null">#{timeOfOccurrence},</if>
            <if test="locationOfOccurrence != null">#{locationOfOccurrence},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remake != null">#{remake},</if>
            <if test="remake1 != null">#{remake1},</if>
            <if test="remake2 != null">#{remake2},</if>
         </trim>
    </insert>

    <update id="updateSdEventControl" parameterType="SdEventControl">
        update sd_event_control
        <trim prefix="SET" suffixOverrides=",">
            <if test="tunnelId != null">tunnel_id = #{tunnelId},</if>
            <if test="eventName != null">event_name = #{eventName},</if>
            <if test="configurationId != null">configuration_id = #{configurationId},</if>
            <if test="timeOfOccurrence != null">time_of_occurrence = #{timeOfOccurrence},</if>
            <if test="locationOfOccurrence != null">location_of_occurrence = #{locationOfOccurrence},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remake != null">remake = #{remake},</if>
            <if test="remake1 != null">remake1 = #{remake1},</if>
            <if test="remake2 != null">remake2 = #{remake2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEventControlById" parameterType="Long">
        delete from sd_event_control where id = #{id}
    </delete>

    <delete id="deleteSdEventControlByIds" parameterType="String">
        delete from sd_event_control where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>