<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdEventDetectionMapper">
    
    <resultMap type="SdEventDetection" id="SdEventDetectionResult">
        <result property="id"    column="id"    />
        <result property="cameraId"    column="camera_id"    />
        <result property="direction"    column="direction"    />
        <result property="road"    column="road"    />
        <result property="datatype"    column="dataType"    />
        <result property="eventtype"    column="eventType"    />
        <result property="eventVideoFtpAddress"    column="event_video_ftp_address"    />
        <result property="eventPicFtpAddress"    column="event_pic_ftp_address"    />
        <result property="camName"    column="cam_name"    />
        <result property="tunnelName"    column="tunnel_name"    />
    </resultMap>

    <sql id="selectSdEventDetectionVo">
        select id, camera_id, direction, road, dataType, eventType, event_video_ftp_address, event_pic_ftp_address from sd_event_detection
    </sql>

    <select id="selectSdEventDetectionList" parameterType="SdEventDetection" resultMap="SdEventDetectionResult">
        select e.id, e.camera_id, e.direction, e.road, e.dataType, e.eventType, e.event_video_ftp_address, e.event_pic_ftp_address, c.cam_name, t.tunnel_name 
        from sd_event_detection e left join sd_camera_details c on e.camera_id = c.cam_id left join sd_tunnels t on c.tunnel_id = t.tunnel_id
        <where>  
            <if test="cameraId != null  and cameraId != ''"> and e.camera_id = #{cameraId}</if>
            <if test="direction != null  and direction != ''"> and e.direction = #{direction}</if>
            <if test="road != null  and road != ''"> and e.road = #{road}</if>
            <if test="datatype != null  and datatype != ''"> and e.dataType = #{datatype}</if>
            <if test="eventtype != null  and eventtype != ''"> and e.eventType = #{eventtype}</if>
            <if test="eventVideoFtpAddress != null  and eventVideoFtpAddress != ''"> and e.event_video_ftp_address = #{eventVideoFtpAddress}</if>
            <if test="eventPicFtpAddress != null  and eventPicFtpAddress != ''"> and e.event_pic_ftp_address = #{eventPicFtpAddress}</if>
        </where>
    </select>
    
    <select id="selectSdEventDetectionById" parameterType="Long" resultMap="SdEventDetectionResult">
        <include refid="selectSdEventDetectionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdEventDetection" parameterType="SdEventDetection" useGeneratedKeys="true" keyProperty="id">
        insert into sd_event_detection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cameraId != null">camera_id,</if>
            <if test="direction != null">direction,</if>
            <if test="road != null">road,</if>
            <if test="datatype != null">dataType,</if>
            <if test="eventtype != null">eventType,</if>
            <if test="eventVideoFtpAddress != null">event_video_ftp_address,</if>
            <if test="eventPicFtpAddress != null">event_pic_ftp_address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cameraId != null">#{cameraId},</if>
            <if test="direction != null">#{direction},</if>
            <if test="road != null">#{road},</if>
            <if test="datatype != null">#{datatype},</if>
            <if test="eventtype != null">#{eventtype},</if>
            <if test="eventVideoFtpAddress != null">#{eventVideoFtpAddress},</if>
            <if test="eventPicFtpAddress != null">#{eventPicFtpAddress},</if>
         </trim>
    </insert>

    <update id="updateSdEventDetection" parameterType="SdEventDetection">
        update sd_event_detection
        <trim prefix="SET" suffixOverrides=",">
            <if test="cameraId != null">camera_id = #{cameraId},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="road != null">road = #{road},</if>
            <if test="datatype != null">dataType = #{datatype},</if>
            <if test="eventtype != null">eventType = #{eventtype},</if>
            <if test="eventVideoFtpAddress != null">event_video_ftp_address = #{eventVideoFtpAddress},</if>
            <if test="eventPicFtpAddress != null">event_pic_ftp_address = #{eventPicFtpAddress},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdEventDetectionById" parameterType="Long">
        delete from sd_event_detection where id = #{id}
    </delete>

    <delete id="deleteSdEventDetectionByIds" parameterType="String">
        delete from sd_event_detection where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>