<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdInspectionMapper">

    <resultMap type="SdInspection" id="SdInspectionResult">
        <result property="inspectionId"    column="inspection_id"    />
        <result property="inspectionPerson"    column="inspection_person"    />
        <result property="inspectionTime"    column="inspection_time"    />
        <result property="inspectionPosition"    column="inspection_position"    />
        <result property="inspectionTunnel"    column="inspection_tunnel"    />
        <result property="inspectionRemark"    column="inspection_remark"    />
        <result property="identifyProblem"    column="identify_problem"    />
        <result property="resolveProblem"    column="resolve_problem"    />
        <result property="inspectionContent"    column="inspection_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="createName"    column="create_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateName"    column="update_name"    />
        <result property="tunnelName" column="tunnel_name"/>
        <result property="isRepair" column="is_repair"/>
        <result property="repairPerson" column="repair_person"/>
        <result property="phone" column="phone"/>
        <result property="repairDetail" column="repair_detail"/>
        <result property="eqId" column="eq_id"/>
        <result property="state" column="state"/>
        <result property="inspectionEndTime" column="inspection_end_time"/>
        <result property="planFileId" column="plan_file_id" />
    </resultMap>

    <resultMap id="tunnelResult" type="SdTunnels">
        <id property="tunnelId" column="tunnel_id"/>
        <result property="tunnelName" column="tunnel_name"/>
    </resultMap>

    <sql id="selectSdInspectionVo">
        select inspection_id, inspection_person, inspection_time, inspection_position, inspection_tunnel,
               inspection_remark, identify_problem, resolve_problem, inspection_content, create_time, create_name,
               update_time, update_name, is_repair, repair_person, phone, repair_detail, eq_id, state, inspection_end_time,
               plan_file_id
        from sd_inspection
    </sql>

    <select id="selectSdInspectionList" parameterType="SdInspection" resultMap="SdInspectionResult">
        select a.inspection_id, a.inspection_person, b.tunnel_name, a.inspection_time, a.inspection_position, a.inspection_tunnel, a.inspection_remark,
        a.identify_problem, a.resolve_problem, a.inspection_content, a.create_time, a.create_name, a.update_time,
        a.update_name, a.is_repair, a.repair_person, a.phone, a.repair_detail, b.tunnel_name, a.eq_id, a.state
        , a.inspection_end_time, a.plan_file_id
        from sd_inspection a
        left join sd_tunnels b on a.inspection_tunnel = b.tunnel_id
        <where>
            <if test="inspectionPerson != null  and inspectionPerson != ''"> and a.inspection_person = #{inspectionPerson}</if>
            <if test="inspectionPosition != null  and inspectionPosition != ''"> and inspection_position = #{inspectionPosition}</if>
            <if test="inspectionTime != null"> and a.inspection_time <![CDATA[ >= ]]> #{inspectionTime}</if>
            <if test="inspectionEndTime != null"> and a.inspection_end_time <![CDATA[ <= ]]> #{inspectionEndTime}</if>
            <if test="inspectionTunnel != null  and inspectionTunnel != ''"> and a.inspection_tunnel = #{inspectionTunnel}</if>
            <if test="inspectionRemark != null  and inspectionRemark != ''"> and a.inspection_remark = #{inspectionRemark}</if>
            <if test="identifyProblem != null  and identifyProblem != ''"> and a.identify_problem = #{identifyProblem}</if>
            <if test="resolveProblem != null  and resolveProblem != ''"> and a.resolve_problem = #{resolveProblem}</if>
            <if test="inspectionContent != null  and inspectionContent != ''"> and a.inspection_content = #{inspectionContent}</if>
            <if test="createTime != null "> and a.create_time = #{createTime}</if>
            <if test="createName != null  and createName != ''"> and a.create_name like concat('%', #{createName}, '%')</if>
            <if test="updateName != null  and updateName != ''"> and a.update_name like concat('%', #{updateName}, '%')</if>
            <if test="state != null "> and a.state = #{state}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (b.dept_id = #{params.deptId} OR b.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdInspectionById" parameterType="Long" resultMap="SdInspectionResult">
        select a.inspection_id, a.inspection_person, b.tunnel_name, a.inspection_time, a.inspection_position, a.inspection_tunnel, a.inspection_remark,
        a.identify_problem, a.resolve_problem, a.inspection_content, a.create_time, a.create_name, a.update_time,
        a.update_name, a.is_repair, a.repair_person, a.phone, a.repair_detail, b.tunnel_name, a.eq_id, a.state
        , a.inspection_end_time, a.plan_file_id
        from sd_inspection a
        left join sd_tunnels b on a.inspection_tunnel = b.tunnel_id
        where a.inspection_id = #{inspectionId}
    </select>

    <insert id="insertSdInspection" parameterType="SdInspection" useGeneratedKeys="true" keyProperty="inspectionId">
        insert into sd_inspection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inspectionPerson != null">inspection_person,</if>
            <if test="inspectionPosition != null">inspection_position,</if>
             <if test="inspectionTime != null">inspection_time,</if>
            <if test="inspectionTunnel != null">inspection_tunnel,</if>
            <if test="inspectionRemark != null">inspection_remark,</if>
            <if test="identifyProblem != null">identify_problem,</if>
            <if test="resolveProblem != null">resolve_problem,</if>
            <if test="inspectionContent != null">inspection_content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createName != null">create_name,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateName != null">update_name,</if>
            <if test="isRepair != null">is_repair,</if>
            <if test="isRepair == null">is_repair,</if>
            <if test="repairPerson != null">repair_person,</if>
            <if test="phone != null">phone,</if>
            <if test="repairDetail != null">repair_detail,</if>
            <if test="eqId != null">eq_id,</if>
            <if test="state != null">state,</if>
            <if test="inspectionEndTime != null">inspection_end_time,</if>
            <if test="planFileId != null">plan_file_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inspectionPerson != null">#{inspectionPerson},</if>
            <if test="inspectionPosition != null">#{inspectionPosition},</if>
            <if test="inspectionTime != null">#{inspectionTime},</if>
            <if test="inspectionTunnel != null">#{inspectionTunnel},</if>
            <if test="inspectionRemark != null">#{inspectionRemark},</if>
            <if test="identifyProblem != null">#{identifyProblem},</if>
            <if test="resolveProblem != null">#{resolveProblem},</if>
            <if test="inspectionContent != null">#{inspectionContent},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createName != null">#{createName},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="isRepair != null">#{isRepair},</if>
            <if test="isRepair == null">1,</if>
            <if test="repairPerson != null">#{repairPerson},</if>
            <if test="phone != null">#{phone},</if>
            <if test="repairDetail != null">#{repairDetail},</if>
            <if test="eqId != null">#{eqId},</if>
            <if test="state != null">#{state},</if>
            <if test="inspectionEndTime != null">#{inspectionEndTime},</if>
            <if test="planFileId != null">#{planFileId},</if>
         </trim>
    </insert>

    <update id="updateSdInspection" parameterType="SdInspection">
        update sd_inspection
        <trim prefix="SET" suffixOverrides=",">
            <if test="inspectionPerson != null">inspection_person = #{inspectionPerson},</if>
            <if test="inspectionPosition != null">inspection_position = #{inspectionPosition},</if>
            <if test="inspectionTime != null">inspection_time = #{inspectionTime},</if>
            <if test="inspectionTunnel != null">inspection_tunnel = #{inspectionTunnel},</if>
            <if test="inspectionRemark != null">inspection_remark = #{inspectionRemark},</if>
            <if test="identifyProblem != null">identify_problem = #{identifyProblem},</if>
            <if test="resolveProblem != null">resolve_problem = #{resolveProblem},</if>
            <if test="inspectionContent != null">inspection_content = #{inspectionContent},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="isRepair != null">is_repair = #{isRepair},</if>
            <if test="repairPerson != null">repair_person = #{repairPerson},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="repairDetail != null">repair_detail = #{repairDetail},</if>
            <if test="eqId != null">eq_id = #{eqId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="inspectionEndTime != null">inspection_end_time = #{inspectionEndTime},</if>
            <if test="planFileId != null">plan_file_id = #{planFileId},</if>
        </trim>
        where inspection_id = #{inspectionId}
    </update>

    <delete id="deleteSdInspectionById" parameterType="Long">
        delete from sd_inspection where inspection_id = #{inspectionId}
    </delete>

    <delete id="deleteSdInspectionByIds" parameterType="String">
        delete from sd_inspection where inspection_id in
        <foreach item="inspectionId" collection="array" open="(" separator="," close=")">
            #{inspectionId}
        </foreach>
    </delete>

</mapper>
