<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.platform.mapper.dataInfo.SdRepairMapper">

    <resultMap type="SdRepair" id="SdRepairResult">
        <result property="repairId"    column="repair_id"    />
        <result property="repairName"    column="repair_name"    />
        <result property="repairTunnel"    column="repair_tunnel"    />
        <result property="repairRemark"    column="repair_remark"    />
        <result property="repairTime"    column="repair_time"    />
        <result property="repairPosition"    column="repair_position"    />
        <result property="repairContent"    column="repair_content"    />
        <result property="repairResult"    column="repair_result"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateName"    column="update_name"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tunnelName" column="tunnel_name" />
    </resultMap>

     <resultMap id="tunnelResult" type="SdTunnels">
        <id property="tunnelId" column="tunnel_id"/>
        <result property="tunnelName" column="tunnel_name"/>
    </resultMap>

    <sql id="selectSdRepairVo">
        select repair_id, repair_name, repair_tunnel, repair_remark, repair_time, repair_position,
        repair_content, repair_result, create_name, create_time, update_name, update_time from sd_repair
    </sql>

    <select id="selectSdRepairList" parameterType="SdRepair" resultMap="SdRepairResult">
        select a.repair_id, a.repair_name, a.repair_tunnel, b.tunnel_name, a.repair_remark, a.repair_time,
        a.repair_position, a.repair_content, a.repair_result, a.create_name, a.create_time, a.update_name, a.update_time
        from sd_repair a
        left join sd_tunnels b on a.repair_tunnel = b.tunnel_id
        <where>
            <if test="repairName != null  and repairName != ''"> and a.repair_name like concat('%', #{repairName}, '%')</if>
            <if test="repairTunnel != null  and repairTunnel != ''"> and a.repair_tunnel = #{repairTunnel}</if>
            <if test="repairRemark != null  and repairRemark != ''"> and a.repair_remark = #{repairRemark}</if>
            <if test="repairTime != null "> and a.repair_time = #{repairTime}</if>
            <if test="repairPosition != null  and repairPosition != ''"> and a.repair_position = #{repairPosition}</if>
            <if test="repairContent != null  and repairContent != ''"> and a.repair_content = #{repairContent}</if>
            <if test="repairResult != null  and repairResult != ''"> and a.repair_result = #{repairResult}</if>
            <if test="params.deptId != null and params.deptId != ''">
                AND (b.dept_id = #{params.deptId} OR b.dept_id IN ( SELECT d.dept_id FROM sys_dept d WHERE FIND_IN_SET (#{params.deptId},d.ancestors) ))
            </if>
        </where>
    </select>

    <select id="selectSdRepairById" parameterType="Long" resultMap="SdRepairResult">
        select a.repair_id, a.repair_name, a.repair_tunnel, b.tunnel_name, a.repair_remark, a.repair_time,
        a.repair_position, a.repair_content, a.repair_result, a.create_name, a.create_time, a.update_name, a.update_time
        from sd_repair a
        left join sd_tunnels b on a.repair_tunnel = b.tunnel_id
        where repair_id = #{repairId}
    </select>

    <insert id="insertSdRepair" parameterType="SdRepair" useGeneratedKeys="true" keyProperty="repairId">
        insert into sd_repair
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="repairName != null">repair_name,</if>
            <if test="repairTunnel != null">repair_tunnel,</if>
            <if test="repairRemark != null">repair_remark,</if>
            <if test="repairTime != null">repair_time,</if>
            <if test="repairPosition != null">repair_position,</if>
            <if test="repairContent != null">repair_content,</if>
            <if test="repairResult != null">repair_result,</if>
            <if test="createName != null">create_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateName != null">update_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="repairName != null">#{repairName},</if>
            <if test="repairTunnel != null">#{repairTunnel},</if>
            <if test="repairRemark != null">#{repairRemark},</if>
            <if test="repairTime != null">#{repairTime},</if>
            <if test="repairPosition != null">#{repairPosition},</if>
            <if test="repairContent != null">#{repairContent},</if>
            <if test="repairResult != null">#{repairResult},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateName != null">#{updateName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdRepair" parameterType="SdRepair">
        update sd_repair
        <trim prefix="SET" suffixOverrides=",">
            <if test="repairName != null">repair_name = #{repairName},</if>
            <if test="repairTunnel != null">repair_tunnel = #{repairTunnel},</if>
            <if test="repairRemark != null">repair_remark = #{repairRemark},</if>
            <if test="repairTime != null">repair_time = #{repairTime},</if>
            <if test="repairPosition != null">repair_position = #{repairPosition},</if>
            <if test="repairContent != null">repair_content = #{repairContent},</if>
            <if test="repairResult != null">repair_result = #{repairResult},</if>
             <if test="createName != null">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateName != null">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where repair_id = #{repairId}
    </update>

    <delete id="deleteSdRepairById" parameterType="Long">
        delete from sd_repair where repair_id = #{repairId}
    </delete>

    <delete id="deleteSdRepairByIds" parameterType="String">
        delete from sd_repair where repair_id in
        <foreach item="repairId" collection="array" open="(" separator="," close=")">
            #{repairId}
        </foreach>
    </delete>
</mapper>
