<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.electromechanicalPatrol.SdPatrolListMapper">
    
    <resultMap type="SdPatrolList" id="SdPatrolListResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_id"    />
        <result property="eqFaultId"    column="eq_fault_id"    />
        <result property="patrolType"    column="patrol_type"    />
        <result property="eqName"    column="eq_name"    />
        <result property="position"    column="position"    />
        <result property="impression"    column="impression"    />
        <result property="network"    column="network"    />
        <result property="power"    column="power"    />
        <result property="eqStatus"    column="eq_status"    />
        <result property="runStatus"    column="run_status"    />
        <result property="eqFaultCode"    column="eq_fault_code"    />
        <result property="eqFaultDescription"    column="eq_fault_description"    />
        <result property="faultClstatus"    column="fault_clstatus"    />
        <result property="xcTime"    column="xc_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="xcSort"    column="xc_sort"    />
        <result property="xcStatus"    column="xc_status"    />
        <result property="imgFileId"    column="img_file_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdPatrolListVo">
        select id, task_id, eq_fault_id, patrol_type, eq_name, position, impression, network, power, eq_status, run_status, eq_fault_code, eq_fault_description, fault_clstatus, xc_time, create_time, xc_sort, xc_status, img_file_id, create_by, update_by, update_time from sd_patrol_list
    </sql>

    <select id="selectSdPatrolListList" parameterType="SdPatrolList" resultMap="SdPatrolListResult">
        <include refid="selectSdPatrolListVo"/>
        <where>  
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
            <if test="eqFaultId != null  and eqFaultId != ''"> and eq_fault_id = #{eqFaultId}</if>
            <if test="patrolType != null "> and patrol_type = #{patrolType}</if>
            <if test="eqName != null  and eqName != ''"> and eq_name like concat('%', #{eqName}, '%')</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="impression != null "> and impression = #{impression}</if>
            <if test="network != null "> and network = #{network}</if>
            <if test="power != null "> and power = #{power}</if>
            <if test="eqStatus != null  and eqStatus != ''"> and eq_status = #{eqStatus}</if>
            <if test="runStatus != null  and runStatus != ''"> and run_status = #{runStatus}</if>
            <if test="eqFaultCode != null  and eqFaultCode != ''"> and eq_fault_code = #{eqFaultCode}</if>
            <if test="eqFaultDescription != null  and eqFaultDescription != ''"> and eq_fault_description = #{eqFaultDescription}</if>
            <if test="faultClstatus != null "> and fault_clstatus = #{faultClstatus}</if>
            <if test="xcTime != null "> and xc_time = #{xcTime}</if>
            <if test="xcSort != null "> and xc_sort = #{xcSort}</if>
            <if test="xcStatus != null "> and xc_status = #{xcStatus}</if>
            <if test="imgFileId != null  and imgFileId != ''"> and img_file_id = #{imgFileId}</if>
        </where>
    </select>
    
    <select id="selectSdPatrolListById" parameterType="String" resultMap="SdPatrolListResult">
        <include refid="selectSdPatrolListVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSdPatrolList" parameterType="SdPatrolList">
        insert into sd_patrol_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="eqFaultId != null">eq_fault_id,</if>
            <if test="patrolType != null">patrol_type,</if>
            <if test="eqName != null">eq_name,</if>
            <if test="position != null">position,</if>
            <if test="impression != null">impression,</if>
            <if test="network != null">network,</if>
            <if test="power != null">power,</if>
            <if test="eqStatus != null">eq_status,</if>
            <if test="runStatus != null">run_status,</if>
            <if test="eqFaultCode != null">eq_fault_code,</if>
            <if test="eqFaultDescription != null">eq_fault_description,</if>
            <if test="faultClstatus != null">fault_clstatus,</if>
            <if test="xcTime != null">xc_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="xcSort != null">xc_sort,</if>
            <if test="xcStatus != null">xc_status,</if>
            <if test="imgFileId != null">img_file_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="eqFaultId != null">#{eqFaultId},</if>
            <if test="patrolType != null">#{patrolType},</if>
            <if test="eqName != null">#{eqName},</if>
            <if test="position != null">#{position},</if>
            <if test="impression != null">#{impression},</if>
            <if test="network != null">#{network},</if>
            <if test="power != null">#{power},</if>
            <if test="eqStatus != null">#{eqStatus},</if>
            <if test="runStatus != null">#{runStatus},</if>
            <if test="eqFaultCode != null">#{eqFaultCode},</if>
            <if test="eqFaultDescription != null">#{eqFaultDescription},</if>
            <if test="faultClstatus != null">#{faultClstatus},</if>
            <if test="xcTime != null">#{xcTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="xcSort != null">#{xcSort},</if>
            <if test="xcStatus != null">#{xcStatus},</if>
            <if test="imgFileId != null">#{imgFileId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSdPatrolList" parameterType="SdPatrolList">
        update sd_patrol_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="eqFaultId != null">eq_fault_id = #{eqFaultId},</if>
            <if test="patrolType != null">patrol_type = #{patrolType},</if>
            <if test="eqName != null">eq_name = #{eqName},</if>
            <if test="position != null">position = #{position},</if>
            <if test="impression != null">impression = #{impression},</if>
            <if test="network != null">network = #{network},</if>
            <if test="power != null">power = #{power},</if>
            <if test="eqStatus != null">eq_status = #{eqStatus},</if>
            <if test="runStatus != null">run_status = #{runStatus},</if>
            <if test="eqFaultCode != null">eq_fault_code = #{eqFaultCode},</if>
            <if test="eqFaultDescription != null">eq_fault_description = #{eqFaultDescription},</if>
            <if test="faultClstatus != null">fault_clstatus = #{faultClstatus},</if>
            <if test="xcTime != null">xc_time = #{xcTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="xcSort != null">xc_sort = #{xcSort},</if>
            <if test="xcStatus != null">xc_status = #{xcStatus},</if>
            <if test="imgFileId != null">img_file_id = #{imgFileId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdPatrolListById" parameterType="String">
        delete from sd_patrol_list where id = #{id}
    </delete>

    <delete id="deleteSdPatrolListByIds" parameterType="String">
        delete from sd_patrol_list where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



    <insert id="batchInsertPatrolList" parameterType="sdPatrolList">
        insert into sd_patrol_list(id,task_id,eq_fault_id,patrol_type,eq_name,position,create_time)
        values
        <foreach collection="sdPatrolList"  separator="," item="patrol" index="index">
            (
            #{patrol.id},
            #{id},
            #{patrol.eqFaultId},
            #{patrol.patrolType},
            #{patrol.eqName},
            #{patrol.position},
            SYSDATE()
            )
        </foreach>
    </insert>

    <delete id="batchDeletePatrolListByTaskId" parameterType="String">
        delete from sd_patrol_list where task_id = #{id}
    </delete>

    <delete id="batchDeletePatrolListByTaskIds" parameterType="String">
        delete from sd_patrol_list where task_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>



    <select id="getPatrolListsInfo" parameterType="String" resultMap="SdPatrolListResult" >
    select p.*,f.fallt_remove_statue,t.bz_id,t.walker_id,s.state_name as run_status,a.state_name as eq_status
    from sd_patrol_list p
    left join sd_task_list t on t.id = p.task_id
    left join sd_fault_list f on f.id = p.eq_fault_id
    left join sd_devices d on d.eq_id = p.eq_fault_id
    left join sd_equipment_state s on s.device_state = p.run_status  and
    d.eq_type = s.state_type_id and  s.state_type = '2'
    left join sd_equipment_state a on a.device_state = p.eq_status  and
    d.eq_type = a.state_type_id and  a.state_type = '1'
    where p.task_id = #{task_id}
    </select>


</mapper>