<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tunnel.business.mapper.platformApi.SdPlatformApiMapper">

    <insert id="insertSdPushHistory" parameterType="com.tunnel.business.domain.platformApi.SdPlatformApi">
        insert into sd_push_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
        	<if test="dataType != null">data_type,</if>
            <if test="pushData != null">push_data,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dataType != null">#{dataType},</if>
            <if test="pushData != null">#{pushData},</if>
          	#{createTime}
        </trim>
    </insert>

    <update id="updateSdPushHistory" parameterType="com.tunnel.business.domain.platformApi.SdPlatformApi">
        update sd_push_history
        <set>
            <if test="dataType != null">data_type = #{dataType},</if>
            <if test="pushData != null">push_data = #{pushData},</if>
            <if test="pushStatus != null">push_status = #{pushStatus},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteSdPushHistoryById" parameterType="Long">
        delete from sd_push_history where id = #{id}
    </delete>

    <delete id="deleteSdPushHistoryByIds" parameterType="String">
        delete from sd_push_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectList" resultType="com.tunnel.business.domain.platformApi.SdPlatformApi">
        select
            id,
            data_type as dataType,
            push_data as pushData
        from
            sd_push_history
        where push_status = '0' order by create_time asc for update
    </select>
</mapper>
